Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

[ACS-7572] link rules dialog fixes (#9607)
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.html
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - Funny imports
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint

Fixed SonarCloud complaints
  lib/content-services/src/lib/search/components/search-chip-list/search-chip-list.component.html
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
Due: prettier --write, stylelint

[ACS-7413] Dialog height and spacing issues (#9515)
  lib/content-services/src/lib/dialogs/confirm.dialog.html
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
Due: prettier --write, stylelint

[ACS-7331] - View details sidebar (#9455)
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7414] - Manage versions dialog
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.html
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-7373] mat-icon-buttons
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
Due: none

Fixed unit test
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
Due: prettier --write, eslint

[ACS-7452] - Small screen notification banner [ACS-7418] About page (#9507)
  lib/core/src/lib/about/about-package/package-list.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.scss
  lib/core/src/lib/styles/_components-variables.scss
Due: prettier --write, eslint, stylelint

[ACS-7560] undo deletion notification (#9632)
  lib/core/src/lib/snackbar-content/snackbar-content.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

Fixing unit test after last rebase + lint
  lib/process-services-cloud/src/lib/common/date-range-filter/date-range-filter.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-7446] - Upload progress box issues
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.scss
Due: prettier --write, stylelint

AAE-21392 Fix dropdown form widget style (#9605)
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] - Rebased and added an extra fix for after
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.ts
Due: prettier --write, eslint

[ACS-7530] - Notifications popup looks a bit differently (#9543)
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - REBASED
  lib/core/api/src/lib/adf-http-client.service.spec.ts
  lib/core/src/lib/about/about-github-link/about-github-link.component.spec.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/services/identity-group.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/process-services-cloud/src/lib/group/services/identity-group.service.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Added pretheme for core as it is mandatory when publishing and rebuilding
  angular.json
  lib/core/project.json
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
Due: prettier --write, stylelint

Rebased ADF Migration PR
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
Due: prettier --write, eslint

[ACS-7555] column filters (#9576)
  lib/content-services/src/lib/search/components/search-check-list/search-check-list.component.scss
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - Fixed problem after rebase
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/dialogs/folder.dialog.spec.ts
  lib/core/src/lib/directives/infinite-select-scroll.directive.spec.ts
Due: prettier --write, eslint

Rebased to the latest
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
Due: prettier --write, stylelint

Re Enabling unit test removed
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[ACS-7534] create/edit folder dialog fixes (#9575)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.ts
Due: prettier --write, eslint, stylelint

[ACS-7373] ng15 permissions page fixes
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

Fixing unit test after last rebase + lint
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7519] - Login page (#9565)
  lib/core/src/lib/login/components/login/login.component.html
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.spec.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

Rebased to the latest develop
  package-lock.json
Due: none

[affected:*][ci:force] Fixing e2e - the return of the fail
  lib/testing/src/lib/protractor/core/pages/form/widgets/dropdown-widget.page.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/form/widget/attach-file-widget-cloud.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Remove fit
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
Due: prettier --write, eslint

[ACS-7414] - manage versions dialog (#9545)
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

Fixing unit test after last rebase + lint
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-21393 Fix amount form widget style (#9601)
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - Rebased
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  package-lock.json
Due: prettier --write, stylelint

Extra parentesys lint
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing e2e - fixing the last ones
  e2e/process-services-cloud/form-field/dropdown-widget.e2e.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
Due: prettier --write, eslint

[ACS-7582] Upload dialog button display fix (#9603)
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.scss
Due: prettier --write, stylelint

[ACS-7575] create library dialog fixes (#9574)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
Due: prettier --write, stylelint

[ACS-7359] - Angular 15 - Edit aspects modal [ACA] (#9488)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

AAE-21256 Fix form widget styles (#9599)
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint
