Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

[ACS-7419] Fix broken styling of notifications, apply pr remarks
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

Rebased ADF Migration PR
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
Due: prettier --write, eslint

[ACS-7542] - Upload new version dialog (#9572)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/upload/components/upload-button.component.html
  lib/content-services/src/lib/upload/components/upload-button.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.html
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint

[ACS-7331] - View details sidebar (#9455)
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7982] ACC - fix categories tree (#9715)
  lib/content-services/src/lib/tree/components/tree.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
Due: prettier --write, eslint

[ACS-7768] unify inputs and selects across the app - revert (#9699)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-input/search-input.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.html
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.html
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/_reference-variables.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, eslint, stylelint

[ACS-8004] Fix inputs for move folder (#9707)
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

[ACS-7999] Fix inputs for edit and create folder (#9713)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7998] - Add permissions input (#9704)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
Due: prettier --write, stylelint

Fixed after rebase
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.spec.ts
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint

Fixed package-lock
  package-lock.json
Due: none

Fixed after rebase
  lib/core/feature-flags/src/lib/directives/features.directive.ts
  lib/core/feature-flags/src/lib/directives/not-features.directive.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.spec.ts
  lib/testing/package-lock.json
Due: prettier --write, eslint

Fixed unit test for process
  lib/process-services/src/lib/app-list/apps-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/process-user-info/process-user-info.component.spec.ts
Due: prettier --write, eslint

[ACS-8026] Fixed task form rendering (#9742)
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/error/error.component.html
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
  lib/process-services/src/lib/form/form.component.html
  lib/process-services/src/lib/form/form.component.scss
  lib/process-services/src/lib/form/form.component.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.html
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
Due: prettier --write, eslint, stylelint

[ACS-8042] Fixed styles for inputs in library creation (#9751)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

These dependencies will kill me
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/extensions/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

AAE-22783 Fix form elements label style (#9725)
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Added missing import for uppercase pipe (#9748)
  lib/core/src/lib/form/components/form-renderer.component.ts
Due: prettier --write, eslint

Fixed package json
  lib/js-api/package.json
  lib/testing/package-lock.json
Due: none

Fixed package and e2e with tabs that now are capital letters?
  e2e/process-services-cloud/form-field/visibility-condition-tabs.e2e.ts
  e2e/resources/forms/tab-visibility-conditions.ts
  lib/testing/src/lib/protractor/process-services-cloud/resources/resources.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-8021] Inputs for comments (#9722)
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
Due: prettier --write, stylelint

[ACS-8052] Inputs for general info for libraries (#9745)
  lib/core/src/lib/info-drawer/info-drawer.component.scss
Due: prettier --write, stylelint

[ACS-7974] Adding material selectors for assign security marks dialog (#9755)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8069] Updated error-content.component.html to be aligned with the new mat typography classes in angular material v15 (#9762)
  lib/core/src/lib/templates/error-content/error-content.component.html
Due: none

Added missing mat selector for mat-list-item-disabled (#9763)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8008] - Inputs for properties panel "General info" (#9744)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
Due: prettier --write, stylelint

Ehi Js-Api should be 7.8 NOT 7.9
  lib/js-api/package.json
Due: none

Recreated package-lock
  package-lock.json
Due: none

Removed wrong version on core package
  lib/core/package.json
Due: none

[ACS-7983] Fixed security controls dialog (#9747)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7981] UI fixes for create categories dialog (#9754)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7978] [ACC] Edit Group details
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fix unit tests
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
Due: prettier --write, eslint

Fixed process unit test after huge rebase
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/material.module.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/process-user-info/process-user-info.module.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

[ACS-7552] - ACA menu column get disabled on resize of browser (#9679)
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
  lib/core/src/lib/layout/components/layout-container/layout-container.component.ts
Due: prettier --write, eslint

add possibility to use sortkey as preset
  lib/process-services-cloud/src/lib/task/task-list/components/base-task-list-cloud.component.ts
Due: prettier --write, eslint

add possibility to use sortkey as preset (#9765)
  lib/process-services-cloud/src/lib/task/task-list/components/base-task-list-cloud.component.ts
Due: prettier --write, eslint

ACS-6644 Updated config guide, added build example, fixed mistakes
  docs/content-services/components/search-check-list.component.md
  docs/content-services/components/search-filter-tabbed.component.md
  docs/content-services/components/search-form.component.md
  docs/content-services/components/search-input.component.md
  docs/content-services/components/search-number-range.component.md
  docs/content-services/components/search-radio.component.md
  docs/content-services/components/search-slider.component.md
  docs/content-services/components/search-text.component.md
  docs/docassets/images/search-facet-intervals.png
  docs/docassets/images/search-with-configs-example.png
  docs/docassets/images/simple-search-example.png
  docs/user-guide/search-building.md
  docs/user-guide/search-configuration-guide.md
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
