Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

[ACS-7999] Fix inputs for edit and create folder (#9713)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Trying to fix the long failing e2ea
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[ACS-7983] Fixed security controls dialog (#9747)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Missed import
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-23478 replace nav-list with action-list (#9875)
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/base-task-filters-cloud.component.html
Due: none

[ACS-7979] Fixed UI for create tags dialog (#9793)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/tag/tag.module.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
Due: prettier --write, eslint, stylelint

[ACS-8272] [ADW] Testing Angular 15 - Misplaced buttons Cancel and Start process (#9869)
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
Due: prettier --write, stylelint

AAE 22837 Move confirm to core (#9750)
  docs/README.md
  docs/core/dialogs/confirm.dialog.md
  docs/release-notes/RelNote320.md
  docs/versionIndex.md
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.ts
  lib/content-services/src/lib/dialogs/dialog.module.ts
  lib/content-services/src/lib/dialogs/public-api.ts
  lib/content-services/src/lib/i18n/ar.json
  lib/content-services/src/lib/i18n/cs.json
  lib/content-services/src/lib/i18n/da.json
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fi.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/ja.json
  lib/content-services/src/lib/i18n/nb.json
  lib/content-services/src/lib/i18n/nl.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt-BR.json
  lib/content-services/src/lib/i18n/ru.json
  lib/content-services/src/lib/i18n/sv.json
  lib/content-services/src/lib/i18n/zh-CN.json
  lib/content-services/src/lib/version-manager/version-list.component.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.html
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.module.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.scss
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.spec.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.ts
  lib/core/src/lib/dialogs/public-api.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint, stylelint

Fixed package-lock
  package-lock.json
Due: none

[ACS-7768] unify inputs and selects across the app - revert (#9699)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-input/search-input.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.html
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.html
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/_reference-variables.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, eslint, stylelint

[ACS-8021] Inputs for comments (#9722)
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
Due: prettier --write, stylelint

[ACS-7944] [ADW] Start process page (#9802)
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
Due: prettier --write, stylelint

Fixed linting for packages
  lib/content-services/src/lib/version-manager/version-list.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.module.ts
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

[ACS-8322] Testing Angular 15 - Info Drawer - General info - Missing … (#9901)
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
Due: prettier --write, stylelint

[ACS-8260] add user dialog misplaced search icon and space issue (#9897)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
Due: prettier --write, stylelint

Fixing style
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

AAE-22858 Fix date button style (#9892)
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
Due: prettier --write, stylelint

Fixing unit test an builds
  lib/content-services/src/lib/search/components/search-control.component.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.stories.ts
  lib/core/src/lib/buttons-menu/buttons-menu.module.ts
  lib/core/src/lib/search-text/search-text-input.component.spec.ts
Due: prettier --write, eslint

[AAE-23622] fixed buttons and chips (#9913)
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.html
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.scss
Due: prettier --write, stylelint

AAE-23556 Fix search text input component styles (#9895)
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint, stylelint

[ACS-8275] [ACA] Angular 15 tags are not displayed correctly (#9896)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
Due: prettier --write, stylelint

back to mocha, working in future node versions
  lib/js-api/.mocharc.json
  lib/js-api/project.json
  lib/js-api/test/oauth2AuthImplicitFlow.spec.ts
  lib/js-api/tsconfig.spec.json
Due: prettier --write, eslint

update package-lock
  package-lock.json
  package.json
Due: none

change bundle to build
  .github/workflows/pull-request.yml
  .github/workflows/release-branch.yml
  .github/workflows/release.yml
Due: none

update node to 18.20.3 [ci:force]
  .nvmrc
  lib/process-services-cloud/.nvmrc
Due: none

fix e2es [ci:force]
  .github/actions/e2e/action.yml
  scripts/github/release/release-demoshell-docker.sh
  scripts/github/release/release-storybook-docker.sh
Due: none

bring bundle back to fix e2e [ci:force]
  .github/actions/e2e/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-branch.yml
  .github/workflows/release.yml
  lib/js-api/project.json
Due: none

patch in legacy builds
  lib/js-api/project.json
Due: none

Updated package-lock
  package-lock.json
Due: none

Updated executor to new @nx
  lib/js-api/project.json
Due: none

Revert "Updated executor to new @nx"
  lib/js-api/project.json
Due: none

Improved ts config reverted changes on @nrwl
  lib/js-api/test/tsconfig.json
  lib/js-api/tsconfig.spec.json
  scripts/github/release/release-demoshell-docker.sh
  scripts/github/release/release-storybook-docker.sh
Due: none

Aae 23572 recreate js api lib into a proper nx workspace lib bis (#9917)
  .nvmrc
  lib/js-api/.mocharc.json
  lib/js-api/project.json
  lib/js-api/test/oauth2AuthImplicitFlow.spec.ts
  lib/js-api/tsconfig.spec.json
  lib/process-services-cloud/.nvmrc
  package-lock.json
  package.json
  scripts/github/release/release-storybook-docker.sh
Due: prettier --write, eslint

move content user info to demo shell
  demo-shell/src/app/app.module.ts
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.component.html
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.component.scss
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.component.spec.ts
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.component.ts
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.module.ts
  demo-shell/src/app/components/app-layout/user-info/content-user-info/index.ts
  demo-shell/src/app/components/app-layout/user-info/content-user-info/public-api.ts
  docs/README.md
  docs/content-services/components/content-user-info.component.md
  lib/content-services/src/lib/content.module.ts
  lib/content-services/src/public-api.ts
Due: prettier --write, eslint, stylelint

move process user info to demo shell
  demo-shell/src/app/app.module.ts
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.component.spec.ts
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.component.ts
  demo-shell/src/app/components/app-layout/user-info/process-user-info/index.ts
  demo-shell/src/app/components/app-layout/user-info/process-user-info/process-user-info.component.html
  demo-shell/src/app/components/app-layout/user-info/process-user-info/process-user-info.component.scss
  demo-shell/src/app/components/app-layout/user-info/process-user-info/process-user-info.component.spec.ts
  demo-shell/src/app/components/app-layout/user-info/process-user-info/process-user-info.component.ts
  demo-shell/src/app/components/app-layout/user-info/process-user-info/public-api.ts
  docs/README.md
  docs/process-services/components/process-user-info.component.md
  lib/content-services/src/public-api.ts
  lib/process-services/src/lib/process.module.ts
  lib/process-services/src/public-api.ts
Due: prettier --write, eslint, stylelint

move process user info to demo shell [ci:force]
  docs/content-services/components/content-user-info.component.md
  docs/process-services/components/process-user-info.component.md
Due: none

move process user info to demo shell [ci:force]
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.component.spec.ts
  lib/content-services/src/lib/common/mocks/ecm-user.service.mock.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
Due: prettier --write, eslint

move process user info to demo shell [ci:force]
  demo-shell/src/app/app.module.ts
  lib/process-services/src/lib/process.module.ts
Due: prettier --write, eslint

move process user info to demo shell [ci:force]
  demo-shell/resources/images/bpm-background.png
  demo-shell/resources/images/ecm-background.png
  demo-shell/src/app/components/app-layout/user-info/content-user-info/content-user-info.component.ts
  demo-shell/src/app/components/app-layout/user-info/process-user-info/process-user-info.component.ts
Due: prettier --write, eslint
