Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

[ACS-8274] angular 15 description field in info drawer is truncated and scrollable (#9878)
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
Due: none

Migrating to NG16
  .eslintrc.js
  lib/core/src/lib/common/services/log.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Something changed on the command package
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/cli/scripts/audit.ts
  lib/cli/scripts/check-cs-env.ts
  lib/cli/scripts/check-plugin-env.ts
  lib/cli/scripts/init-aae-env.ts
  lib/cli/scripts/init-acs-env.ts
  lib/cli/scripts/init-aps-env.ts
  lib/cli/scripts/licenses.ts
Due: prettier --write, eslint

Adding some extra dev dependency
  .nvmrc
  lib/eslint-angular/src/rules/no-angular-material-selectors/no-angular-material-selectors.ts
  lib/eslint-angular/src/rules/use-none-component-view-encapsulation/use-none-component-view-encapsulation.ts
  lib/process-services-cloud/.nvmrc
  lib/testing/src/lib/protractor/core/actions/identity/group-identity.service.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/login.page.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Fixed stylelint
  .eslintrc.js
  demo-shell/src/app/components/cloud/task-details-cloud-demo.component.ts
Due: prettier --write, eslint

[AAE-23622] fixed buttons and chips
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.html
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.scss
Due: prettier --write, stylelint

back to mocha, working in future node versions
  lib/js-api-old/.mocharc.json
  lib/js-api/.mocharc.json
  lib/js-api/project.json
  lib/js-api/test/oauth2Auth.spec.ts
  lib/js-api/test/oauth2AuthImplicitFlow.spec.ts
  lib/js-api/test/tsconfig.json
  lib/js-api/tsconfig.spec.json
Due: prettier --write, eslint

update package-lock
  lib/js-api/jest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

change bundle to build
  .github/workflows/pull-request.yml
  .github/workflows/release-branch.yml
  .github/workflows/release.yml
Due: none

update node to 18.20.3 [ci:force]
  .nvmrc
  lib/process-services-cloud/.nvmrc
Due: none

fix e2es [ci:force]
  .github/actions/e2e/action.yml
  scripts/github/release/release-demoshell-docker.sh
  scripts/github/release/release-storybook-docker.sh
Due: none

bring bundle back to fix e2e [ci:force]
  .github/actions/e2e/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-branch.yml
  .github/workflows/release.yml
  angular.json
  lib/js-api/project.json
Due: none

patch in legacy builds
  lib/js-api/project.json
Due: none

AAE-23640 Fix dates
  lib/core/src/lib/common/utils/date-fns-utils.spec.ts
  lib/core/src/lib/common/utils/date-fns-utils.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
Due: prettier --write, eslint

Fix sonar
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
Due: prettier --write, eslint

Fix tests
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
Due: prettier --write, eslint

[AAE-23640] Fix dates (#9916)
  lib/core/src/lib/common/utils/date-fns-utils.spec.ts
  lib/core/src/lib/common/utils/date-fns-utils.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
Due: prettier --write, eslint

Uppercase for tabs - missed some tests
  e2e/process-services-cloud/task-list/task-form-cloud-component-tab.e2e.ts
  e2e/process-services/tasks/task-details-form.e2e.ts
Due: prettier --write, eslint

Fixed a dependency problem
  package.json
Due: none

Fixed code flow switch setting
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed e2e with new notation
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed lint after error on important
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

unit test fixes for migration (#9217)
  lib/js-api/test/upload.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Upgrading material selector class
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata-header.component.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.html
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.scss
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/form/components/widgets/text/text.widget.scss
  lib/core/src/lib/identity-user-info/identity-user-info.component.html
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/login/components/login.component.html
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/extensions/src/lib/components/dynamic-column/dynamic-column.component.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filter-dialog-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filter-dialog/task-filter-dialog-cloud.component.html
  lib/process-services/src/lib/form/start-form/start-form.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/form/widgets/people/people.widget.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
  lib/process-services/src/lib/task-list/components/task-details/task-details.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint, stylelint

readded missing dep
  package-lock.json
  package.json
Due: none

[affected:*][ci:force] Fixed lint
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
Due: prettier --write, eslint

Fixing unit after rebase
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Wrong setting page
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

E2E - fixing
  angular.json
  demo-shell/project.json
Due: none

Revert "Fixed a dependency problem"
  package.json
Due: none

remaining unit test fixes for the Angular 15 update (#9218)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

Fixed package.json
  lib/cli/package.json
  package.json
Due: none

Fixing styles not migrated by material
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/process-user-info/process-user-info.component.scss
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
  lib/process-services/src/lib/task-list/components/task-details/task-details.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
  lib/process-services/src/lib/task-list/components/task-standalone/task-standalone.component.scss
Due: prettier --write, stylelint

[AAE-21084] Fix e2e Content: Upload and Versioning - C279992 - fix enable togle selector
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint
