Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

Fixed unit test for process
  demo-shell/src/app/components/app-layout/user-info/process-user-info/process-user-info.component.spec.ts
  lib/process-services/src/lib/app-list/apps-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

[ACS-8052] Inputs for general info for libraries (#9745)
  lib/core/src/lib/info-drawer/info-drawer.component.scss
Due: prettier --write, stylelint

Fixed after rebase
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.spec.ts
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint

[ACS-8008] - Inputs for properties panel "General info" (#9744)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
Due: prettier --write, stylelint

Fixed package-lock
  package-lock.json
Due: none

[ACS-8026] Fixed task form rendering (#9742)
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/error/error.component.html
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
  lib/process-services/src/lib/form/form.component.html
  lib/process-services/src/lib/form/form.component.scss
  lib/process-services/src/lib/form/form.component.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.html
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
Due: prettier --write, eslint, stylelint

Removed wrong version on core package
  lib/core/package.json
Due: none

Insight material module has been removed
  lib/insights/src/lib/material.module.ts
Due: prettier --write, eslint

[ACS-8096] Print button in the viewer does not open the print window (#9776) (#9778)
  lib/content-services/src/lib/common/services/rendition.service.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
Due: prettier --write, eslint, stylelint

[ACS-7983] Fixed security controls dialog (#9747)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Added missing import for uppercase pipe (#9748)
  lib/core/src/lib/form/components/form-renderer.component.ts
Due: prettier --write, eslint

Fixed process unit test after huge rebase
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/material.module.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

Missed import
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

Updated calendar selector
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Fixed property e2e
  e2e/core/pages/metadata-view.page.ts
Due: prettier --write, eslint

[ACS-7973] [ACC] header layout (#9782)
  docs/core/components/search-text-input.component.md
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-8004] Fix inputs for move folder (#9707)
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

These dependencies will kill me
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/extensions/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

Fixed imports for confirm dialog unit tests
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.spec.ts
Due: prettier --write, eslint

Recreated package-lock
  package-lock.json
Due: none

[ACS-8092] [ACA] testing angular 15 notifications bell is much smaller and is further from the profile page 2 (#9786)
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8066] Fixed unit tests (#9783)
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.spec.ts
Due: prettier --write, eslint

[ACS-7768] unify inputs and selects across the app - revert (#9699)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-input/search-input.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.html
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.html
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/_reference-variables.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, eslint, stylelint

[ACS-8069] Updated error-content.component.html to be aligned with the new mat typography classes in angular material v15 (#9762)
  lib/core/src/lib/templates/error-content/error-content.component.html
Due: none

[ACS-7982] ACC - fix categories tree (#9715)
  lib/content-services/src/lib/tree/components/tree.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
Due: prettier --write, eslint

[ACS-8066] Style inputs for link rule dialog (#9773)
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
Due: prettier --write, stylelint

[ACS-7974] Adding material selectors for assign security marks dialog (#9755)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed after rebase
  lib/core/feature-flags/src/lib/directives/features.directive.ts
  lib/core/feature-flags/src/lib/directives/not-features.directive.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.spec.ts
  lib/testing/package-lock.json
Due: prettier --write, eslint

[ACS-7981] UI fixes for create categories dialog (#9754)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-8042] Fixed styles for inputs in library creation (#9751)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8021] Inputs for comments (#9722)
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
Due: prettier --write, stylelint

[ACS-7999] Fix inputs for edit and create folder (#9713)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Disabled failing unit from content
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint

Fixed unit test after rebase
  lib/content-services/src/lib/common/services/content.service.spec.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
  lib/content-services/src/lib/dialogs/download-zip/download-zip.dialog.spec.ts
  lib/content-services/src/lib/directives/check-allowable-operation.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-delete.directive.spec.ts
  lib/content-services/src/lib/directives/node-download.directive.spec.ts
  lib/content-services/src/lib/document-list/components/file-auto-download/file-auto-download.component.spec.ts
  lib/content-services/src/lib/document-list/services/lock.service.spec.ts
  lib/content-services/src/lib/node-comments/services/node-comments.service.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.directive.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

Fixing unit test and lint issues after merging with storybook latest
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.stories.ts
Due: prettier --write, eslint

[ACS-8272] [ADW] Testing Angular 15 - Misplaced buttons Cancel and Start process (#9869)
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
Due: prettier --write, stylelint

AAE-23478 replace nav-list with action-list (#9875)
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/base-task-filters-cloud.component.html
Due: none

Fixed missing locator for content e2e
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

Fixed linting for packages
  lib/content-services/src/lib/version-manager/version-list.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.module.ts
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint
