Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

ACS-8055 fix imports
  lib/js-api/src/api/gs-classification-rest-api/model/index.ts
  lib/js-api/src/api/gs-core-rest-api/model/hold.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
Due: prettier --write, eslint

ACS-8055 add documentation
  docs/core/services/nodes-api.service.md
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/src/api/gs-classification-rest-api/model/nodeHold.ts
  lib/js-api/src/api/gs-core-rest-api/README.md
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/Hold.md
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
  lib/js-api/src/api/gs-core-rest-api/model/nodeHold.ts
Due: prettier --write, eslint

ACS-8055 create legal-hold service
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/legal-hold/index.ts
  lib/content-services/src/lib/legal-hold/public-api.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/content-services/src/public-api.ts
  lib/js-api/src/api/content-rest-api/api/nodes.api.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssignedHold.ts
  lib/js-api/src/api/content-rest-api/model/nodeChildAssociation.ts
  lib/js-api/src/api/content-rest-api/model/nodeHold.ts
  lib/js-api/src/api/gs-classification-rest-api/model/nodeHold.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
Due: prettier --write, eslint

ACS-8055 fix interface typo
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/js-api/src/api/gs-core-rest-api/model/hold.ts
Due: prettier --write, eslint

ACS-8055 add listAssignedHolds API
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/js-api/src/api/content-rest-api/api/nodes.api.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssignedHold.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssignedHoldEntry.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssignedHoldPagingList.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssinedHoldsPaging.ts
  lib/js-api/src/api/gs-classification-rest-api/model/index.ts
  lib/js-api/src/api/gs-classification-rest-api/model/nodeHold.ts
Due: prettier --write, eslint

[ACS-7944] [ADW] Start process page
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
Due: prettier --write, stylelint

[ACS-7944] [ADW] Start process page (#9802)
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
Due: prettier --write, stylelint

[ACS-8001] cr fixes
  docs/core/components/content-enrichment-menu.component.md
  docs/versionIndex.md
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/prediction/components/content-enrichment-menu/content-enrichment-menu.component.html
  lib/core/src/lib/prediction/components/content-enrichment-menu/content-enrichment-menu.component.ts
Due: prettier --write, eslint

ACS-8157 Used mat chip set instead of mat chip listbox for dynamic chip list to hide tick icon for chips
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
Due: none

[ACS-8157] Used mat chip set instead of mat chip listbox for dynamic chip list to hide tick icon for chips (#9803)
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
Due: none

Fixed issue on focus mat calendar
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7980] fix style (#9798)
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.html
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.scss
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.ts
Due: prettier --write, eslint, stylelint

[ACS-8001] handle unsubscription
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
Due: prettier --write, eslint

[ACS-7381] fix for e2e
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[ACS-7381] fix for e2e
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
Due: prettier --write, eslint

ACS-8055 add optional options and uodate nodes-api.service.md
  docs/core/services/nodes-api.service.md
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
Due: prettier --write, eslint

ACS-8055 update interface
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/js-api/src/api/gs-core-rest-api/model/hold.ts
Due: prettier --write, eslint

[ACS-8158] Fixed spacing of tags in ACA
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
Due: prettier --write, stylelint

[ACS-8158] Fixed unit tests
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint

[ACS-7979] Fixed UI for create tags dialog. Minor UI fixes of create categories dialog as well
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/tag/tag.module.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
Due: prettier --write, eslint, stylelint

[ACS-7979] Fixed unit tests
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint

[ACS-7979] Replaced dependency of CoreModule from tag.module.ts with TranslateModule and DynamicChipListModule
  lib/content-services/src/lib/tag/tag.module.ts
Due: prettier --write, eslint

[ACS-7979] Fixed UI for create tags dialog (#9793)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/tag/tag.module.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
Due: prettier --write, eslint, stylelint

[ACS-8001] refactored deprecated keyCode
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
Due: prettier --write, eslint

ACS-8055 add HoldPaging class and documentation
  lib/js-api/src/api/content-rest-api/model/nodeChildAssociation.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/Hold.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldEntry.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldPaging.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldPagingList.md
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
  lib/js-api/src/api/gs-core-rest-api/docs/RecordCategoryPagingList.md
  lib/js-api/src/api/gs-core-rest-api/model/holdEntry.ts
  lib/js-api/src/api/gs-core-rest-api/model/holdPaging.ts
  lib/js-api/src/api/gs-core-rest-api/model/holdPagingList.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
Due: prettier --write, eslint

[ACS-8001] empty line
  lib/core/src/lib/prediction/components/content-enrichment-menu/content-enrichment-menu.component.scss
Due: prettier --write, stylelint

[ACS-8158] Fixed spacing of tags in ACA (#9808)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint, stylelint

[ACS-8001] move isDefined to object-utils
  lib/core/src/lib/common/utils/object-utils.spec.ts
  lib/core/src/lib/common/utils/object-utils.ts
  lib/core/src/lib/prediction/components/content-enrichment-menu/content-enrichment-menu.component.ts
Due: prettier --write, eslint

[ACS-8001] add semicolon
  lib/js-api/src/api/hxi-connector-api/api/predictions.api.ts
Due: prettier --write, eslint

[ACS-8001] fix test
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint

AAE-23122 bump braces version to 3.0.3
  package-lock.json
Due: none

[ACS-8001] delete not used selectors in e2e
  e2e/content-services/components/viewer-content-services-component.e2e.ts
Due: prettier --write, eslint

[ACS-8214] remove unuse variable add input id
  .github/actions/e2e/action.yml
  e2e/content-services/components/viewer-content-services-component.e2e.ts
Due: prettier --write, eslint

AAE-22965 fix datepicker focused element selector
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
Due: prettier --write, eslint

[ACS-8214] remove unuse variable add input id (#9813)
  .github/actions/e2e/action.yml
  e2e/content-services/components/viewer-content-services-component.e2e.ts
Due: prettier --write, eslint

remove useless ACA guide as it's the ADF docs [ci:force]
  docs/getting-started.md
Due: none

symlink diagram component docs
  docs/insights/components/diagram.component.md
Due: none

fix issue with widget component docs put into the analytics
  docs/README.md
  docs/core/services/form-rendering.service.md
  docs/core/services/widget.component.md
  docs/insights/components/widget.component.md
  docs/user-guide/apa-extensions.md
  docs/user-guide/aps-extensions.md
  docs/user-guide/extensibility.md
  docs/versionIndex.md
Due: none

update insights docs
  lib/insights/docs/components/analytics-generator.component.md
  lib/insights/docs/components/analytics-report-list.component.md
  lib/insights/docs/components/analytics.component.md
  lib/insights/docs/components/diagram.component.md
  lib/insights/docs/images/analytics-without-parameters.png
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
