Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[AAE-0000] - bumping the prerelease version (#10645)
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  package-lock.json
  package.json
Due: none

AAE-30842 Resolving pr comments
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
Due: prettier --write, eslint

[MNT-24456] Allow to select multiple users and groups for task form
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.html
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.ts
Due: prettier --write, eslint

[MNT-24456] Fixed issue when completing forms with null instead of empty array
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.spec.ts
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.ts
  lib/process-services/src/lib/form/widgets/people/people.widget.spec.ts
  lib/process-services/src/lib/form/widgets/people/people.widget.ts
Due: prettier --write, eslint

[MNT-24456] Used UnitTestingUtils where possible
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.spec.ts
Due: prettier --write, eslint

[MNT-24456] Unit tests, fixed issue for selecting single group
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.spec.ts
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.ts
Due: prettier --write, eslint

[MNT-24456] Inputs styling
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_reference-variables.scss
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.html
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.scss
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.ts
  lib/process-services/src/lib/form/widgets/people/people.widget.html
  lib/process-services/src/lib/form/widgets/people/people.widget.scss
Due: prettier --write, eslint, stylelint --fix

[ACS-8782] Added possibility to hide drag and drop hint from document list
  lib/content-services/src/lib/document-list/components/document-list.component.html
  lib/content-services/src/lib/document-list/components/document-list.component.ts
Due: prettier --write, eslint

[MNT-24456] aps with adw multi user and group fields do not accept multiple values (#10636)
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_reference-variables.scss
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.html
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.scss
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.spec.ts
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.ts
  lib/process-services/src/lib/form/widgets/people/people.widget.html
  lib/process-services/src/lib/form/widgets/people/people.widget.scss
  lib/process-services/src/lib/form/widgets/people/people.widget.spec.ts
  lib/process-services/src/lib/form/widgets/people/people.widget.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-9266][ACS-9234] Make notification and user menu accessible with keyboard
  lib/core/src/lib/language-menu/language-menu.component.ts
  lib/core/src/lib/language-menu/language-picker.component.spec.ts
  lib/core/src/lib/language-menu/language-picker.component.ts
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.ts
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.spec.ts
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.ts
  lib/extensions/src/lib/services/component-register.service.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-9266] cr fix
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint --fix

AAE-30877 Bump pdfjs-dist to 4.10.38
  lib/core/package.json
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/process-services-cloud/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint

[link-adf:AAE-30877-update-package-pdfjs-dist] [ci:force]
  lib/process-services-cloud/package.json
Due: none

AAE-30877 cleanup package.json
  package-lock.json
  package.json
Due: none

[ACS-9266] cr fixes
  lib/core/src/lib/language-menu/language-menu.component.ts
  lib/core/src/lib/language-menu/language-picker.component.spec.ts
  lib/core/src/lib/language-menu/language-picker.component.ts
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.spec.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-9266] fix eslint
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.spec.ts
  lib/core/src/lib/notifications/components/notification-history.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-9266] fix circular dependency
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.spec.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

New Crowdin translations by GitHub Action (#10648)
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

[ACS-9266] cr fix
  lib/core/src/lib/language-menu/language-picker.component.ts
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.spec.ts
Due: prettier --write, eslint

AAE-31453 Revert change to text cardview color
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
Due: prettier --write, stylelint --fix

[ACS-9266][ACS-9234] Make notification and user menu accessible with keyboard (#10647)
  lib/core/src/lib/language-menu/language-menu.component.ts
  lib/core/src/lib/language-menu/language-picker.component.spec.ts
  lib/core/src/lib/language-menu/language-picker.component.ts
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.spec.ts
  lib/core/src/lib/notifications/components/notification-history.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.spec.ts
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.ts
  lib/extensions/src/lib/services/component-register.service.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-9237] a11y testing: Error Popups / ARIA hidden element must not be focusable or contain focusable elements
  lib/core/src/lib/snackbar-content/snackbar-content.component.html
Due: none

[ACS-8782] Unit tests for changes in document list component
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
Due: prettier --write, eslint

[ACS-9223] a11y testing: Data Table - Form elements must have labels
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

AAE-30882 Install ofetch, add unit tests for existing implementation
  lib/js-api/test/superagentHttpClient.spec.ts
  lib/js-api/test/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-9223] a11y testing: Data Table - Form elements must have labels (#10659)
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[AAE-30864] refactored services to accept injected validators
  lib/core/src/lib/form/components/mock/form.mock.ts
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
  lib/core/src/lib/form/services/form.service.spec.ts
  lib/core/src/lib/form/services/form.service.ts
  lib/process-services-cloud/src/lib/form/services/form-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/form/services/form-cloud.service.ts
Due: prettier --write, eslint

AAE-31712 Fix custom theme after Angular17 update
  lib/core/custom-theme/theme/theme-data.scss
Due: prettier --write, stylelint --fix

AAE-30882 Replace superagent with ofetch
  lib/js-api/src/superagentHttpClient.ts
  lib/js-api/test/superagentHttpClient.spec.ts
Due: prettier --write, eslint

AAE-30882 Add more tests for superagentHttpClient
  cspell.json
  lib/js-api/test/superagentHttpClient.spec.ts
Due: prettier --write, eslint

AAE-30882 Reduce imports to specfile
  lib/js-api/test/superagentHttpClient.spec.ts
Due: prettier --write, eslint

update
  lib/core/custom-theme/material-theme.scss
  lib/core/custom-theme/theme/custom-palette-creator.scss
Due: prettier --write, stylelint --fix

[ACS-8782] Added documentation for displayDragAndDropHint property
  docs/content-services/components/document-list.component.md
  lib/content-services/src/lib/document-list/components/document-list.component.ts
Due: prettier --write, eslint

AAE-30882 Separate mock objects
  lib/js-api/test/mockObjects/httpClient.mock.ts
  lib/js-api/test/superagentHttpClient.spec.ts
Due: prettier --write, eslint

AAE-30882 Simplify typing of methods
  lib/js-api/src/superagentHttpClient.ts
  lib/js-api/test/superagentHttpClient.spec.ts
Due: prettier --write, eslint

AAE-30882 Change buildRequest parameters
  lib/js-api/src/superagentHttpClient.ts
  lib/js-api/test/superagentHttpClient.spec.ts
Due: prettier --write, eslint

AAE-30882 Code formatting and unit tests
  lib/js-api/src/superagentHttpClient.ts
  lib/js-api/test/superagentHttpClient.spec.ts
Due: prettier --write, eslint

AAE-30882 Rename http client files
  lib/js-api/src/alfrescoApiClient.ts
  lib/js-api/src/ofetchHttpClient.ts
  lib/js-api/test/bpmAuth.spec.ts
  lib/js-api/test/ofetchHttpClient.spec.ts
Due: prettier --write, eslint

AAE-31712 Custom theme fix after ng17 update (#10661)
  lib/core/custom-theme/material-theme.scss
  lib/core/custom-theme/theme/custom-palette-creator.scss
  lib/core/custom-theme/theme/theme-data.scss
Due: prettier --write, stylelint --fix
