Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

Post-release version bump (#11734)
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  package-lock.json
  package.json
Due: none

[ACS-11213] Upgraded ngx-translate to v17
  lib/content-services/package.json
  lib/core/package.json
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/testing/noop-translate.module.ts
  lib/core/src/lib/translation/provide-i18n.spec.ts
  lib/core/src/lib/translation/provide-i18n.ts
  lib/core/src/lib/translation/translate-loader.spec.ts
  lib/core/src/lib/translation/translation.service.spec.ts
  lib/core/src/lib/translation/translation.service.ts
  lib/insights/package.json
  lib/process-services-cloud/package.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-11213] Translations fix
  lib/core/src/lib/translation/translate-loader.service.ts
Due: prettier --write, eslint

[ACS-11213] Fixed unit tests
  lib/core/src/lib/testing/noop-translate.module.ts
Due: prettier --write, eslint

[ACS-11213] Fix translations
  lib/core/src/lib/translation/provide-i18n.ts
Due: prettier --write, eslint

[ACS-11213] Reverted redundant change
  lib/core/src/lib/translation/provide-i18n.ts
Due: prettier --write, eslint

[ACS-11213] Added empty line
  lib/core/src/lib/translation/translate-loader.spec.ts
Due: prettier --write, eslint

[ACS-11213] Addressed copilot comments
  lib/core/src/lib/testing/noop-translate.module.ts
  lib/core/src/lib/translation/translate-loader.service.ts
Due: prettier --write, eslint

[ACS-11213] Added unit tests for changes in translate-loader.service
  lib/core/src/lib/translation/translate-loader.spec.ts
Due: prettier --write, eslint

[ACS-11213] upgrade ngx translate to v17 (#11719)
  lib/content-services/package.json
  lib/core/package.json
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/testing/noop-translate.module.ts
  lib/core/src/lib/translation/provide-i18n.spec.ts
  lib/core/src/lib/translation/provide-i18n.ts
  lib/core/src/lib/translation/translate-loader.service.ts
  lib/core/src/lib/translation/translate-loader.spec.ts
  lib/core/src/lib/translation/translation.service.spec.ts
  lib/core/src/lib/translation/translation.service.ts
  lib/insights/package.json
  lib/process-services-cloud/package.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-11205] Bring back removed getter
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.ts
Due: prettier --write, eslint

AAE-42908 Evaluate expressions for rich-text-display list types (#11726)
  lib/process-services-cloud/src/lib/form/components/widgets/display-rich-text/display-rich-text.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/display-rich-text/display-rich-text.widget.ts
Due: prettier --write, eslint

AAE-39678 Apply visibility conditions if dependent field's value is changed with form rules (#11729)
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
Due: prettier --write, eslint

[ACS-11205] Bring back removed getter (#11735)
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.ts
Due: prettier --write, eslint

[ACS-10280]: removes table row focus
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[ACS-10280]: updates styles for hidden checkboxes
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, stylelint --fix

[ACS-10280]: cleans up redundant property
  lib/content-services/src/lib/document-list/data/share-datatable-adapter.spec.ts
  lib/content-services/src/lib/document-list/data/share-datatable-adapter.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/data/datatable-adapter.ts
Due: prettier --write, eslint

[ACS-10280]: cr
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, stylelint --fix

New Crowdin translations by GitHub Action
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt.json
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/insights/src/lib/i18n/de.json
  lib/process-services-cloud/src/lib/i18n/de.json
  lib/process-services/src/lib/i18n/de.json
Due: none

New Crowdin translations by GitHub Action (#11732)
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt.json
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/insights/src/lib/i18n/de.json
  lib/process-services-cloud/src/lib/i18n/de.json
  lib/process-services/src/lib/i18n/de.json
Due: none

[ACS-10267] Announce titles for repository info as headings (#11728)
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.html
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.spec.ts
Due: prettier --write, eslint, stylelint --fix

Fix input types and defaults
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/start-process-event-screen/start-process-screen-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/start-process-event-screen/start-process-screen-cloud.component.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/start-process-event-screen/start-process-screen.model.ts
  lib/process-services-cloud/src/lib/testing/start-process-screen-mock.component.ts
Due: prettier --write, eslint

HXIDP-6471 Provide start process variables to custom screen (#11712)
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/base-screen/base-screen-cloud.component.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/start-process-event-screen/start-process-screen-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/start-process-event-screen/start-process-screen-cloud.component.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/start-process-event-screen/start-process-screen.model.ts
  lib/process-services-cloud/src/lib/testing/start-process-screen-mock.component.ts
Due: prettier --write, eslint

Revert "[ACS-10219] add class selector (#11387)"
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[ACS-11271] Rebranding of FE apps
  docs/core/components/header.component.md
  lib/content-services/src/lib/alfresco-icon/alfresco-icon-component.svg
  lib/core/karma.conf.js
  lib/core/src/lib/assets/images/alfresco-logo.svg
  lib/core/src/lib/assets/images/logo.png
  lib/core/src/lib/assets/images/logo.svg
  lib/core/src/lib/assets/images/updated-alfresco-logo.svg
  lib/core/src/lib/comments/comments.component.stories.ts
  lib/core/src/lib/comments/mocks/comments.service.stories.mock.ts
  lib/core/src/lib/header/header.component.spec.ts
  lib/core/src/lib/layout/components/header/header.component.spec.ts
  lib/core/src/lib/layout/components/header/header.component.ts
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.ts
Due: prettier --write, eslint, stylelint --fix

AAE-43331 Expand adf-icon
  lib/core/src/lib/icon/icon.directive.spec.ts
  lib/core/src/lib/icon/icon.directive.ts
  lib/core/src/lib/templates/empty-content/empty-content.component.scss
Due: prettier --write, eslint, stylelint --fix

AAE-43331 Fix css
  lib/core/src/lib/templates/empty-content/empty-content.component.scss
Due: prettier --write, stylelint --fix

AAE-43331 Expand adf-icon (#11744)
  lib/core/src/lib/icon/icon.directive.spec.ts
  lib/core/src/lib/icon/icon.directive.ts
  lib/core/src/lib/templates/empty-content/empty-content.component.scss
Due: prettier --write, eslint, stylelint --fix

[MNT-25447] Fix: Viewing preview renditions for versions fails
  lib/content-services/src/lib/common/services/rendition.service.ts
  lib/content-services/src/lib/common/services/rendition.services.spec.ts
Due: prettier --write, eslint

[MNT-25447] cr fix
  lib/content-services/src/lib/common/services/rendition.services.spec.ts
Due: prettier --write, eslint

[MNT-25447] Fix: Viewing preview renditions for versions fails (#11747)
  lib/content-services/src/lib/common/services/rendition.service.ts
  lib/content-services/src/lib/common/services/rendition.services.spec.ts
Due: prettier --write, eslint

Revert "[ACS-10219] add class selector (#11387)" (#11745)
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

CSX-460 Revert Remove excess disabled attribute PR
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
Due: none

[ACS-11319] Move tree actions menu item buttons inside the component
  docs/content-services/components/tree.component.md
  lib/content-services/src/lib/tree/components/tree.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.ts
  lib/core/src/lib/testing/unit-testing-utils.ts
Due: prettier --write, eslint

[ACS-11319] Copilot review fixes
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/tree/components/tree.component.html
Due: none

[ACS-11271] Rebranding of FE apps (#11746)
  docs/core/components/header.component.md
  lib/content-services/src/lib/alfresco-icon/alfresco-icon-component.svg
  lib/core/karma.conf.js
  lib/core/src/lib/assets/images/alfresco-logo.svg
  lib/core/src/lib/assets/images/logo.png
  lib/core/src/lib/assets/images/logo.svg
  lib/core/src/lib/assets/images/updated-alfresco-logo.svg
  lib/core/src/lib/comments/comments.component.stories.ts
  lib/core/src/lib/comments/mocks/comments.service.stories.mock.ts
  lib/core/src/lib/header/header.component.spec.ts
  lib/core/src/lib/layout/components/header/header.component.spec.ts
  lib/core/src/lib/layout/components/header/header.component.ts
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.ts
Due: prettier --write, eslint, stylelint --fix

CSX-460 Revert Remove excess disabled attribute PR (#11748)
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
Due: none

New Crowdin translations by GitHub Action
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none
