Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[AAE-34481] removed redundant code
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/amount/amount.widget.scss
  lib/core/src/lib/form/components/widgets/base-viewer/base-viewer.widget.scss
  lib/core/src/lib/form/components/widgets/checkbox/checkbox.widget.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/date/date.widget.ts
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.scss
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
  lib/core/src/lib/form/components/widgets/number/number.widget.scss
  lib/core/src/lib/form/components/widgets/text/text.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.scss
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.scss
Due: prettier --write, eslint, stylelint --fix

[ci:force] AAE-34478 Hide Open next task checkbox on claim screen
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.spec.ts
Due: prettier --write, eslint

[AAE-34481] Field error message has preserved space (#10820)
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/base-viewer/base-viewer.widget.html
  lib/core/src/lib/form/components/widgets/checkbox/checkbox.widget.html
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.html
  lib/core/src/lib/form/components/widgets/date/date.widget.html
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/number/number.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
Due: prettier --write, stylelint --fix

AAE-34478 Hide Open next task checkbox on claim screen (#10822)
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.spec.ts
Due: prettier --write, eslint

[ci:force] AAE-34514 Disable next task checkbox for forms
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
Due: prettier --write, eslint

denormalize flex mixins
  lib/content-services/src/lib/document-list/components/document-list.component.scss
  lib/content-services/src/lib/flex.scss
  lib/content-services/src/lib/search/components/search-control.component.scss
  lib/core/shell/src/lib/components/shell/shell.component.scss
  lib/core/shell/src/lib/styles/flex.scss
  lib/core/src/lib/identity-user-info/identity-user-info.component.scss
  lib/core/src/lib/layout/components/header/header.component.scss
  lib/core/src/lib/templates/error-content/error-content.component.scss
  lib/process-services-cloud/src/lib/app/components/app-list-cloud/app-list-cloud.component.scss
  lib/process-services-cloud/src/lib/flex.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter/edit-service-task-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.scss
  lib/process-services/src/lib/attachment/process-attachment-list/process-attachment-list.component.scss
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.scss
  lib/process-services/src/lib/task-list/components/task-header/task-header.component.scss
Due: prettier --write, stylelint --fix

proper imports [ci:force]
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.scss
  lib/process-services/src/lib/styles/mat-selectors.scss
Due: prettier --write, stylelint --fix

proper imports [ci:force]
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint --fix

proper imports
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

cleanup Core selectors
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

cleanup Content selectors
  lib/content-services/src/lib/mat-selectors.scss
Due: prettier --write, stylelint --fix

cleanup debug container
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-renderer.component.ts
Due: prettier --write, eslint, stylelint --fix

reduce selectors
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/mat-selectors.scss
  lib/core/src/lib/dialogs/edit-json/edit-json.dialog.html
  lib/core/src/lib/dialogs/edit-json/edit-json.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.scss
Due: prettier --write, stylelint --fix

reduce selectors
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

AAE-34543 Remove unused mat-selectors (#10830)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/mat-selectors.scss
  lib/core/src/lib/dialogs/edit-json/edit-json.dialog.html
  lib/core/src/lib/dialogs/edit-json/edit-json.dialog.scss
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.scss
Due: prettier --write, eslint, stylelint --fix

AAE-34514 Disable next task checkbox for forms (#10824)
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
Due: prettier --write, eslint

AAE-19688 Persist feature flag overrides in session storage
  lib/core/feature-flags/src/lib/services/debug-features.service.ts
  lib/core/feature-flags/src/lib/services/storage-features.service.ts
Due: prettier --write, eslint

unit tests
  lib/core/feature-flags/src/lib/services/debug-features.service.spec.ts
  lib/core/feature-flags/src/lib/services/storage-features.service.spec.ts
Due: prettier --write, eslint

AAE-19688 Persist feature flag overrides in session storage (#10832)
  lib/core/feature-flags/src/lib/services/debug-features.service.spec.ts
  lib/core/feature-flags/src/lib/services/debug-features.service.ts
  lib/core/feature-flags/src/lib/services/storage-features.service.spec.ts
  lib/core/feature-flags/src/lib/services/storage-features.service.ts
Due: prettier --write, eslint

AAE-34594 Remove redundant scroll bar from form renderer
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint --fix

AAE-34594 Remove redundant scroll bar from form renderer (#10840)
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint --fix

AAE-34335 fix for styling discrepancies in form-widgets
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
Due: prettier --write, stylelint --fix

AAE-34335 fix for styling discrepancies in form-widgets (#10841)
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
Due: prettier --write, stylelint --fix

AAE-30909 tab-header fixed at the top
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

AAE-30909 fixing widh and scrolling issues in workspace and studio-hxp
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

AAE-34641 Fix form loading when tab is changed
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
Due: none

AAE-34641 Fix form loading when tab is changed, update logic in ngOnChanges
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

[AAE-33907] Adds input for 'Open next task' checkbox
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
Due: prettier --write, eslint

Adds input for 'Open next task' checkbox
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
Due: none

[AAE-33907] added condition for isNextTaskCheckboxChecked
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
Due: none

[AAE-33907] added showNextTaskCheckbox property and moved condition
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
Due: prettier --write, eslint

Improvement/aae 30909 enhance user experience with tab navigation within the form (#10844)
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

[AAE-29434] Adding process with process variables to simpleapp
  e2e/resources/activiti7/simpleapp.zip
  lib/core/src/lib/common/utils/date-fns-utils.spec.ts
Due: prettier --write, eslint

[AAE-29434] Adding process with process variables to simpleapp (#10845)
  e2e/resources/activiti7/simpleapp.zip
  lib/core/src/lib/common/utils/date-fns-utils.spec.ts
Due: prettier --write, eslint

AAE-34641 form hangs on loading, fix unit tests
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

AAE-34869 fixing padding issue
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint --fix

AAE-34641 apply PR remarks, rename function, create ViewerType
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

AAE-34869 fixing padding issue (#10850)
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint --fix
