Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[ACS-9052] Reverted unwanted changes
  lib/core/src/lib/auth/oidc/auth.module.ts
Due: prettier --write, eslint

[MIGRATION] - updated lock
  package-lock.json
Due: none

[ACS-9052] manage versions close button is too low (#10466)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.ts
Due: prettier --write, eslint, stylelint --fix

[MIGRATION] - fixed storybook builds
  migrations.json
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

[MIGRATION] - Checking if now eslint is releasable
  lib/eslint-angular/project.json
Due: none

[MIGRATION] - Changing the building executor for eslint-rules
  lib/eslint-angular/project.json
Due: none

Truncate pipe export fix
  lib/core/src/lib/pipes/public-api.ts
Due: prettier --write, eslint

Truncate pipe export fix (#10477)
  lib/core/src/lib/pipes/public-api.ts
Due: prettier --write, eslint

[ACS-9015] Add missing styles
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, stylelint --fix

[ACS-9015] Fix stylelint
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, stylelint --fix

[ACS-9015] Add more specific selector (#10478)
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, stylelint --fix

AAE-28910 Add subtitle for column and column selector
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.html
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.scss
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/datatable/data-column/data-column.component.ts
  lib/core/src/lib/datatable/data/data-column.model.ts
  lib/core/src/lib/datatable/data/object-datacolumn.model.ts
Due: prettier --write, eslint, stylelint --fix

Add test
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.spec.ts
Due: prettier --write, eslint

Change subTitle name
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.html
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/data-column/data-column.component.ts
  lib/core/src/lib/datatable/data/data-column.model.ts
  lib/core/src/lib/datatable/data/object-datacolumn.model.ts
Due: prettier --write, eslint

fix units
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.spec.ts
  lib/core/src/lib/datatable/data/object-datacolumn.model.ts
Due: prettier --write, eslint

fix units
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.spec.ts
Due: prettier --write, eslint

AAE-28910 Add subtitle for columns (#10479)
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.html
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.scss
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.spec.ts
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/datatable/data-column/data-column.component.ts
  lib/core/src/lib/datatable/data/data-column.model.ts
  lib/core/src/lib/datatable/data/object-datacolumn.model.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-7905] ADF Core lib is missing dependency declaration (#10444)
  lib/core/ng-package.json
  lib/core/package.json
Due: none

AAE-29217 Align properties with user task and process instance search API
  lib/process-services-cloud/src/lib/models/filter-cloud-model.ts
  lib/process-services-cloud/src/lib/models/task-list-sorting.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-list-sorting.model.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

small fix
  lib/process-services-cloud/src/lib/models/filter-cloud-model.ts
Due: prettier --write, eslint

more fixes...
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
Due: prettier --write, eslint

AAE-29217 Align properties with user task and process instance search API (#10480)
  lib/process-services-cloud/src/lib/models/filter-cloud-model.ts
  lib/process-services-cloud/src/lib/models/task-list-sorting.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-list-sorting.model.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

AAE-28910 Remove process icon from column selector
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.html
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.spec.ts
Due: prettier --write, eslint

[MIGRATION] - Added injectionContext to avoid error NG0203 for unit tests
  lib/content-services/src/lib/search/services/search-header-query-builder.service.spec.ts
Due: prettier --write, eslint

Removing temporarily eslint rule from publishing
  lib/eslint-angular/project.json
Due: none

[MIGRATION] - Moving mocha to jest
  jest.preset.js
  lib/js-api/jest.config.ts
  lib/js-api/project.json
  lib/js-api/src/test-setup.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Removed unused project parts
  lib/js-api/project.json
Due: none

Fixed build for all the packages
  .eslintignore
  lib/cli/project.json
  lib/content-services/project.json
  lib/core/project.json
  lib/eslint-angular/project.json
  lib/eslint-angular/src/rules/no-angular-material-selectors/no-angular-material-selectors.ts
  lib/eslint-angular/src/rules/use-none-component-view-encapsulation/use-none-component-view-encapsulation.ts
  lib/eslint-angular/tsconfig.json
  lib/eslint-angular/webpack.config.js
  lib/extensions/project.json
  lib/insights/project.json
  lib/js-api/project.json
  lib/process-services-cloud/project.json
  lib/process-services/project.json
  lib/testing/project.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint

[MIGRATION] - Fixed lint
  lib/core/api/src/lib/adf-http-client.service.ts
  lib/core/src/lib/auth/oidc/auth.module.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: prettier --write, eslint

Migrate to NG17
  nx.json
  package-lock.json
  package.json
Due: none

[MIGRATION] - Fixed type
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.ts
  lib/process-services-cloud/src/lib/form/services/form-utils.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-task-list-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/components/base-task-list-cloud.component.ts
Due: prettier --write, eslint

AAE-26163 Fix infinite loop when authentication error event occured (#10272)
  lib/core/src/lib/auth/oidc/auth.module.ts
Due: prettier --write, eslint

[MIGRATION] - Updated node and fixed export
  .nvmrc
  lib/process-services-cloud/.nvmrc
Due: none

[MIGRATION] - Fixing failing migrated tests
  lib/js-api/test/auth.spec.ts
  lib/js-api/test/bpmAuth.spec.ts
  lib/js-api/test/content-services/tagApi.spec.ts
  lib/js-api/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write, eslint

Fixed two excluded unit tests
  lib/js-api/test/oauth2Auth.spec.ts
Due: prettier --write, eslint

[ci:force] - fixed build for testing 1
  lib/content-services/project.json
  lib/core/project.json
  lib/process-services-cloud/project.json
  lib/stories/project.json
  lib/testing/project.json
  lib/testing/webpack.config.js
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint

Fixed sonarqube errors
  lib/content-services/src/lib/content-metadata/services/config/layout-oriented-config.service.ts
  lib/content-services/src/lib/document-list/data/share-datatable-adapter.ts
Due: prettier --write, eslint

Removing testing lib to sync with develop
  lib/testing/project.json
  lib/testing/src/lib/protractor/core/actions/identity/group-identity.service.ts
  lib/testing/src/lib/protractor/core/models/tenant.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/snackbar.page.ts
  lib/testing/src/lib/protractor/core/test-element.ts
  lib/testing/src/lib/protractor/core/utils/array.util.ts
  lib/testing/src/lib/protractor/core/utils/protractor.util.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
  lib/testing/src/lib/shared/api/api.service.ts
  lib/testing/src/lib/shared/utils/string.util.ts
  lib/testing/tsconfig.lib.json
  lib/testing/webpack.config.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
