Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

ACS-6644 revert unnecessary deletion from config guide
  docs/user-guide/search-configuration-guide.md
Due: none

ACS-6644 restore facet intervals image
  docs/docassets/images/search-facet-intervals.png
Due: none

ACS-7932 fix karma config paths
  lib/content-services/karma.conf.js
  lib/process-services-cloud/karma.conf.js
  lib/process-services/karma.conf.js
Due: prettier --write, eslint

ACS-7932 update version, remove redundant @types package, update karma config paths, initial unit test fixes
  angular.json
  lib/content-services/karma.conf.js
  lib/content-services/src/test.ts
  lib/core/karma.conf.js
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
  lib/process-services-cloud/karma.conf.js
  lib/process-services/karma.conf.js
  package-lock.json
  package.json
Due: prettier --write, eslint

ACS-7932 fix pdf-viewer-thumbnails, update version for core
  lib/core/karma.conf.js
  lib/core/package.json
  lib/core/src/lib/viewer/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.spec.ts
  lib/core/src/lib/viewer/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.ts
Due: prettier --write, eslint

ACS-7932 update pdfjs-dist version
  lib/core/package.json
  package-lock.json
  package.json
Due: none

ACS-7932 update demo-shell build paths
  angular.json
Due: none

AAE-22612 Fix missing rich text color picker
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.scss
Due: prettier --write, stylelint

[ACS-8054] dynamic chip list refactor
  lib/core/src/lib/directives/color-set/color-set.directive.spec.ts
  lib/core/src/lib/directives/color-set/color-set.directive.ts
  lib/core/src/lib/directives/color-set/color-set.model.ts
  lib/core/src/lib/directives/directive.module.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.module.ts
Due: prettier --write, eslint, stylelint

[ACS-8054] dynamic chip list refactor
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.ts
Due: prettier --write, eslint

AAE-22612 Fix missing rich text color picker (#9766)
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.scss
Due: prettier --write, stylelint

[ACS-6644] Updated config guide, added build example, fixed mistakes (#9700)
  docs/content-services/components/search-check-list.component.md
  docs/content-services/components/search-filter-tabbed.component.md
  docs/content-services/components/search-form.component.md
  docs/content-services/components/search-input.component.md
  docs/content-services/components/search-number-range.component.md
  docs/content-services/components/search-radio.component.md
  docs/content-services/components/search-slider.component.md
  docs/content-services/components/search-text.component.md
  docs/docassets/images/search-with-configs-example.png
  docs/docassets/images/simple-search-example.png
  docs/user-guide/search-building.md
  docs/user-guide/search-configuration-guide.md
Due: none

upgrade analytics component
  lib/insights/src/lib/analytics-process/analytics-process.module.ts
  lib/insights/src/lib/analytics-process/components/analytics-generator.component.html
  lib/insights/src/lib/analytics-process/components/analytics-generator.component.ts
  lib/insights/src/lib/analytics-process/components/analytics-report-heat-map.component.ts
  lib/insights/src/lib/analytics-process/components/analytics-report-list.component.ts
  lib/insights/src/lib/analytics-process/components/analytics-report-parameters.component.html
  lib/insights/src/lib/analytics-process/components/analytics-report-parameters.component.ts
  lib/insights/src/lib/analytics-process/components/analytics.component.ts
  lib/insights/src/lib/analytics-process/components/widgets/checkbox/checkbox.widget.html
  lib/insights/src/lib/analytics-process/components/widgets/checkbox/checkbox.widget.ts
  lib/insights/src/lib/analytics-process/components/widgets/date-range/date-range.widget.ts
  lib/insights/src/lib/analytics-process/components/widgets/dropdown/dropdown.widget.html
  lib/insights/src/lib/analytics-process/components/widgets/dropdown/dropdown.widget.ts
  lib/insights/src/lib/analytics-process/components/widgets/duration/duration.widget.html
  lib/insights/src/lib/analytics-process/components/widgets/duration/duration.widget.ts
  lib/insights/src/lib/analytics-process/components/widgets/index.ts
  lib/insights/src/lib/analytics-process/components/widgets/number/number.widget.html
  lib/insights/src/lib/analytics-process/components/widgets/number/number.widget.ts
  lib/insights/src/lib/analytics-process/public-api.ts
  lib/insights/src/lib/insights.module.ts
Due: prettier --write, eslint

Uppercase for tabs - missed some tests
  e2e/process-services-cloud/task-list/task-form-cloud-component-tab.e2e.ts
  e2e/process-services/tasks/task-details-form.e2e.ts
Due: prettier --write, eslint

ACS-8055 create legal-hold service
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/legal-hold/index.ts
  lib/content-services/src/lib/legal-hold/public-api.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/content-services/src/public-api.ts
  lib/js-api/src/api/content-rest-api/api/nodes.api.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssignedHold.ts
  lib/js-api/src/api/content-rest-api/model/nodeChildAssociation.ts
  lib/js-api/src/api/content-rest-api/model/nodeHold.ts
  lib/js-api/src/api/gs-classification-rest-api/model/nodeHold.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
Due: prettier --write, eslint

ACS-8055 add listAssignedHolds API
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/js-api/src/api/content-rest-api/api/nodes.api.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssignedHold.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssignedHoldEntry.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssignedHoldPagingList.ts
  lib/js-api/src/api/content-rest-api/model/nodeAssinedHoldsPaging.ts
  lib/js-api/src/api/gs-classification-rest-api/model/index.ts
  lib/js-api/src/api/gs-classification-rest-api/model/nodeHold.ts
Due: prettier --write, eslint

Fixed last unit tests
  lib/process-services-cloud/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  package.json
Due: prettier --write, eslint

Fixed linting and js-api tests
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.spec.ts
  package.json
Due: prettier --write, eslint

Fixed js-api build
  package.json
Due: none

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

Fixing e2e part 2
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
Due: prettier --write, eslint

Fixed linting
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/material.module.ts
  lib/insights/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
Due: prettier --write, eslint, stylelint

Attempt to fix the e2e run'
  angular.json
  package.json
Due: none

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

Make all the part build
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  migrations.json
  package.json
Due: prettier --write, eslint

Building testing package
  lib/testing/project.json
Due: none

Fixed prod build
  angular.json
  package.json
Due: none

Fixed most of unit tests failing
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.html
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment/create-task-attachment.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

Demo shell builds
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/src/lib/styles/_index.scss
Due: prettier --write, stylelint

Fixed unit tests
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/services/property-descriptors.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/karma.conf.js
  lib/extensions/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] [AAE-21082] Fix e2e Content: Directive - C291941 - add missing selector
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

Fixing e2e - part III
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/dialog/start-task-dialog.page.ts
  e2e/process-services/pages/task-details.page.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/core/src/lib/context-menu/animations.ts
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
  lib/testing/src/lib/protractor/core/pages/form/form-fields.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/edit-task-filter-cloud-component.page.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/start-process-cloud-component.page.ts
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] Fixed e2e with new notation
  e2e-playwright/page-object/components/material/material-locators.ts
  e2e-playwright/page-object/components/material/validation.component.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint, stylelint

Fixed search e2es
  e2e/process-services-cloud/form-field/task-visibility-condition.e2e.ts
  e2e/process-services-cloud/task-list/task-header-cloud.e2e.ts
  e2e/search/components/search-number-range.e2e.ts
  e2e/search/search-filters.e2e.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-check-list.page.ts
Due: prettier --write, eslint

Fixed package.json
  lib/cli/package.json
  package.json
Due: none

Rebase went little bit wrong -III
  lib/core/src/lib/form/components/widgets/form.theme.scss
Due: prettier --write, stylelint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
