Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[MIGRATION] - fixed schematics build
  lib/core/project.json
  lib/core/tsconfig.schematics.json
Due: none

Fixed build
  lib/process-services-cloud/package-lock.json
  package-lock.json
  package.json
Due: none

Fixes after CR (#10202)
  .github/workflows/release-branch.yml
  docs/release-notes/RelNote410.md
  docs/release-notes/RelNote420.md
  docs/release-notes/RelNote430.md
  e2e/resources/adf/allFileTypes/documents/text/a_vsd_file.vsd
  e2e/resources/adf/allFileTypes/documents/word/a_dotx_file.dotx
  e2e/resources/adf/allFileTypes/documents/word/a_sxw_file.sxw
  package-lock.json
  package.json
Due: none

Thanks apollo deps
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
Due: none

custom theme missing sidenav color
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

[MIGRATION] - Ok this is really weird
  lib/testing/src/lib/protractor/process-services-cloud/actions/descriptor.ts
Due: prettier --write, eslint

[MIGRATION] - rebased after the move of AlfrescoApiService
  lib/core/project.json
  lib/core/schematics/migrations/collection.json
  lib/core/tsconfig.nx.migrations.json
  lib/core/tsconfig.schematics.json
  lib/js-api/tsconfig.json
  nx.json
Due: none

Fix package version after release
  package-lock.json
  package.json
Due: none

Rebased with lastest changes
  package-lock.json
Due: none

[MIGRATION] - change selector for expanded expansion panel content
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/edit-process-filter-cloud-component.page.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/edit-task-filter-cloud-component.page.ts
Due: prettier --write, eslint

[MIGRATION] - storybook chips related e2e fails fix, unit alignments
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

Rebased to latestp
  package-lock.json
  package.json
Due: none

[MIGRATION] fix header background color not being read from input prop
  lib/core/src/lib/layout/components/header/header.component.scss
Due: prettier --write, stylelint --fix

[MIGRATION] - Fixed lint
  lib/core/src/lib/auth/guard/auth-guard-base.ts
  lib/extensions/src/lib/services/extension.service.ts
Due: prettier --write, eslint

[MIGRATION] - Something happened on the way to heaven
  .eslintignore
  lib/content-services/src/lib/auth-loader/content-auth-loader-factory.ts
  lib/content-services/src/lib/common/services/rendition.service.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.ts
  lib/content-services/src/lib/document-list/components/document-list.component.ts
  lib/content-services/src/lib/tree-view/data/tree-view-datasource.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility-factory.ts
  lib/core/src/lib/clipboard/clipboard.service.ts
  lib/core/src/lib/common/utils/file-utils.ts
  lib/process-services-cloud/.storybook/main.js
  lib/process-services-cloud/src/lib/form/services/content-cloud-node-selector.service.ts
  lib/testing/src/lib/protractor/core/actions/identity/group-identity.service.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/login.page.ts
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[MIGRATION] - Updating outdated packages
  .storybook/preview.js
  lib/content-services/.storybook/preview.js
  lib/core/.storybook/preview.js
  lib/process-services-cloud/.storybook/preview.js
  lib/stories/.storybook/preview.js
  migrations.json
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: prettier --write, eslint

fix filter subscript overlapping dropdown items
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.html
Due: none

AAE-21573 Add display mode support for porcess start event form
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
Due: prettier --write, eslint

AAE-25339 Fix ADF Datetime adapter display format date
  lib/core/src/lib/common/utils/datetime-fns-adapter.ts
Due: prettier --write, eslint

[ACS-8741] Sidenav text for Process and Task filters is now grey
  lib/process-services/src/lib/process-list/components/process-filters/process-filters.component.scss
  lib/process-services/src/lib/task-list/components/task-filters/task-filters.component.scss
Due: prettier --write, stylelint --fix

[ACS-8749] View More tags button no longer shows when all tags are removed from a node
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
Due: prettier --write, eslint

[MNT-24628] Add unit tests
  lib/js-api/src/alfrescoApi.ts
  lib/js-api/test/alfrescoApi.spec.ts
  lib/js-api/test/alfrescoApiClient.spec.ts
Due: prettier --write, eslint

AAE-21573 Add display mode support for porcess start event form (#10273)
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
Due: prettier --write, eslint

AAE-26181 Fix layout container overflowing screen (#10269)
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

AAE-22724 Fix json widget display (#10248)
  lib/core/src/lib/form/components/widgets/json/json.widget.html
  lib/core/src/lib/form/components/widgets/json/json.widget.scss
  lib/core/src/lib/form/components/widgets/json/json.widget.ts
Due: prettier --write, eslint, stylelint --fix

AAE-25339 Fix ADF Datetime adapter display format date (#10274)
  lib/core/src/lib/common/utils/datetime-fns-adapter.ts
Due: prettier --write, eslint

[AAE-26155] updated input property description
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.ts
Due: prettier --write, eslint

[AAE-26155] added feature for refreshing filter
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/base-task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.ts
Due: prettier --write, eslint

[AAE-26155] updated services to allow refreshing filters
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/services/process-filter-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.ts
Due: prettier --write, eslint

AAE-26155 Added feature for refreshing filter (#10266)
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/services/process-filter-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/base-task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.ts
Due: prettier --write, eslint

AAE-26321 Add an injection token to JwtHelperService for OAuthStorage
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.ts
  lib/core/src/lib/core.module.ts
Due: prettier --write, eslint

AAE-26321 remove unneeded method spies
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
Due: prettier --write, eslint

[MNT-24637] ADW: Options to edit files marked as records available in Favorites Files list
  lib/content-services/src/lib/document-list/services/custom-resources.service.spec.ts
  lib/content-services/src/lib/document-list/services/custom-resources.service.ts
  lib/js-api/src/api/content-rest-api/model/favorite.ts
Due: prettier --write, eslint

AAE-26321 Add missing providers to depending tests
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/oidc/oidc-authentication.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-26321 Add an injection token to JwtHelperService for OAuthStorage (#10288)
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/oidc/oidc-authentication.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/core.module.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
Due: prettier --write, eslint

[MNT-24637] ADW: Options to edit files marked as records available in Favorites Files list (#10289)
  lib/content-services/src/lib/document-list/services/custom-resources.service.spec.ts
  lib/content-services/src/lib/document-list/services/custom-resources.service.ts
  lib/js-api/src/api/content-rest-api/model/favorite.ts
Due: prettier --write, eslint

Revert "AAE-26321 Add an injection token to JwtHelperService for OAuthStorage…"
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/oidc/oidc-authentication.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/core.module.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
Due: prettier --write, eslint

Revert "AAE-26321 Add an injection token to JwtHelperService for OAuthStorage…" (#10291)
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/oidc/oidc-authentication.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/core.module.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-26321 Custom JWT storage service optional injection token
  lib/core/src/lib/auth/services/jwt-helper.service.ts
Due: prettier --write, eslint

AAE-26321 custom storage service test
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
