Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

ACS-7561 - permissions page (#9675)
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
Due: prettier --write, stylelint

Trying to fix the long failing e2ea
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

Fixed changed unit test
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

[ACS-8008] - Inputs for properties panel "General info" (#9744)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
Due: prettier --write, stylelint

AAE-21937 Fix context menu list component (#9658)
  lib/core/src/lib/context-menu/context-menu-list.component.html
Due: none

Fixed package-lock
  package-lock.json
Due: none

Fixed package json
  lib/js-api/package.json
  lib/testing/package-lock.json
Due: none

Ehi Js-Api should be 7.8 NOT 7.9
  lib/js-api/package.json
Due: none

fix missing line chart [ci:force]
  lib/insights/src/lib/analytics-process/services/analytics.service.ts
  lib/insights/src/lib/diagram/models/chart/chart.model.ts
Due: prettier --write, eslint

fix demo shell [ci:force]
  demo-shell/src/app/app.module.ts
  demo-shell/src/app/components/process-service/show-diagram.component.ts
Due: prettier --write, eslint

AAE-22737 Update data-table-form in simpleapp
  e2e/resources/activiti7/simpleapp.zip
Due: none

AAE-22737 Update data-table-form in simpleapp (#9769)
  e2e/resources/activiti7/simpleapp.zip
Due: none

ACS-8066 Style inputs for link rule dialog
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
Due: prettier --write, stylelint

ACS-8055 add documentation
  docs/core/services/nodes-api.service.md
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/src/api/gs-classification-rest-api/model/nodeHold.ts
  lib/js-api/src/api/gs-core-rest-api/README.md
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/Hold.md
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
  lib/js-api/src/api/gs-core-rest-api/model/nodeHold.ts
Due: prettier --write, eslint

ACS-8055 fix imports
  lib/js-api/src/api/gs-classification-rest-api/model/index.ts
  lib/js-api/src/api/gs-core-rest-api/model/hold.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
Due: prettier --write, eslint

[ACS-8054] dynamic chip list refactor
  lib/core/src/lib/directives/color-set/color-set.directive.spec.ts
  lib/core/src/lib/directives/color-set/color-set.directive.ts
  lib/core/src/lib/directives/color-set/color-set.model.ts
  lib/core/src/lib/dynamic-chip-list/chip.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.ts
Due: prettier --write, eslint, stylelint

ACS-8104 fix buttons alighment
  lib/core/src/lib/dialogs/dialog/dialog.component.html
Due: none

ACS-8104 fix buttons alighment (#9772)
  lib/core/src/lib/dialogs/dialog/dialog.component.html
Due: none

[ACS-8054] dynamic chip list refactor
  lib/core/src/lib/directives/directive.module.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.module.ts
Due: prettier --write, eslint, stylelint

Uppercase for tabs - missed some tests
  e2e/process-services-cloud/task-list/task-form-cloud-component-tab.e2e.ts
  e2e/process-services/tasks/task-details-form.e2e.ts
Due: prettier --write, eslint

Fixed last unit tests
  lib/process-services-cloud/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  package.json
Due: prettier --write, eslint

Rebase went little bit wrong -III
  lib/core/src/lib/form/components/widgets/form.theme.scss
Due: prettier --write, stylelint

Attempt to fix the e2e run'
  angular.json
  package.json
Due: none

Fixed linting
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/material.module.ts
  lib/insights/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
Due: prettier --write, eslint, stylelint

Fixed linting and js-api tests
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.spec.ts
  package.json
Due: prettier --write, eslint

Make all the part build
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  migrations.json
  package.json
Due: prettier --write, eslint

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

Building testing package
  lib/testing/project.json
Due: none

Fixed unit tests
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/services/property-descriptors.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/karma.conf.js
  lib/extensions/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

Fixing e2e - changing toggles
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

E2E - fixing
  angular.json
  demo-shell/project.json
Due: none

Fixed prod build
  angular.json
  package.json
Due: none

Fixed code flow switch setting
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

Rebase went little bit wrong -II
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
Due: prettier --write, eslint, stylelint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
