Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

AAE-43974 Error icon style added by mixins
  lib/content-services/src/lib/tag/tag-actions/tag-actions.component.scss
  lib/core/src/lib/form/components/form-section/form-section.component.scss
  lib/core/src/lib/form/components/widgets/amount/amount.widget.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/date/date.widget.scss
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.scss
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
  lib/core/src/lib/form/components/widgets/number/number.widget.scss
  lib/core/src/lib/form/components/widgets/text/text.widget.scss
  lib/core/src/lib/styles/_mixins.scss
  lib/process-services-cloud/src/lib/_mixins.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.scss
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.scss
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter/edit-service-task-filter-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter/edit-service-task-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.scss
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.scss
  lib/process-services/src/lib/form/widgets/people/people.widget.scss
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.html
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.scss
  lib/process-services/src/lib/styles/_mixins.scss
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Added dummy test lable
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
Due: none

AAE-43974 Refactored based on review comments
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter/edit-service-task-filter-cloud.component.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
Due: none

AAE-43974 Added dummy error message for amount field
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
Due: none

AAE-43974 Added Missing conditions
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
Due: none

AAE-43974 Reverted Subscriptsizing
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.html
Due: none

AAE-43974 Added subscriptsizing dynamic for testing
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.html
Due: none

AAE-43974 Missing Conditions added
  lib/core/src/lib/form/components/widgets/date/date.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
Due: none

AAE-43974 Consistent conditions added and dummy error message added
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
Due: none

AAE-43974 Added dummy error message
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
Due: none

AAE-43974 Changed error icon allignment for testing
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Dummy error message changed
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
Due: none

AAE-43974 Added spacing between form fields in mobile view
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Added form field gap in mobile view and dummy erro message
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-section/form-section.component.scss
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
Due: prettier --write, stylelint --fix

AAE-43974 Refactored based on review coemments and changed the error icon allignment
  lib/content-services/src/lib/_mixins.scss
  lib/content-services/src/lib/tag/tag-actions/tag-actions.component.scss
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.ts
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.ts
  lib/core/src/lib/form/components/widgets/number/number.widget.ts
  lib/core/src/lib/styles/_mixins.scss
  lib/process-services/src/lib/styles/_mixins.scss
Due: prettier --write, eslint, stylelint --fix

AAE-43974 adf-error-text class added inside mat-error
  lib/content-services/src/lib/dialogs/folder/folder.dialog.html
  lib/content-services/src/lib/tag/tag-actions/tag-actions.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.html
  lib/core/src/lib/form/components/widgets/date/date.widget.html
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/number/number.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.html
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-password-dialog/pdf-viewer-password-dialog.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter/edit-service-task-filter-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.html
  lib/process-services/src/lib/form/widgets/people/people.widget.html
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
Due: none

AAE-43974 Fixed the mixin path
  lib/content-services/src/lib/tag/tag-actions/tag-actions.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Added adf-error-text class to mat-error for e2e fix
  lib/content-services/src/lib/dialogs/folder/folder.dialog.html
  lib/content-services/src/lib/tag/tag-actions/tag-actions.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.html
  lib/core/src/lib/form/components/widgets/date/date.widget.html
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/number/number.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.html
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-password-dialog/pdf-viewer-password-dialog.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter/edit-service-task-filter-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.html
  lib/process-services/src/lib/form/widgets/people/people.widget.html
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
Due: none

AAE-43974 Removed dummy error message for amount widget
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
Due: none

AAE-43974 Trying with different margin-bottom
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Added margin-bottom for regression fix
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Whiespace issue fix
  lib/content-services/src/lib/dialogs/folder/folder.dialog.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/date/date.widget.html
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/number/number.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.html
  lib/process-services/src/lib/form/widgets/people/people.widget.html
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
Due: none

AAE-43974 Added context pushing logic in text widget
  lib/core/src/lib/form/components/widgets/text/text.widget.html
Due: none

AAE-43974 Whitespace issue resolved
  lib/content-services/src/lib/dialogs/folder/folder.dialog.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/date/date.widget.html
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/number/number.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.html
  lib/process-services/src/lib/form/widgets/people/people.widget.html
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
Due: none

AAE-43974 Testing Regression failures
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-section/form-section.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing regression issue
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-section/form-section.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Test Regression failure
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing for regression failure
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing multiline Regression failure
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing fix regarding regression failure related to multiline-text widget
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing regression failure for multi-line
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing regression failure for multiline-text
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Test Regression failure for multiline-text widget
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing regression failure
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing regression failure
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.html
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-43974 Removed the commented code
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-section/form-section.component.scss
Due: prettier --write, stylelint --fix

AAE-43974 Testing Regression failure
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.scss
Due: prettier --write, stylelint --fix

AAE-48166 Sync time using server time
  lib/core/src/lib/app-config/app-config.service.ts
  lib/core/src/lib/auth/models/oauth-config.model.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.spec.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.ts
  lib/core/src/lib/auth/services/time-sync.service.spec.ts
  lib/core/src/lib/auth/services/time-sync.service.ts
Due: prettier --write, eslint

chore: enhance devcontainer setup with command history and GPG signing scripts
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
