Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

feat: enable tab navigation buttons
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix

feat: adjust buttons based on ux mockups
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

fix: prevent upstream visual regression issues.
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

feat: better strings and button positioning
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

AAE-44098 Bottom tab navigation buttons (#11834)
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix

AAE-44435 Cleaned up comments and added documentation
  docs/process-services-cloud/components/form-cloud.component.md
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

AAE-44435 Optimize visibleOutcomes recomputation with form setter
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

AAE-44435 Working on start process button bug - need to validate approach
  lib/core/src/lib/form/components/helpers/buttons-visibility.spec.ts
  lib/core/src/lib/form/components/helpers/buttons-visibility.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

AAE-44435 Fix form outcome recomputation and guards
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

[AAE-45132] - Make style MD3 compliant
  lib/core/custom-theme/README.md
  lib/core/custom-theme/material-theme.scss
  lib/core/custom-theme/theme/custom-theme-palettes.scss
  lib/core/custom-theme/theme/default-colors.scss
  lib/core/custom-theme/theme/theme-configuration.scss.tpl
  lib/core/custom-theme/theme/theme-data.scss
  lib/core/custom-theme/theme/typography.scss
Due: prettier --write, stylelint --fix

AAE-45173 Adding background color to tooltip card
  lib/core/src/lib/directives/tooltip-card/tooltip-card.component.scss
Due: prettier --write, stylelint --fix

AAE-45173 Adding background color to tooltip card (#11852)
  lib/core/src/lib/directives/tooltip-card/tooltip-card.component.scss
Due: prettier --write, stylelint --fix

New Crowdin translations by GitHub Action
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/insights/src/lib/i18n/es.json
  lib/insights/src/lib/i18n/it.json
Due: none

New Crowdin translations by GitHub Action (#11848)
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/insights/src/lib/i18n/es.json
  lib/insights/src/lib/i18n/it.json
Due: none

AAE-44435 Fix incorrect Start process button on user task forms (#11837)
  docs/process-services-cloud/components/form-cloud.component.md
  lib/core/src/lib/form/components/helpers/buttons-visibility.spec.ts
  lib/core/src/lib/form/components/helpers/buttons-visibility.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

New Crowdin translations by GitHub Action (#11854)
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

[ACS-11628] small for for init-acs-env.ts
  lib/cli/scripts/init-acs-env.ts
Due: prettier --write, eslint

[ACS-11628] small for for init-acs-env.ts (#11860)
  lib/cli/scripts/init-acs-env.ts
Due: prettier --write, eslint

feat: add wasTaskCompletedByCurrentUser method and corresponding tests; enhance fetchTaskListFromRuntimeBundleService tests [ci:force]
  lib/process-services-cloud/src/lib/task/services/task-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/services/task-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.spec.ts
Due: prettier --write, eslint

feat: enhance task list service with new fetchTaskListFromRuntimeBundleService method and refactor fetchTaskList logic
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

feat: add service parameter to getTaskById and implement fetchPendingTasks method [ci:force]
  lib/process-services-cloud/src/lib/task/services/task-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

feat: add getWithBody method; refactor fetchTaskList and rename fetchTaskListFromRuntimeBundleService to fetchTaskList_UsingRuntimeBundleService [ci:force]
  lib/process-services-cloud/src/lib/services/base-cloud.service.ts
  lib/process-services-cloud/src/lib/services/task-list-cloud.service.interface.ts
  lib/process-services-cloud/src/lib/task/services/task-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

AAE-45215 Removing unused breadcrumb theme
  lib/core/breadcrumbs/src/styles/_breadcrumb.theme.scss
  lib/core/ng-package.json
  lib/core/package.json
Due: prettier --write, stylelint --fix

AAE-43707 Add storybook stories for viewer toolbar slots and unknown format
  lib/core/src/lib/viewer/components/unknown-format/unknown-format.component.stories.ts
  lib/core/src/lib/viewer/components/viewer-more-actions.component.stories.ts
  lib/core/src/lib/viewer/components/viewer-open-with.component.stories.ts
  lib/core/src/lib/viewer/components/viewer-sidebar.component.stories.ts
  lib/core/src/lib/viewer/components/viewer-toolbar-actions.component.stories.ts
  lib/core/src/lib/viewer/components/viewer-toolbar-custom-actions.component.stories.ts
  lib/core/src/lib/viewer/components/viewer-toolbar.component.stories.ts
Due: prettier --write, eslint

AAE-43707 Add storybook stories for txt img and media viewers
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.stories.ts
  lib/core/src/lib/viewer/components/media-player/media-player.component.stories.ts
  lib/core/src/lib/viewer/components/txt-viewer/txt-viewer.component.stories.ts
Due: prettier --write, eslint

AAE-43707 Add storybook stories for pdf viewer family
  lib/core/src/lib/viewer/components/pdf-viewer-thumb/pdf-viewer-thumb.component.stories.ts
  lib/core/src/lib/viewer/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.stories.ts
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.stories.ts
Due: prettier --write, eslint

AAE-43707 Add storybook stories for viewer and viewer render
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.stories.ts
  lib/core/src/lib/viewer/components/viewer.component.stories.ts
Due: prettier --write, eslint

AAE-43707 Add storybook stories for download prompt dialog
  lib/core/src/lib/viewer/components/download-prompt-dialog/download-prompt-dialog.component.stories.ts
  lib/core/src/lib/viewer/components/download-prompt-dialog/download-prompt-dialog.dialog.stories.component.ts
Due: prettier --write, eslint

[AAE-0000] - fixed run for process-service-cloud
  lib/core/src/lib/app-config/app-config.service.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-assignment-filter/task-assignment-filter.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.ts
Due: prettier --write, eslint

[AAE-0000] - Stabilising process cloud tests
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.ts
Due: prettier --write, eslint

[AAE-0000] - fixed run for process-service-cloud (#11855)
  lib/core/src/lib/app-config/app-config.service.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-assignment-filter/task-assignment-filter.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-45215 Removing unused breadcrumb theme (#11861)
  lib/core/breadcrumbs/src/styles/_breadcrumb.theme.scss
  lib/core/ng-package.json
  lib/core/package.json
Due: prettier --write, stylelint --fix

AAE-45216 Removing custom theme from core
  lib/core/custom-theme/README.md
  lib/core/custom-theme/material-theme.scss
  lib/core/custom-theme/theme/custom-background-color.scss
  lib/core/custom-theme/theme/custom-palette-creator.scss
  lib/core/custom-theme/theme/custom-text-color.scss
  lib/core/custom-theme/theme/custom-theme-palettes.scss
  lib/core/custom-theme/theme/default-colors.scss
  lib/core/custom-theme/theme/theme-configuration.scss.tpl
  lib/core/custom-theme/theme/theme-data.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/custom-theme/variables/font-family.scss
Due: prettier --write, stylelint --fix

AAE-45216 Removing custom theme from assets
  lib/core/ng-package.json
Due: none

AAE-45216 Removing custom theme from core (#11862)
  lib/core/custom-theme/README.md
  lib/core/custom-theme/material-theme.scss
  lib/core/custom-theme/theme/custom-background-color.scss
  lib/core/custom-theme/theme/custom-palette-creator.scss
  lib/core/custom-theme/theme/custom-text-color.scss
  lib/core/custom-theme/theme/custom-theme-palettes.scss
  lib/core/custom-theme/theme/default-colors.scss
  lib/core/custom-theme/theme/theme-configuration.scss.tpl
  lib/core/custom-theme/theme/theme-data.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/custom-theme/variables/font-family.scss
  lib/core/ng-package.json
Due: prettier --write, stylelint --fix

[AAE-32905] - Improve ADF workflow
  .github/CODEOWNERS
  .github/actions/setup/action.yml
  .github/workflows/build-lib-workflow.yml
  .github/workflows/pull-request.yml
  .github/workflows/unit-test-workflow.yml
  nx.json
Due: none

[AAE-32905] - Improve cache use
  .github/actions/setup/action.yml
  .github/workflows/build-lib-workflow.yml
  .github/workflows/pull-request.yml
  .github/workflows/unit-test-workflow.yml
Due: none

[AAE-32905] - Fix cache
  .github/actions/setup/action.yml
  nx.json
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
