Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

cleanup
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process-services-cloud.module.ts
  lib/process-services-cloud/src/lib/process/process-cloud.module.ts
  lib/process-services-cloud/src/lib/process/process-filters/process-filters-cloud.module.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/task-list-cloud.module.ts
Due: prettier --write, eslint

mark deprecations [ci:force]
  lib/process-services-cloud/src/lib/task/task-cloud.module.ts
Due: prettier --write, eslint

cleanup and fixes [ci:force]
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.ts
Due: prettier --write, eslint

[AAE-29971] buttons for dynamic component
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.html
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
Due: prettier --write, eslint

[AAE-29971] added unit tests for projected content
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-29971 Buttons for dynamic component (#10539)
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.html
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
Due: prettier --write, eslint

[MNT-24538] Use different pdfjs version
  lib/core/package.json
  package-lock.json
  package.json
Due: none

[MNT-24538] Lockfile fix
  package-lock.json
Due: none

[MNT-24538][ci:force] Use Node 22 LTS
  .nvmrc
  lib/process-services-cloud/.nvmrc
Due: none

[MNT-24538] Use existing pdfjs-dist version with new param
  lib/content-services/karma.conf.js
  lib/content-services/src/test.ts
  lib/core/karma.conf.js
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/process-services-cloud/karma.conf.js
  lib/process-services/karma.conf.js
  package-lock.json
  package.json
Due: prettier --write, eslint

[MNT-24538] Unit test fix
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
Due: prettier --write, eslint

[MNT-24538] Bump PDFjs viewer version and use annotation mode disabled
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[MNT-24538] Use pdfjs legacy version
  .nvmrc
  lib/content-services/karma.conf.js
  lib/core/karma.conf.js
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/process-services-cloud/.nvmrc
Due: prettier --write, eslint

[MNT-24538] Unit test fixes
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
Due: prettier --write, eslint

[MNT-24538] Legacy build cleanup
  lib/core/package.json
  lib/process-services-cloud/karma.conf.js
  lib/process-services/karma.conf.js
  package-lock.json
Due: prettier --write, eslint

[MNT-24538][ci:force] Use proper legacy paths
  lib/content-services/karma.conf.js
  lib/content-services/src/test.ts
  lib/core/karma.conf.js
  lib/core/package.json
  lib/process-services-cloud/karma.conf.js
  lib/process-services/karma.conf.js
  package-lock.json
  package.json
Due: prettier --write, eslint

[MNT-24538] Proper test params
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
Due: prettier --write, eslint

[MNT-24538] Update PDFjs viewer version and disable annotation mode (#10538)
  lib/content-services/karma.conf.js
  lib/core/karma.conf.js
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/process-services-cloud/karma.conf.js
  lib/process-services/karma.conf.js
Due: prettier --write, eslint

AAE-26215 Standalone process cloud components (#10553)
  docs/README.md
  docs/docassets/images/adf-task-audit-directive.png
  docs/process-services-cloud/components/edit-process-filter-cloud.component.md
  docs/process-services-cloud/components/process-filters-cloud.component.md
  docs/process-services/components/task-details.component.md
  docs/process-services/directives/task-audit.directive.md
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process-services-cloud.module.ts
  lib/process-services-cloud/src/lib/process/process-cloud.module.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filter-dialog/process-filter-dialog-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filter-dialog/process-filter-dialog-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filter-dialog/process-filter-dialog-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filter-dialog/process-filter-dialog-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters/process-filters-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters/process-filters-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters/process-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/process-filters-cloud.module.ts
  lib/process-services-cloud/src/lib/process/process-filters/public-api.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/mock/process-list-service.mock.ts
  lib/process-services-cloud/src/lib/process/process-list/process-list-cloud.module.ts
  lib/process-services-cloud/src/lib/process/start-process/mock/start-process.component.mock.ts
  lib/process-services-cloud/src/lib/task/task-cloud.module.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/task-list-cloud.module.ts
  lib/process-services/src/lib/task-list/components/no-task-details/no-task-detail-template.directive.spec.ts
  lib/process-services/src/lib/task-list/components/no-task-details/no-task-detail-template.directive.ts
  lib/process-services/src/lib/task-list/components/task-audit/task-audit.directive.spec.ts
  lib/process-services/src/lib/task-list/components/task-audit/task-audit.directive.ts
  lib/process-services/src/lib/task-list/public-api.ts
Due: prettier --write, eslint, stylelint --fix

Review and apply required inputs where possible
  lib/core/src/lib/about/about-extension-list/about-extension-list.component.ts
  lib/core/src/lib/about/about-license-list/about-license-list.component.ts
  lib/core/src/lib/about/about-module-list/module-list.component.ts
  lib/core/src/lib/about/about-package/package-list.component.ts
  lib/core/src/lib/about/about-status-list/about-status-list.component.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.ts
  lib/core/src/lib/comments/comment-list/comment-list.component.ts
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.ts
  lib/core/src/lib/datatable/components/datatable-cell/datatable-cell.component.ts
  lib/core/src/lib/datatable/components/datatable-row/datatable-row.component.ts
  lib/core/src/lib/datatable/data-column/data-column.component.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.ts
  lib/core/src/lib/viewer/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.ts
Due: prettier --write, eslint

Review and apply required inputs where possible
  lib/core/src/lib/datatable/components/datatable-row/datatable-row.component.ts
Due: prettier --write, eslint

AAE-30124 Updated simpleapp project replacement
  e2e/resources/activiti7/simpleapp.zip
Due: none

Review and apply required inputs where possible
  lib/core/src/lib/about/about-package/package-list.component.ts
Due: prettier --write, eslint

CodeQL passed when all changes in ignored paths
  .github/workflows/codeql-analysis.yml
Due: none

modified branches for testing purposes
  .github/workflows/codeql-analysis.yml
Due: none

removed redundant job, added fetch-depth:0
  .github/workflows/codeql-analysis.yml
Due: none

added outputs for verification
  .github/workflows/codeql-analysis.yml
Due: none

handling skip_codeql flag in GITHUB_ENV
  .github/workflows/codeql-analysis.yml
Due: none

handling skip_codeql flag in GITHUB_OUTPUT
  .github/workflows/codeql-analysis.yml
Due: none

added file in not ignored path for testing
  scripts/test.txt
Due: none

test of added file to ignored path
  e2e/resources/activiti7/test.txt
Due: none

[ACS-9166] Migrate Saved Searches to preferences API from config file
  docs/core/services/saved-searches.service.md
  lib/content-services/src/lib/common/services/saved-searches.service.ts
  lib/js-api/src/api/content-rest-api/api/preferences.api.ts
  lib/js-api/src/api/content-rest-api/docs/PreferencesApi.md
Due: prettier --write, eslint

[ACS-9166][ci:force] Unit test coverage
  lib/content-services/src/lib/common/services/saved-searches.service.spec.ts
  lib/content-services/src/lib/common/services/saved-searches.service.ts
Due: prettier --write, eslint

[AAE-29973] added unit tests for input and output
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.ts
Due: prettier --write, eslint

[AAE-29973] added check to prevent errors
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.ts
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.interface.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
Due: prettier --write, eslint

[AAE-29973] fix for dynamic component with absolute position
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.html
Due: none
