Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

AAE-21697 Fix people form widget style (#9555)
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

Fixing unit test after last rebase + lint
  lib/process-services-cloud/src/lib/common/date-range-filter/date-range-filter.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-mapitem/card-view-mapitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.spec.ts
  lib/core/src/lib/clipboard/clipboard.directive.spec.ts
  lib/core/src/lib/clipboard/clipboard.service.spec.ts
  lib/core/src/lib/comments/comment-list/comment-list.component.spec.ts
  lib/core/src/lib/comments/comments.component.spec.ts
  lib/core/src/lib/common/services/directionality-config.service.spec.ts
  lib/core/src/lib/common/services/storage.service.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
  lib/core/src/lib/testing/core.testing.module.ts
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] - Fixed problem after rebase
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/dialogs/folder.dialog.spec.ts
  lib/core/src/lib/directives/infinite-select-scroll.directive.spec.ts
Due: prettier --write, eslint

[AAE-21089] Fix e2e Search - fix checkbox selector
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

Sync lock
  package-lock.json
Due: none

[ACS-7373] ng15 permissions page fixes
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
  e2e/process-services/widgets/checkbox-widget.e2e.ts
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

Fixing unit test after last rebase + lint
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7554] Fix tags in column display (#9597)
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
Due: prettier --write, stylelint

[ACS-7331] - View details sidebar (#9455)
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7414] - manage versions dialog (#9545)
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixed check on expansion panel filter
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] Added pretheme for core as it is mandatory when publishing and rebuilding
  angular.json
  lib/core/project.json
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixed other e2es
  e2e/process-services/form/people-component.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/people-cloud-component.page.ts
Due: prettier --write, eslint

[ACS-7419] Fix broken styling of notifications, apply pr remarks
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

Fixed errors on unit and lint
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
Due: prettier --write, stylelint

Fixing unit test after last rebase + lint
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7530] - Notifications popup looks a bit differently (#9543)
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/tasks.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the long painful journey - part II
  e2e/process-services/pages/process-service-tab-bar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] - Rebased
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  package-lock.json
Due: prettier --write, stylelint

[ACS-7528] - Notification and user icons are a bit different (#9540)
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-7419] Fix broken styling of notifications
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-7373] mat-icon-buttons
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
Due: none

[affected:*][ci:force] - REBASED
  lib/core/api/src/lib/adf-http-client.service.spec.ts
  lib/core/src/lib/about/about-github-link/about-github-link.component.spec.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/services/identity-group.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/process-services-cloud/src/lib/group/services/identity-group.service.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the eternal fail
  lib/testing/src/lib/protractor/core/pages/form/widgets/dropdown-widget.page.ts
Due: prettier --write, eslint

[ACS-7681] Bell icon not aligned [ACS-7571] Comments [ACS-7563] Add permission dialog (#9594)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
  lib/core/src/lib/comments/comment-list/comment-list.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
  lib/content-services/src/lib/aspect-list/services/aspect-list.service.spec.ts
  lib/content-services/src/lib/category/services/category-tree-datasource.service.spec.ts
  lib/content-services/src/lib/category/services/category.service.spec.ts
  lib/content-services/src/lib/common/services/content.service.spec.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.spec.ts
  lib/content-services/src/lib/dialogs/category-selector.dialog.spec.ts
  lib/content-services/src/lib/dialogs/download-zip/download-zip.dialog.spec.ts
  lib/content-services/src/lib/directives/check-allowable-operation.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/library-membership.directive.spec.ts
  lib/content-services/src/lib/directives/node-delete.directive.spec.ts
  lib/content-services/src/lib/directives/node-download.directive.spec.ts
  lib/content-services/src/lib/directives/node-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-restore.directive.spec.ts
  lib/content-services/src/lib/document-list/components/file-auto-download/file-auto-download.component.spec.ts
  lib/content-services/src/lib/document-list/services/lock.service.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.service.spec.ts
  lib/content-services/src/lib/node-comments/services/node-comments.service.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
  lib/content-services/src/lib/search/services/search.service.spec.ts
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/content-services/src/lib/tree/services/tree.service.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.directive.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.service.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[ACS-7519] - Login page (#9565)
  lib/core/src/lib/login/components/login/login.component.html
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.spec.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7542] - Upload new version dialog (#9572)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/upload/components/upload-button.component.html
  lib/content-services/src/lib/upload/components/upload-button.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.html
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint

[ACS-7535][ACS-7537][ACS-7536][ACA] Move/Copy dialogs, Share dialog, Aspects dialog (#9553)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

Re Enabling unit test removed
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[ACS-7359] - Angular 15 - Edit aspects modal [ACA] (#9488)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[AAE-21085] Fix e2e Search - add content selector that wrap text
  e2e/search/pages/search-bar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7452] - Small screen notification banner [ACS-7418] About page (#9507)
  lib/core/src/lib/about/about-package/package-list.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.scss
  lib/core/src/lib/styles/_components-variables.scss
Due: prettier --write, eslint, stylelint
