Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

[affected:*][ci:force] Fixed e2e with new notation
  e2e-playwright/page-object/components/material/material-locators.ts
  e2e-playwright/page-object/components/material/validation.component.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint, stylelint

Fixing e2e - part III
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/dialog/start-task-dialog.page.ts
  e2e/process-services/pages/task-details.page.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/core/src/lib/context-menu/animations.ts
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
  lib/testing/src/lib/protractor/core/pages/form/form-fields.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/edit-task-filter-cloud-component.page.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/start-process-cloud-component.page.ts
Due: prettier --write, eslint, stylelint

Fixed PR after huge rebase -_-
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.scss
  package.json
Due: prettier --write, eslint, stylelint

Fixed after rebase
  lib/core/feature-flags/src/lib/directives/features.directive.ts
  lib/core/feature-flags/src/lib/directives/not-features.directive.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.spec.ts
  lib/testing/package-lock.json
Due: prettier --write, eslint

Attempt to fix the e2e run'
  angular.json
  package.json
Due: none

Insight material module has been removed
  lib/insights/src/lib/material.module.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
  e2e/process-services/widgets/checkbox-widget.e2e.ts
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

Recreated package-lock
  package-lock.json
Due: none

Fixing unit test after last rebase + lint
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] [AAE-21082] Fix e2e Content: Directive - C291941 - add missing selector
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

Fixed process unit test fail
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] - Rebased
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  package-lock.json
Due: prettier --write, stylelint

ACS-7561 - permissions page (#9675)
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
Due: prettier --write, stylelint

[AAE-21085] Fix e2e Search - add content selector that wrap text
  e2e/search/pages/search-bar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7452] - Small screen notification banner [ACS-7418] About page (#9507)
  lib/core/src/lib/about/about-package/package-list.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.scss
  lib/core/src/lib/styles/_components-variables.scss
Due: prettier --write, eslint, stylelint

Rebased to the latest
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
Due: prettier --write, stylelint

[ACS-7535][ACS-7537][ACS-7536][ACA] Move/Copy dialogs, Share dialog, Aspects dialog (#9553)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] Fixed lint after error on important
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

Fixing unit test after last rebase + lint
  lib/process-services-cloud/src/lib/common/date-range-filter/date-range-filter.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Trying to fix the long failing e2ea
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[ACS-7331] - View details sidebar (#9455)
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/tasks.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Fixed most of unit tests failing
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.html
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment/create-task-attachment.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

Fixed a dependency problem
  package.json
Due: none

unit test fixes for migration (#9217)
  lib/js-api/test/upload.spec.ts
Due: prettier --write, eslint

Rebase went little bit wrong -III
  lib/core/src/lib/form/components/widgets/form.theme.scss
Due: prettier --write, stylelint

Rebased to the latest develop
  package-lock.json
Due: none

Fixing some sonarcloud comments
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/upload/upload.widget.html
Due: none

[ACS-7531] - Search page (#9606)
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.scss
  lib/content-services/src/lib/search/components/search-form/search-form.component.html
  lib/content-services/src/lib/search/components/search-form/search-form.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Honestly i'm going on just for the challenge now'
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint

reverted broken rebase
  lib/testing/.browserslistrc
Due: none

Fixed unit test
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
Due: prettier --write, eslint

Fixed changed unit test
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

[ACS-7373] mat-icon-buttons
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
Due: none

[ACS-7560] undo deletion notification (#9632)
  lib/core/src/lib/snackbar-content/snackbar-content.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

Rebased to the latest
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
  lib/process-services-cloud/package.json
  package.json
Due: prettier --write, eslint

[affected:*][ci:force] Fixing rebase
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/services/display-mode.service.spec.ts
  lib/process-services-cloud/tsconfig.spec.json
Due: prettier --write, eslint

Demo shell builds
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/src/lib/styles/_index.scss
Due: prettier --write, stylelint
