Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

update core module imports [ci:force]
  lib/process-services-cloud/src/lib/people/people-cloud.module.ts
Due: prettier --write, eslint

legacy content module
  lib/content-services/src/lib/content-module-legacy.ts
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/public-api.ts
  lib/core/src/lib/core-module-legacy.ts
Due: prettier --write, eslint

cleanup demo shell [ci:force]
  demo-shell/src/app/app.module.ts
Due: prettier --write, eslint

fix new version uploader parameters
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.service.spec.ts
Due: prettier --write, eslint

update core module imports [ci:force]
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.ts
  lib/core/src/lib/clipboard/clipboard.directive.ts
  lib/core/src/lib/clipboard/clipboard.module.ts
  lib/core/src/lib/context-menu/context-menu.module.ts
  lib/core/src/lib/context-menu/context-menu.spec.ts
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/datatable/components/datatable-cell/datatable-cell.component.ts
  lib/core/src/lib/viewer/viewer.module.ts
  lib/process-services-cloud/src/lib/task/task-list/testing/task-list.testing.module.ts
Due: prettier --write, eslint

update core module imports [ci:force]
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/directives/directive.module.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.module.ts
Due: prettier --write, eslint

update core module imports [ci:force]
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/header/header.component.ts
  lib/core/src/lib/pagination/pagination.component.stories.ts
  lib/core/src/lib/pagination/pagination.module.ts
  lib/core/src/lib/toolbar/toolbar.component.spec.ts
  lib/core/src/lib/toolbar/toolbar.component.stories.ts
  lib/core/src/lib/toolbar/toolbar.module.ts
  lib/process-services-cloud/src/lib/form/form-cloud.module.ts
Due: prettier --write, eslint

core module legacy with backwards compatibility
  lib/core/src/lib/core-module-legacy.ts
  lib/core/src/public-api.ts
Due: prettier --write, eslint

update core module imports [ci:force]
  demo-shell/src/app/components/file-view/file-view.component.ts
  demo-shell/src/app/components/files/files.component.ts
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/info-drawer/info-drawer-layout.component.ts
  lib/core/src/lib/info-drawer/info-drawer.component.stories.ts
  lib/core/src/lib/info-drawer/info-drawer.component.ts
  lib/core/src/lib/info-drawer/info-drawer.module.ts
  lib/process-services/src/lib/task-list/components/task-details/task-details.component.ts
Due: prettier --write, eslint

update core module imports [ci:force]
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/material.module.ts
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.spec.ts
  lib/core/src/lib/notifications/components/notification-history.component.ts
  lib/core/src/public-api.ts
Due: prettier --write, eslint

cleanup mat selectors [ci:force]
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

cleanup mat selectors [ci:force]
  demo-shell/src/app/components/app-layout/cloud/form-demo/cloud-form-demo.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

update core module imports [ci:force]
  demo-shell/src/app/app.routes.ts
  demo-shell/src/app/components/card-view/card-view.component.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
  lib/core/src/lib/card-view/card-view.module.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.stories.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.stories.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.stories.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-item-dispatcher/card-view-item-dispatcher.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-item-dispatcher/card-view-item-dispatcher.component.ts
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.stories.ts
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.ts
  lib/core/src/lib/card-view/components/card-view-mapitem/card-view-mapitem.component.stories.ts
  lib/core/src/lib/card-view/components/card-view-mapitem/card-view-mapitem.component.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.stories.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.stories.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.spec.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.stories.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.ts
  lib/core/src/lib/card-view/public-api.ts
  lib/core/src/lib/clipboard/clipboard.directive.spec.ts
  lib/core/src/lib/core.module.ts
  lib/process-services/src/lib/process-list/components/process-instance-header/process-instance-header.component.ts
  lib/process-services/src/lib/task-list/components/task-header/task-header.component.ts
Due: prettier --write, eslint

fix css
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

update core module imports [ci:force]
  lib/core/src/lib/language-menu/language-picker.component.ts
Due: prettier --write, eslint

cleanup demo shell [ci:force]
  demo-shell/src/app/app.routes.ts
  demo-shell/src/app/components/card-view/card-view.component.ts
  demo-shell/src/app/components/card-view/card-view.module.ts
Due: prettier --write, eslint

Revert "Revert "AAE-24371 Fix invalid endpoint is called when process with fo…"
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/process/start-process/mock/start-process.component.mock.ts
  lib/process-services-cloud/src/lib/process/start-process/models/process-with-form-payload-cloud.model.ts
  lib/process-services-cloud/src/lib/process/start-process/services/start-process-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/process/start-process/services/start-process-cloud.service.ts
Due: prettier --write, eslint

[ACS-8573] Allow user to ask question without file selection
  lib/content-services/src/lib/agent/services/agent.service.ts
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/search-ai/services/search-ai.service.spec.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
Due: prettier --write, eslint

[ACS-8555] Name filter clear icon now no longer gets cut off (#10054)
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
Due: prettier --write, stylelint --fix

[ACS-8312] Display warning about losing response
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.html
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.scss
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.spec.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.model.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.ts
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_reference-variables.scss
Due: prettier --write, eslint, stylelint --fix

[ACS-8312] Display warning about losing response - fixes
  lib/core/src/lib/app-config/app-config.service.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.html
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.spec.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.ts
Due: prettier --write, eslint

[ACS-8312] Display warning about losing response (#10059)
  lib/core/src/lib/app-config/app-config.service.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.html
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.scss
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.spec.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.model.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.ts
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_reference-variables.scss
Due: prettier --write, eslint, stylelint --fix

[HXCS-3181] - Update translation label for viewer error
  lib/core/src/lib/i18n/en.json
Due: none

Fix app version (#10072)
  e2e/resources/activiti7/uat-be-default-app.zip
Due: none

ACS-7600 fix documentation and method name
  docs/content-services/services/legal-hold.service.md
  docs/core/services/nodes-api.service.md
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/js-api/src/api/gs-core-rest-api/README.md
Due: prettier --write, eslint

ACS-7689 Save and delete to existing hold (#9841)
  docs/content-services/services/legal-hold.service.md
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
  lib/js-api/src/api/gs-core-rest-api/model/hold.ts
Due: prettier --write, eslint

[ACS-8055] Integrate endpoint for getting Legal Holds (#9771)
  docs/content-services/services/legal-hold.service.md
  docs/core/services/nodes-api.service.md
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/legal-hold/index.ts
  lib/content-services/src/lib/legal-hold/public-api.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/content-services/src/public-api.ts
  lib/js-api/src/api/gs-core-rest-api/README.md
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/Hold.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldEntry.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldPaging.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldPagingList.md
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
  lib/js-api/src/api/gs-core-rest-api/docs/RecordCategoryPagingList.md
  lib/js-api/src/api/gs-core-rest-api/model/hold.ts
  lib/js-api/src/api/gs-core-rest-api/model/holdEntry.ts
  lib/js-api/src/api/gs-core-rest-api/model/holdPaging.ts
  lib/js-api/src/api/gs-core-rest-api/model/holdPagingList.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
Due: prettier --write, eslint

ACS-7689 Update payload with hold id (#9877)
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
Due: prettier --write, eslint

[ACS-7690] Saving adding o a new hold (#9862)
  docs/content-services/services/legal-hold.service.md
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
Due: prettier --write, eslint

ACS-7600 create separate type for hold creation
  docs/content-services/services/legal-hold.service.md
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/HoldBody.md
  lib/js-api/src/api/gs-core-rest-api/model/holdBody.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
Due: prettier --write, eslint

[ACS-8036] [FE] Legal Hold in ADW. Part 2 (Bulk) (#10062)
  docs/content-services/services/legal-hold.service.md
  lib/content-services/src/lib/category/services/category.service.spec.ts
  lib/content-services/src/lib/category/services/category.service.ts
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/document-list/services/custom-resources.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/content-services/src/lib/search/services/base-query-builder.service.ts
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/extensions/src/lib/config/action.extensions.ts
  lib/js-api/index.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/BulkAssignHoldResponse.md
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
  lib/js-api/src/api/gs-core-rest-api/model/bulkAssignHoldResponse.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
  lib/js-api/src/constants/index.ts
  lib/js-api/src/constants/language.constants.ts
  lib/js-api/src/index.ts
  lib/js-api/test/mockObjects/content-services/search.mock.ts
  lib/js-api/test/searchApi.spec.spec.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-7600] fix imports in dropdown widget
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.ts
Due: prettier --write, eslint

[ACS-7600] fix Hold interface and documentation
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/js-api/src/api/gs-core-rest-api/docs/Hold.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldBody.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldEntry.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldPaging.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldPagingList.md
  lib/js-api/src/api/gs-core-rest-api/model/hold.ts
Due: prettier --write, eslint

ACS-7600 fix rebasing
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.ts
Due: prettier --write, eslint

AAE-23749 Fix dmn process
  e2e/resources/activiti7/uat-be-default-app.zip
Due: none

AAE-23749 Fix dmn process (#10085)
  e2e/resources/activiti7/uat-be-default-app.zip
Due: none

Fix DMN process for hxp
  e2e/resources/activiti7/uat-be-default-app.zip
Due: none

[ACS-7600] fix hold interfaces and documentation
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/js-api/src/api/gs-core-rest-api/docs/Hold.md
  lib/js-api/src/api/gs-core-rest-api/docs/HoldBody.md
  lib/js-api/src/api/gs-core-rest-api/model/holdItem.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
Due: prettier --write, eslint
