Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[ACS-9230] a11y testing: Search Page / Search Filters / Certain ARIA roles must contain particular children
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
Due: none

[ACS-9230] a11y testing: Search Page / Search Filters / Certain ARIA roles must contain particular children
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: none

[ACS-9230] a11y testing: Search Page / Search Filters / Certain ARIA roles must contain particular children
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
Due: prettier --write, eslint

[ACS-9230] a11y testing: Search Page / Search Filters / Certain ARIA roles must contain particular children (#10627)
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: prettier --write, eslint

[ci:force] - fixed deps
  package-lock.json
  package.json
Due: none

[ci:force] - fixing lint
  lib/extensions/tsconfig.spec.json
  lib/insights/tsconfig.lib.json
  lib/insights/tsconfig.spec.json
  lib/testing/src/lib/protractor/core/actions/identity/group-identity.service.ts
  lib/testing/src/lib/protractor/core/models/tenant.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/snackbar.page.ts
  lib/testing/src/lib/protractor/core/test-element.ts
  lib/testing/src/lib/protractor/core/utils/array.util.ts
  lib/testing/src/lib/protractor/core/utils/protractor.util.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
  lib/testing/src/lib/shared/api/api.service.ts
  lib/testing/src/lib/shared/utils/string.util.ts
  lib/testing/tsconfig.lib.json
Due: prettier --write, eslint

[ci:force] - fixed build for testing 1
  lib/content-services/project.json
  lib/core/project.json
  lib/process-services-cloud/project.json
  lib/stories/project.json
  lib/testing/project.json
  lib/testing/webpack.config.js
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint

Fixed build for all the packages
  .eslintignore
  lib/cli/project.json
  lib/content-services/project.json
  lib/core/project.json
  lib/eslint-angular/project.json
  lib/eslint-angular/src/rules/no-angular-material-selectors/no-angular-material-selectors.ts
  lib/eslint-angular/src/rules/use-none-component-view-encapsulation/use-none-component-view-encapsulation.ts
  lib/eslint-angular/tsconfig.json
  lib/eslint-angular/webpack.config.js
  lib/extensions/project.json
  lib/insights/project.json
  lib/js-api/project.json
  lib/process-services-cloud/project.json
  lib/process-services/project.json
  lib/testing/project.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint

Cherry picked commit from oidc and run fix lint
  lib/core/breadcrumbs/src/components/breadcrumb-item/breadcrumb-item.component.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.spec.ts
  lib/core/src/lib/auth/oidc/retry-login.service.ts
  lib/core/src/lib/auth/services/time-sync.service.ts
  lib/core/src/lib/button/button.component.html
  lib/core/src/lib/card-view/components/card-view-item-dispatcher/card-view-item-dispatcher.component.ts
  lib/core/src/lib/datatable/components/datatable-row/datatable-row.component.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/empty-list/empty-list.component.html
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.html
  lib/core/src/lib/header/header.component.html
  lib/core/src/lib/header/navbar/navbar.component.html
  lib/core/src/lib/info-drawer/info-drawer-layout.component.html
  lib/core/src/lib/info-drawer/info-drawer.component.html
  lib/core/src/lib/info-drawer/info-drawer.component.ts
  lib/core/src/lib/layout/components/header/header.component.html
  lib/core/src/lib/layout/components/layout-container/layout-container.component.html
  lib/core/src/lib/layout/components/sidebar-action/sidebar-action-menu.component.html
  lib/core/src/lib/layout/components/sidenav-layout/sidenav-layout.component.html
  lib/core/src/lib/login/components/login-dialog-panel/login-dialog-panel.component.html
  lib/core/src/lib/login/components/login.component.html
  lib/core/src/lib/login/components/login/login.component.html
  lib/core/src/lib/pagination/infinite-pagination.component.html
  lib/core/src/lib/templates/empty-content/empty-content.component.html
  lib/core/src/lib/templates/error-content/error-content.component.html
  lib/core/src/lib/toolbar/toolbar-title.component.ts
  lib/core/src/lib/toolbar/toolbar.component.html
  lib/core/src/lib/viewer/components/viewer-more-actions.component.ts
  lib/core/src/lib/viewer/components/viewer-open-with.component.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-sidebar.component.ts
  lib/core/src/lib/viewer/components/viewer-toolbar-actions.component.ts
  lib/core/src/lib/viewer/components/viewer-toolbar-custom-actions.component.ts
  lib/core/src/lib/viewer/components/viewer-toolbar.component.ts
  lib/core/src/lib/viewer/components/viewer.component.html
Due: prettier --write, eslint

AAE-26163 Fix infinite loop when authentication error event occured (#10272)
  lib/core/src/lib/auth/oidc/auth.module.ts
Due: prettier --write, eslint

Migrate to NG17
  nx.json
  package-lock.json
  package.json
Due: none

Fixed sonarqube errors
  lib/content-services/src/lib/content-metadata/services/config/layout-oriented-config.service.ts
  lib/content-services/src/lib/document-list/data/share-datatable-adapter.ts
Due: prettier --write, eslint

[ACS-9075] Fixed incorrect buttons labels color (#10489)
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint --fix

Removed unused project parts
  lib/js-api/.mocharc.json
Due: none

Trying to fix js-api unit tests
  lib/js-api/jest.config.ts
  lib/js-api/test/auth.spec.ts
  lib/js-api/test/oauth2Auth.spec.ts
  lib/js-api/test/oauth2AuthImplicitFlow.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Removing testing lib to sync with develop
  lib/testing/project.json
  lib/testing/src/lib/protractor/core/actions/identity/group-identity.service.ts
  lib/testing/src/lib/protractor/core/models/tenant.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/snackbar.page.ts
  lib/testing/src/lib/protractor/core/test-element.ts
  lib/testing/src/lib/protractor/core/utils/array.util.ts
  lib/testing/src/lib/protractor/core/utils/protractor.util.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
  lib/testing/src/lib/shared/api/api.service.ts
  lib/testing/src/lib/shared/utils/string.util.ts
  lib/testing/tsconfig.lib.json
  lib/testing/webpack.config.js
Due: prettier --write, eslint

Reduced tserrors on building storybook
  .github/workflows/pull-request.yml
  lib/process-services-cloud/.storybook/tsconfig.json
  lib/stories/.storybook/tsconfig.json
Due: none

[ACS-9052] manage versions close button is too low (#10466)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.ts
Due: prettier --write, eslint, stylelint --fix

[MIGRATION] - Rebased
  package-lock.json
Due: none

Fixed wrong rule
  lib/process-services-cloud/package.json
Due: none

[MIGRATION] - Readded removed action
  lib/eslint-angular/project.json
Due: none

Readded rule for peer deps
  lib/core/package.json
  lib/process-services-cloud/package.json
Due: none

[MIGRATION] - Checking deps
  lib/eslint-angular/project.json
  package-lock.json
  package.json
Due: none

[MIGRATION] - updated lock
  package-lock.json
Due: none

[MIGRATION] - fixed storybook builds
  migrations.json
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

Removed unused project parts
  lib/js-api/project.json
Due: none

[MIGRATION] - Fixing failing migrated tests
  lib/js-api/test/auth.spec.ts
  lib/js-api/test/bpmAuth.spec.ts
  lib/js-api/test/content-services/tagApi.spec.ts
  lib/js-api/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write, eslint

[MIGRATION] - Checking if now eslint is releasable
  lib/eslint-angular/project.json
Due: none

[ACS-9084] Fixed incorrect color for notification bell icon (#10513)
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint --fix

[MIGRATION] - Changing the building executor for eslint-rules
  lib/eslint-angular/project.json
Due: none

Fixed two excluded unit tests
  lib/js-api/test/oauth2Auth.spec.ts
Due: prettier --write, eslint

Fix ACA pipeline
  lib/js-api/src/utils/is-browser.ts
Due: prettier --write, eslint

Update package.json
  package-lock.json
Due: none

[MIGRATION] - Added injectionContext to avoid error NG0203 for unit tests
  lib/content-services/src/lib/search/services/search-header-query-builder.service.spec.ts
Due: prettier --write, eslint

[MIGRATION] - Fixed lint
  lib/core/api/src/lib/adf-http-client.service.ts
  lib/core/src/lib/auth/oidc/auth.module.ts
Due: prettier --write, eslint

[MIGRATION] - Fixed type
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.ts
  lib/process-services-cloud/src/lib/form/services/form-utils.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-task-list-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/components/base-task-list-cloud.component.ts
Due: prettier --write, eslint

Removing temporarily eslint rule from publishing
  lib/eslint-angular/project.json
Due: none

[MIGRATION] - Moving mocha to jest
  jest.preset.js
  lib/js-api/jest.config.ts
  lib/js-api/project.json
  lib/js-api/src/test-setup.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
