Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

cleanup docs
  docs/README.md
Due: none

ACS-10937 Remove unused mat-progress wrapper (#11505)
  docs/README.md
  lib/core/src/lib/progress/progress.component.html
  lib/core/src/lib/progress/progress.component.md
  lib/core/src/lib/progress/progress.component.spec.ts
  lib/core/src/lib/progress/progress.component.ts
  lib/core/src/public-api.ts
Due: prettier --write, eslint

AAE-40269 Sync package lock
  package-lock.json
Due: none

AAE-40269 Dedupe run
  package-lock.json
Due: none

AAE-40269 Override storybook version
  package-lock.json
  package.json
Due: none

update targets
  lib/content-services/tsconfig.json
  lib/core/tsconfig.json
  lib/extensions/tsconfig.json
  lib/insights/tsconfig.json
  lib/process-services-cloud/tsconfig.json
  lib/process-services-cloud/tsconfig.spec.json
  lib/process-services/tsconfig.json
  tsconfig.json
Due: none

[ACS-10335] Change role group to fieldset element
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
Due: prettier --write, stylelint --fix

update targets
  lib/cli/tsconfig.json
  lib/core/tsconfig.nx.migrations.json
  lib/core/tsconfig.schematics.json
  lib/eslint-angular/tsconfig.json
  lib/js-api/tsconfig.json
  lib/js-api/tsconfig/tsconfig.types.json
Due: none

fixed FormService propagation [ci:force]
  lib/core/src/lib/form/components/widgets/amount/amount.widget.ts
  lib/core/src/lib/form/components/widgets/base-viewer/base-viewer.widget.ts
  lib/core/src/lib/form/components/widgets/button/button.widget.ts
  lib/core/src/lib/form/components/widgets/checkbox/checkbox.widget.ts
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.ts
  lib/core/src/lib/form/components/widgets/display-text/display-text.widget.ts
  lib/core/src/lib/form/components/widgets/error/error.component.ts
  lib/core/src/lib/form/components/widgets/hyperlink/hyperlink.widget.ts
  lib/core/src/lib/form/components/widgets/json/json.widget.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.ts
  lib/core/src/lib/form/components/widgets/number/number.widget.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.ts
  lib/core/src/lib/form/components/widgets/unknown/unknown.widget.ts
  lib/core/src/lib/form/components/widgets/widget.component.spec.ts
  lib/core/src/lib/form/components/widgets/widget.component.ts
Due: prettier --write, eslint

fixed FormService propagation [ci:force]
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/display-rich-text/display-rich-text.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/file-viewer/file-viewer.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/properties-viewer/properties-viewer.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/upload/upload-cloud.widget.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.spec.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.ts
  lib/process-services/src/lib/form/widgets/document/document.widget.ts
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.ts
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.ts
  lib/process-services/src/lib/form/widgets/people/people.widget.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.ts
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.spec.ts
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.ts
  lib/process-services/src/lib/form/widgets/upload/upload.widget.ts
Due: prettier --write, eslint

[ACS-10206]: setting haspopup after init
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.ts
Due: prettier --write, eslint

[ACS-10206]: sonarQube fixes
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: none

[ACS-10206]: revert
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: none

[ACS-10206]: cleanup
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: none

[MNT-25408]: improves facet resetting flow
  lib/content-services/src/lib/search/services/base-query-builder.service.ts
  lib/content-services/src/lib/search/services/search-facet-filters.service.spec.ts
  lib/content-services/src/lib/search/services/search-query-builder.service.spec.ts
Due: prettier --write, eslint

[MNT-25408]: uts refactor
  lib/content-services/src/lib/search/services/search-query-builder.service.spec.ts
Due: prettier --write, eslint

[MNT-25408]: improves facet resetting flow (#11485)
  lib/content-services/src/lib/search/services/base-query-builder.service.ts
  lib/content-services/src/lib/search/services/search-facet-filters.service.spec.ts
  lib/content-services/src/lib/search/services/search-query-builder.service.spec.ts
Due: prettier --write, eslint

Update Angular packages to version 19.2.18 [ci:force]
  package-lock.json
  package.json
Due: none

Remove unused adf-button component
  docs/README.md
  docs/core/components/button.component.md
  lib/core/src/lib/button/button.component.html
  lib/core/src/lib/button/button.component.md
  lib/core/src/lib/button/button.component.scss
  lib/core/src/lib/button/button.component.ts
  lib/core/src/lib/header/header.component.md
  lib/core/src/public-api.ts
Due: prettier --write, eslint, stylelint --fix

Remove unused adf-button component (#11520)
  docs/README.md
  docs/core/components/button.component.md
  lib/core/src/lib/button/button.component.html
  lib/core/src/lib/button/button.component.md
  lib/core/src/lib/button/button.component.scss
  lib/core/src/lib/button/button.component.ts
  lib/core/src/lib/header/header.component.md
  lib/core/src/public-api.ts
Due: prettier --write, eslint, stylelint --fix

AAE-38980 Cleanup insights lib from custom css variables (#11314)
  lib/insights/src/lib/analytics-process/components/analytics-report-list.component.scss
  lib/insights/src/lib/analytics-process/components/analytics-report-parameters.component.scss
  lib/insights/src/lib/analytics-process/components/buttons-menu/buttons-menu.component.scss
  lib/insights/src/lib/analytics-process/components/widgets/date-range/date-range.widget.scss
  lib/insights/src/lib/analytics-process/components/widgets/dropdown/dropdown.widget.scss
  lib/insights/src/lib/diagram/components/tooltip/diagram-tooltip.component.html
  lib/insights/src/lib/diagram/components/tooltip/diagram-tooltip.component.scss
Due: prettier --write, stylelint --fix

AAE-38978 Cleanup process-services-cloud lib from custom css variables (#11295)
  lib/process-services-cloud/src/lib/app/components/app-details-cloud/app-details-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table/file-properties-table-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/display-rich-text/display-rich-text.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/properties-viewer/properties-viewer.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.scss
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.scss
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters/process-filters-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter/edit-service-task-filter-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter/edit-service-task-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter/edit-task-filter-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/service-task-filters/service-task-filters-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/task-assignment-filter/task-assignment-filter.component.scss
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters/task-filters-cloud.component.scss
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.scss
Due: prettier --write, eslint, stylelint --fix

Fix build
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.scss
Due: prettier --write, stylelint --fix

Remove leftover button customization
  lib/content-services/src/lib/dialogs/folder/folder.dialog.scss
Due: prettier --write, stylelint --fix

AAE-39159 Cleanup process-services lib from custom css variables (#11316)
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.scss
  lib/core/src/lib/header/navbar/navbar-item.component.html
  lib/core/src/lib/header/navbar/navbar-item.component.scss
  lib/process-services/src/lib/app-list/apps-list.component.scss
  lib/process-services/src/lib/attachment/process-attachment-list/process-attachment-list.component.scss
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.scss
  lib/process-services/src/lib/form/start-form/start-form.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.scss
  lib/process-services/src/lib/form/widgets/document/content.widget.scss
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.scss
  lib/process-services/src/lib/form/widgets/dynamic-table/editors/boolean/boolean.editor.scss
  lib/process-services/src/lib/form/widgets/dynamic-table/editors/row-editor/row.editor.css
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.scss
  lib/process-services/src/lib/form/widgets/people/people.widget.scss
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.scss
  lib/process-services/src/lib/people/components/people-search/people-search.component.scss
  lib/process-services/src/lib/people/components/people/people.component.scss
  lib/process-services/src/lib/process-list/components/process-filters/process-filters.component.scss
  lib/process-services/src/lib/process-list/components/process-instance-tasks/process-instance-tasks.component.css
  lib/process-services/src/lib/process-list/components/process-list/process-list.component.css
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
  lib/process-services/src/lib/task-list/components/task-details/task-details.component.scss
  lib/process-services/src/lib/task-list/components/task-filters/task-filters.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
  lib/process-services/src/lib/task-list/components/task-header/task-header.component.scss
  lib/process-services/src/lib/task-list/components/task-standalone/task-standalone.component.scss
Due: prettier --write, stylelint --fix

AAE-39748 Pagination font size match md3
  lib/core/src/lib/pagination/pagination.component.scss
Due: prettier --write, stylelint --fix

fix missing brace
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.scss
Due: prettier --write, stylelint --fix

[ACS-10335] Grouped input controls with radio buttons for search date range component (#11507)
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
Due: prettier --write, stylelint --fix

Update Angular packages to version 19.2.18 [ci:force] (#11518)
  package-lock.json
  package.json
Due: none

convert node name tooltip pipe into signals
  lib/content-services/src/lib/content.module.ts
  lib/content-services/src/lib/document-list/components/name-column/name-column.component.spec.ts
  lib/content-services/src/lib/document-list/components/name-column/name-column.component.ts
  lib/content-services/src/lib/document-list/components/trashcan-name-column/trashcan-name-column.component.ts
  lib/content-services/src/lib/pipes/content-pipe.module.ts
  lib/content-services/src/lib/pipes/index.ts
  lib/content-services/src/lib/pipes/node-name-tooltip.pipe.spec.ts
  lib/content-services/src/lib/pipes/node-name-tooltip.pipe.ts
  lib/content-services/src/lib/pipes/public-api.ts
  lib/content-services/src/public-api.ts
Due: prettier --write, eslint

Refactor NodeNameTooltipPipe to simplify tooltip generation
  lib/content-services/src/lib/pipes/node-name-tooltip.pipe.ts
Due: prettier --write, eslint

ACS-8224: remove unused pipe [ci:force]
  docs/README.md
  docs/core/pipes/multi-value.pipe.md
  lib/core/src/lib/pipes/multi-value.pipe.spec.ts
  lib/core/src/lib/pipes/multi-value.pipe.ts
  lib/core/src/lib/pipes/pipe.module.ts
  lib/core/src/lib/pipes/public-api.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
