Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[ACS-8468] Add copy icon
  lib/core/src/lib/assets/images/copy.svg
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8468] Remove change from data column
  lib/core/src/lib/datatable/data-column/data-column.component.ts
Due: prettier --write, eslint

[ACS-8468] Use if instead of *ngIf
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
Due: prettier --write, stylelint --fix

AAE-48859 Allow repeatable section row labels to be configurable
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/form/pipes/repeatable-row-label.pipe.spec.ts
  lib/core/src/lib/form/pipes/repeatable-row-label.pipe.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-9106] Add unit test
  lib/core/src/lib/datatable/data-column/data-column.component.spec.ts
Due: prettier --write, eslint

AAE-48859 Addressing Copilot comments even though they're silly
  lib/core/src/lib/form/pipes/repeatable-row-label.pipe.spec.ts
  lib/core/src/lib/form/pipes/repeatable-row-label.pipe.ts
Due: prettier --write, eslint

AAE-48859 Allow repeatable section row labels to be configurable (#12080)
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/form/pipes/repeatable-row-label.pipe.spec.ts
  lib/core/src/lib/form/pipes/repeatable-row-label.pipe.ts
Due: prettier --write, eslint, stylelint --fix

AAE-47527 Populate people and group widgets from process response
  lib/core/src/lib/form/services/form-field-value-adapter.service.spec.ts
  lib/core/src/lib/form/services/form-field-value-adapter.service.ts
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/reactive-preselection.service.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/reactive-preselection.service.ts
Due: prettier --write, eslint

AAE-47527 Harden process-response user and group canonicalization
  lib/core/src/lib/form/services/form-field-value-adapter.service.spec.ts
  lib/core/src/lib/form/services/form-field-value-adapter.service.ts
Due: prettier --write, eslint

[ACS-8467] Removed duplicated dialog after clicking label in folder rules creation dialog
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint

update error component
  lib/core/src/lib/form/components/widgets/error/error.component.html
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/core/src/lib/form/components/widgets/error/error.component.spec.ts
  lib/core/src/lib/form/components/widgets/error/error.component.ts
Due: prettier --write, eslint, stylelint --fix

update unit tests
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

migrate version manager
  lib/content-services/src/lib/version-manager/version-manager.component.html
  lib/content-services/src/lib/version-manager/version-manager.component.scss
  lib/content-services/src/lib/version-manager/version-manager.component.ts
Due: prettier --write, eslint, stylelint --fix

migrate more components
  lib/core/src/lib/search-text/animations.ts
  lib/core/src/lib/search-text/public-api.ts
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/core/src/lib/search-text/search-text-input.component.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.scss
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix

remove deprecated NoopAnimationsModule from GlobalTestingModule imports
  lib/core/src/lib/testing/global-testing.module.ts
Due: prettier --write, eslint

remove deprecated NoopAnimationsModule from GlobalTestingModule imports
  lib/content-services/src/lib/testing/global-testing.module.ts
Due: prettier --write, eslint

context menu
  lib/core/src/lib/context-menu/context-menu-list.component.html
  lib/core/src/lib/context-menu/context-menu-list.component.scss
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint, stylelint --fix

refactor: remove deprecated NoopAnimationsModule and update imports for NgStyle
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint

refactor: replace deprecated NoopAnimationsModule with provideNoopAnimations and update testing imports [ci:force]
  lib/content-services/src/lib/testing/global-testing.module.ts
  lib/content-services/src/test.ts
  lib/core/test.ts
  lib/process-services-cloud/src/lib/testing/global-testing.module.ts
  lib/process-services-cloud/src/test.ts
  lib/process-services/src/lib/testing/global-testing.module.ts
  lib/process-services/src/test.ts
Due: prettier --write, eslint

Potential fix for pull request finding
  lib/core/src/lib/context-menu/context-menu-list.component.html
Due: none

refactor: update tests to use provideNoopAnimations and improve async handling [ci:force]
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/document-list/services/document-list.service.spec.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.spec.ts
Due: prettier --write, eslint

refactor: clean up search text input component by removing unused imports and simplifying code structure
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint

refactor: simplify version upload structure by replacing table with div
  lib/content-services/src/lib/version-manager/version-manager.component.html
Due: none

refactor: replace NoopAnimationsModule with NoopTranslateModule in session timeout dialog tests
  lib/core/src/lib/auth/session-timeout/session-timeout-dialog.component.spec.ts
Due: prettier --write, eslint

refactor: remove unused context menu animations file
  lib/core/src/lib/context-menu/animations.ts
Due: prettier --write, eslint

refactor: update animation margin values to include 'px' unit
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint

refactor: update margin values to include 'px' unit and improve debounce handling in SearchTextInputComponent
  lib/core/src/lib/search-text/search-text-input.component.spec.ts
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint

refactor: remove deprecated EditJsonDialogModule and UnsavedChangesDialogModule
  lib/core/api/src/lib/adf-http-client.service.spec.ts
  lib/core/feature-flags/src/lib/services/dummy-features.service.spec.ts
  lib/core/src/lib/dialogs/edit-json/edit-json.dialog.module.ts
  lib/core/src/lib/dialogs/public-api.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.module.ts
Due: prettier --write, eslint

refactor: update import path for NoopTranslateModule in session timeout dialog tests
  lib/core/src/lib/auth/session-timeout/session-timeout-dialog.component.spec.ts
Due: prettier --write, eslint

refactor: remove deprecated NoopAnimationsModule from multiple components and enhance animations in tooltip and layout containers
  lib/content-services/package.json
  lib/core/package.json
  lib/core/src/lib/directives/tooltip-card/tooltip-card.component.html
  lib/core/src/lib/directives/tooltip-card/tooltip-card.component.scss
  lib/core/src/lib/directives/tooltip-card/tooltip-card.component.ts
  lib/core/src/lib/layout/components/layout-container/layout-container.component.html
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
  lib/core/src/lib/layout/components/layout-container/layout-container.component.ts
  lib/process-services-cloud/package.json
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.scss
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.ts
  lib/process-services/package.json
Due: prettier --write, eslint, stylelint --fix

Potential fix for pull request finding
  lib/core/api/src/lib/adf-http-client.service.spec.ts
Due: prettier --write, eslint

refactor: update form cloud service tests to use async/await and lastValueFrom for improved readability
  lib/process-services-cloud/src/lib/form/services/form-cloud.service.spec.ts
Due: prettier --write, eslint

refactor: remove unused NgIf import from ErrorWidgetComponent
  lib/core/src/lib/form/components/widgets/error/error.component.ts
Due: prettier --write, eslint

add missing import
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

refactor: remove deprecated tooltip-fade-out animation from tooltip-card component
  lib/core/src/lib/directives/tooltip-card/tooltip-card.component.scss
Due: prettier --write, stylelint --fix

refactor: update animation state handling in layout and search components
  lib/core/src/lib/layout/components/layout-container/layout-container.component.html
  lib/core/src/lib/layout/components/layout-container/layout-container.component.ts
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint

refactor: simplify ContextMenuListComponent by removing unused data variable and constructor
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint

refactor: add menu-scale-out animation for context menu closing effect
  lib/core/src/lib/context-menu/context-menu-list.component.scss
Due: prettier --write, stylelint --fix

refactor: rename animation keyframes for error components to maintain consistency
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.scss
Due: prettier --write, stylelint --fix

refactor: remove deprecated subscriptAnimationState from SearchTextInputComponent
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
