Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[ACS-10449] fix metadata property label color
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
Due: prettier --write, stylelint --fix

[ACS-10449] Current aspect on changes fix
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
Due: prettier --write, eslint

AAE-45774 Shorten invalid date error message
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/i18n/en.json
Due: none

[ACS-10449] Make notification history badge size configurable
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.spec.ts
  lib/core/src/lib/notifications/components/notification-history.component.ts
Due: prettier --write, eslint

feat(task-list): add sorting functionality to task list retrieval [ci:force]
  lib/process-services-cloud/src/lib/services/base-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

Revert "New Crowdin translations by GitHub Action (#11796)"
  lib/content-services/src/lib/i18n/en.json
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/en.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/process-services-cloud/src/lib/i18n/en.json
Due: none

Revert "New Crowdin translations by GitHub Action (#11796)" (#11923)
  lib/content-services/src/lib/i18n/en.json
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/en.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/process-services-cloud/src/lib/i18n/en.json
Due: none

AAE-46476 Fix sorting functionality of task list retrieval from runtime bundle (#11921)
  lib/process-services-cloud/src/lib/services/base-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

[ACS-10449] Make notification history badge size configurable via config file
  docs/core/components/notification-history.component.md
  lib/core/src/lib/notifications/components/notification-history.component.spec.ts
  lib/core/src/lib/notifications/components/notification-history.component.ts
Due: prettier --write, eslint

MD3 migration fixes (#11919)
  docs/core/components/notification-history.component.md
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.scss
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.spec.ts
  lib/core/src/lib/notifications/components/notification-history.component.ts
  lib/core/src/lib/toolbar/toolbar.component.scss
Due: prettier --write, eslint, stylelint --fix

AAE-46388 Add Supply Chain Review agentic workflow
  .gitattributes
  .github/dependabot.yml
  .github/workflows/supply-chain-review.lock.yml
  .github/workflows/supply-chain-review.md
Due: none

AAE-46388 Add Supply Chain Review - PR instructions flow
  .github/workflows/supply-chain-pr-instructions.yml
Due: none

AAE-46388 Add Supply Chain Review agentic workflow (#11927)
  .gitattributes
  .github/dependabot.yml
  .github/workflows/supply-chain-pr-instructions.yml
  .github/workflows/supply-chain-review.lock.yml
  .github/workflows/supply-chain-review.md
Due: none

[AAE-46242] - revert en-GB to en.json
  crowdin.yml
  lib/config/app.config.json
  lib/content-services/karma.conf.js
  lib/content-services/src/lib/i18n/en.json
  lib/core/karma.conf.js
  lib/core/shell/src/lib/components/shell/shell.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/common/models/default-languages.model.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
  lib/core/src/lib/common/utils/date-fns-utils.spec.ts
  lib/core/src/lib/common/utils/date-fns-utils.ts
  lib/core/src/lib/common/utils/moment-date-adapter.ts
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/i18n/en.json
  lib/core/src/lib/language-menu/service/language.service.spec.ts
  lib/core/src/lib/mock/language.service.mock.ts
  lib/core/src/lib/mock/translation.service.mock.ts
  lib/core/src/lib/testing/noop-translate.module.ts
  lib/core/src/lib/translation/provide-i18n.spec.ts
  lib/core/src/lib/translation/provide-i18n.ts
  lib/core/src/lib/translation/translate-loader.spec.ts
  lib/core/src/lib/translation/translation.service.spec.ts
  lib/core/src/lib/translation/translation.service.ts
  lib/insights/src/lib/i18n/en.json
  lib/process-services-cloud/karma.conf.js
  lib/process-services-cloud/src/lib/i18n/en.json
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/i18n/en.json
Due: prettier --write, eslint

[AAE-46242] - fixed crowding config
  crowdin.yml
Due: none

[AAE-46242] - added fallback fix'
  lib/core/src/lib/translation/translate-loader.service.ts
  lib/core/src/lib/translation/translate-loader.spec.ts
Due: prettier --write, eslint

[AAE-46242] - Added defaultLang missing method
  lib/core/src/lib/translation/translate-loader.service.ts
Due: prettier --write, eslint

[AAE-46242] - Fixing unit test
  lib/core/src/lib/translation/translation.service.ts
Due: prettier --write, eslint

[AAE-46242] - fixed core unit tests
  lib/core/src/lib/common/services/user-preferences.service.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

AAE-46242 - should use the variable osx_locale to match the format xx-YY
  crowdin.yml
Due: none

AAE-46242 - should use the variable osx_locale to match the format xx-YY (#11936)
  crowdin.yml
Due: none

New Crowdin translations by GitHub Action
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt.json
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/insights/src/lib/i18n/de.json
  lib/insights/src/lib/i18n/es.json
  lib/insights/src/lib/i18n/fr.json
  lib/insights/src/lib/i18n/it.json
  lib/insights/src/lib/i18n/pl.json
  lib/insights/src/lib/i18n/pt.json
  lib/process-services-cloud/src/lib/i18n/de.json
  lib/process-services-cloud/src/lib/i18n/es.json
  lib/process-services-cloud/src/lib/i18n/fr.json
  lib/process-services-cloud/src/lib/i18n/it.json
  lib/process-services-cloud/src/lib/i18n/pl.json
  lib/process-services-cloud/src/lib/i18n/pt.json
  lib/process-services/src/lib/i18n/de.json
  lib/process-services/src/lib/i18n/es.json
  lib/process-services/src/lib/i18n/fr.json
  lib/process-services/src/lib/i18n/it.json
  lib/process-services/src/lib/i18n/pl.json
  lib/process-services/src/lib/i18n/pt.json
Due: none

AAE-46242 - Looks like we need to override the mapping as crowding config is not set to this format
  crowdin.yml
Due: none

AAE-46242 - Looks like we need to override the mapping as crowding config is not set to this format (#11939)
  crowdin.yml
Due: none

[AAE-32905] - Re enabled ci commands on commit messages
  .github/actions/before-install/action.yml
  .github/workflows/pull-request.yml
  docs/ci-commands.md
Due: none

[ci:force] - Checking
  .github/actions/before-install/action.yml
  .github/workflows/pull-request.yml
Due: none

Add nextTask method to retrieve the next recommended task for processing
  lib/process-services-cloud/src/lib/task/services/task-cloud.service.ts
Due: prettier --write, eslint

[AAE-32905] Fix commit messages commands aren't working (#11922)
  .github/actions/before-install/action.yml
  .github/workflows/pull-request.yml
  docs/ci-commands.md
Due: none

Refactor nextTask method to simplify query URL construction and improve parameter handling
  lib/process-services-cloud/src/lib/task/services/task-cloud.service.ts
Due: prettier --write, eslint

AAE-46388 Fix DependaBot config to ignore gh-aw-actions
  .github/dependabot.yml
Due: none

AAE-46388 Fix DependaBot config to ignore gh-aw-actions (#11946)
  .github/dependabot.yml
Due: none

AAE-46386 Set DependaBot cooldown for all ecosystems as 3d
  .github/dependabot.yml
Due: none

AAE-46386 Set DependaBot cooldown for all ecosystems as 3d (#11947)
  .github/dependabot.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
