Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

fix "affected"
  .github/workflows/release-branch.yml
  lib/core/src/lib/common/services/log.service.ts
Due: prettier --write, eslint

fix "affected" (#9898)
  .github/workflows/release-branch.yml
  lib/core/src/lib/common/services/log.service.ts
Due: prettier --write, eslint

restore unit tests
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/core/src/lib/form/components/widgets/checkbox/checkbox.widget.spec.ts
Due: prettier --write, eslint

restore unit tests
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
Due: prettier --write, eslint

use standard accessible tooltips
  lib/content-services/src/lib/search/components/search-chip-list/search-chip-list.component.html
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-menu-card/search-filter-menu-card.component.html
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.html
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.html
  lib/content-services/src/lib/search/components/search-radio/search-radio.component.html
  lib/core/breadcrumbs/src/components/breadcrumb/breadcrumb.component.html
  lib/core/breadcrumbs/src/components/breadcrumb/breadcrumb.component.ts
  lib/core/feature-flags/src/lib/components/flags/flags.component.html
  lib/core/feature-flags/src/lib/components/flags/flags.component.ts
Due: prettier --write, eslint

use standard accessible tooltips
  demo-shell/src/app/components/search/search-filter-chips.component.html
  lib/content-services/src/lib/aspect-list/aspect-list.component.html
  lib/content-services/src/lib/aspect-list/aspect-list.module.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.html
  lib/content-services/src/lib/dialogs/node-lock.dialog.html
  lib/content-services/src/lib/search/components/search-check-list/search-check-list.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.ts
Due: prettier --write, eslint

restore unit tests
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.spec.ts
  lib/core/src/lib/form/components/widgets/hyperlink/hyperlink.widget.spec.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.spec.ts
  lib/core/src/lib/form/components/widgets/number/number.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.spec.ts
  lib/process-services/src/lib/form/widgets/people/people.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
Due: prettier --write, eslint

restore unit tests
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.spec.ts
Due: prettier --write, eslint

use standard accessible tooltips [ci:force]
  lib/core/src/lib/form/components/middlewares/decimal-middleware.service.ts
Due: prettier --write, eslint

restore unit tests
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
Due: prettier --write, eslint

cleanup e2e
  e2e-playwright/page-object/components/material/index.ts
  e2e-playwright/page-object/components/material/material-locators.ts
  e2e-playwright/page-object/components/material/validation.component.ts
  e2e-playwright/process-services-cloud/components/group.component.ts
  e2e-playwright/process-services-cloud/components/people.component.ts
  e2e-playwright/process-services-cloud/specs/groups-cloud.e2e.ts
  e2e-playwright/process-services-cloud/specs/people-cloud.e2e.ts
Due: prettier --write, eslint

HXCS 3856 File rotation in ADF Viewer (#9873)
  docs/core/components/viewer.component.md
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.html
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.ts
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.html
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.spec.ts
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
  lib/core/src/lib/viewer/components/viewer.component.html
  lib/core/src/lib/viewer/components/viewer.component.ts
Due: prettier --write, eslint

[ACS-8322] Testing Angular 15 - Info Drawer - General info - Missing arrow in Content type selector
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
Due: prettier --write, stylelint

code improvements
  lib/core/src/lib/pipes/full-name.pipe.spec.ts
  lib/core/src/lib/pipes/full-name.pipe.ts
  lib/extensions/src/lib/config/document-list.extensions.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint

disable outdated user info components in demo shell
  demo-shell/src/app/components/app-layout/user-info/user-info.component.html
Due: none

disable outdated user info components in demo shell [ci:force]
  demo-shell/src/app/components/app-layout/user-info/user-info.component.html
Due: none

disable outdated user info components in demo shell [ci:force]
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint

disable outdated user info components in demo shell [ci:force]
  lib/core/src/lib/pipes/public-api.ts
  lib/core/src/lib/pipes/user-like.interface.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint

Add new datatable param for checkboxes visibility
  docs/content-services/components/document-list.component.md
  docs/core/components/datatable.component.md
  lib/content-services/src/lib/document-list/components/document-list.component.html
  lib/content-services/src/lib/document-list/components/document-list.component.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint, stylelint

Add new datatable param for checkboxes visibility (#9908)
  docs/content-services/components/document-list.component.md
  docs/core/components/datatable.component.md
  lib/content-services/src/lib/document-list/components/document-list.component.html
  lib/content-services/src/lib/document-list/components/document-list.component.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint, stylelint

AAE-23572 all builds but the extensions one
  .vscode/extensions.json
  .vscode/settings.json
  angular.json
  lib/cli/tsconfig.json
  lib/core/project.json
  lib/core/tsconfig.json
  lib/core/tsconfig.lib.json
  lib/extensions/project.json
  lib/extensions/tsconfig.json
  lib/extensions/tsconfig.lib.json
  lib/js-api/.mocharc.json
  lib/js-api/README.md
  lib/js-api/src/authentication/oauth2Auth.ts
  lib/js-api/test/ecmAuth.spec.ts
  lib/js-api/test/oauth2Auth.spec.ts
  lib/js-api/test/tsconfig.json
  lib/js-api/tsconfig.json
  lib/testing/tsconfig.json
  lib/testing/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint

AAE-23572 missing files
  .prettierignore
  jest.config.ts
  jest.preset.js
  lib/js-api-old/.eslintrc.json
  lib/js-api-old/.mocharc.json
  lib/js-api-old/README.md
  lib/js-api-old/package.json
  lib/js-api-old/tsconfig.json
  lib/js-api/jest.config.ts
  lib/js-api/project.json
  lib/js-api/tsconfig.lib.json
  lib/js-api/tsconfig.spec.json
  tools/scripts/publish.mjs
Due: prettier --write, eslint

Trying to make a little bit more to build
  lib/cli/tsconfig.json
  lib/extensions/tsconfig.json
  lib/extensions/tsconfig.lib.json
  lib/testing/package.json
Due: none

Let's see if now builds
  lib/testing/package-lock.json
Due: none

working builds
  lib/core/tsconfig.json
  lib/core/tsconfig.lib.json
Due: none

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

Building testing package
  lib/testing/project.json
Due: none

Make all the part build
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  migrations.json
  package.json
Due: prettier --write, eslint

Demo shell builds
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/src/lib/styles/_index.scss
Due: prettier --write, stylelint

Fixed linting
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
Due: prettier --write, eslint, stylelint

Fixed unit tests
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/services/property-descriptors.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/karma.conf.js
  lib/extensions/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint
