Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

[affected:*][ci:force] Fixed other e2es
  e2e/process-services/form/people-component.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/people-cloud-component.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
  e2e/process-services/widgets/checkbox-widget.e2e.ts
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

readded missing dep
  package-lock.json
  package.json
Due: none

[AAE-21085] Fix e2e Search - revert to previous version, text should be written without pressing eneter to show the autocomplete list items
  e2e/search/search-component.e2e.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed e2e with new notation
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

Fixed PR after huge rebase -_-
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.scss
  package.json
Due: prettier --write, eslint, stylelint

fixed unit test problem and some other e2e
  e2e/process-services-cloud/form-field/task-visibility-condition.e2e.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.html
  lib/testing/src/lib/protractor/core/pages/form/widgets/dynamic-table-widget.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/tasks.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Fixed slider search e2es
  e2e/search/components/search-slider.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/testing/src/lib/protractor/content-services/pages/search/search-categories.page.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-slider.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed e2e with new notation
  e2e-playwright/page-object/components/material/material-locators.ts
  e2e-playwright/page-object/components/material/validation.component.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint, stylelint

fixig e2es - task and version
  e2e/process-services/pages/task-filters-demo.page.ts
  e2e/process-services/pages/tasks-list.page.ts
  e2e/process-services/tasks/task-filters-sorting.e2e.ts
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
Due: prettier --write, eslint, stylelint

Readded method removed
  e2e/core/pages/metadata-view.page.ts
Due: prettier --write, eslint

Re Enabling unit test removed
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Remove fit
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
Due: prettier --write, eslint

[AAE-21083] Fix e2e Content: Metadata - C245652 - fix tab active selector
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[AAE-21083] Fix e2e Content: Metadata - C280560 - fix slide toggle click, in v15 toggle is handled with a button instead of input
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed e2e with new notation
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Fixed unit test
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
Due: prettier --write, eslint

[AAE-21085] Fix e2e Search - add content selector that wrap text
  e2e/search/pages/search-bar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed lint
  lib/content-services/src/lib/version-manager/version-list.component.spec.ts
Due: prettier --write, eslint

Fixed errors on unit and lint
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing rebase
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/services/display-mode.service.spec.ts
  lib/process-services-cloud/tsconfig.spec.json
Due: prettier --write, eslint

Fixed dependency to allow greater versions
  lib/process-services-cloud/package.json
Due: none

[ACS-7373] ng15 permissions page fixes
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7413] Dialog height and spacing issues (#9515)
  lib/content-services/src/lib/dialogs/confirm.dialog.html
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
Due: prettier --write, stylelint

[AAE-18267] change unit test setup for auth service (#9216)
  lib/core/src/lib/auth/services/authentication.service.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the return of the fail
  lib/testing/src/lib/protractor/process-services-cloud/pages/form/widget/attach-file-widget-cloud.page.ts
Due: prettier --write, eslint

Fixed pointless e2e
  e2e/content-services/metadata/metadata-properties.e2e.ts
Due: prettier --write, eslint

[AAE-21084] Fix e2e Content: Upload and Versioning - C279992 - fix enable togle selector
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

Fixed lint files and exclude some needing migration
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.scss
  lib/content-services/src/lib/version-manager/version-list.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
Due: prettier --write, stylelint

rebased and fixed the wrong directive for matList'
  docs/content-services/components/search.component.md
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-control.component.html
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
  lib/content-services/src/lib/upload/components/file-uploading-list-row.component.html
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/insights/src/lib/analytics-process/components/analytics-report-list.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/upload-cloud.widget.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/upload/upload.widget.html
  lib/process-services/src/lib/process-list/components/process-instance-tasks/process-instance-tasks.component.html
Due: prettier --write, eslint

[ACS-7375] - Share link dialog issues
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
Due: prettier --write, stylelint

[ACS-7359] - Angular 15 - Edit aspects modal [ACA] (#9488)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

remaining unit test fixes for the Angular 15 update (#9218)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

Fixed unit tests after rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
Due: prettier --write, eslint

[affected:*][ci:force] Wrong setting page
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed check on expansion panel filter
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] [AAE-21082] Fix e2e Content: Directive - C291941 - add missing selector
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

fixig e2es
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
