Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Extra parentesys lint
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

AAE-21256 Fix form widget styles (#9599)
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint

Trying to fix the long failing e2ea
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[ACS-8004] Fix inputs for move folder (#9707)
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

rebased
  lib/core/src/lib/templates/template.module.ts
  package-lock.json
Due: prettier --write, eslint

[ACS-7419] Fix broken styling of notifications, apply pr remarks
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-8026] Fixed task form rendering (#9742)
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/error/error.component.html
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
  lib/process-services/src/lib/form/form.component.html
  lib/process-services/src/lib/form/form.component.scss
  lib/process-services/src/lib/form/form.component.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.html
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
Due: prettier --write, eslint, stylelint

Rebased ADF Migration PR
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
Due: prettier --write, eslint, stylelint

[ACS-8021] Inputs for comments (#9722)
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
Due: prettier --write, stylelint

[ACS-7983] Fixed security controls dialog (#9747)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed SonarCloud complaints
  lib/content-services/src/lib/search/components/search-form/search-form.component.scss
Due: prettier --write, stylelint

[ACS-7768] unify inputs and selects across the app - revert (#9699)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-input/search-input.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.html
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.html
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/_reference-variables.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, eslint, stylelint

AAE-21697 Fix people form widget style (#9555)
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

Skipped failing unit tests
  lib/content-services/src/lib/folder-directive/folder-edit.directive.spec.ts
Due: prettier --write, eslint

[ACS-7530] - Notifications popup looks a bit differently (#9543)
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-7582] Upload dialog button display fix (#9603)
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.scss
Due: prettier --write, stylelint

Rebased ADF Migration PR
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
Due: prettier --write, eslint

Added missing import for uppercase pipe (#9748)
  lib/core/src/lib/form/components/form-renderer.component.ts
Due: prettier --write, eslint

[ACS-7554] Fix tags in column display (#9597)
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
Due: prettier --write, stylelint

Recreated package-lock
  package-lock.json
Due: none

[ACS-7681] Bell icon not aligned [ACS-7571] Comments [ACS-7563] Add permission dialog (#9594)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
  lib/core/src/lib/comments/comment-list/comment-list.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

rebased to last develop
  package-lock.json
Due: none

Fixed unit test
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
Due: prettier --write, eslint

[ACS-7555] column filters (#9576)
  lib/content-services/src/lib/search/components/search-check-list/search-check-list.component.scss
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7982] ACC - fix categories tree (#9715)
  lib/content-services/src/lib/tree/components/tree.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
Due: prettier --write, eslint

[ACS-7560] undo deletion notification (#9632)
  lib/core/src/lib/snackbar-content/snackbar-content.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

[ACS-7998] - Add permissions input (#9704)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
Due: prettier --write, stylelint

Fixed property e2e
  e2e/core/pages/metadata-view.page.ts
Due: prettier --write, eslint

fix folder-edit license headers
  lib/content-services/src/lib/folder-directive/folder-edit.directive.spec.ts
  lib/content-services/src/lib/folder-directive/folder-edit.directive.ts
Due: prettier --write, eslint

Fixed package-lock
  package-lock.json
Due: none

Fixed after rebase
  lib/core/feature-flags/src/lib/directives/features.directive.ts
  lib/core/feature-flags/src/lib/directives/not-features.directive.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.spec.ts
  lib/testing/package-lock.json
Due: prettier --write, eslint

Missed import
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7575] create library dialog fixes (#9574)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
Due: prettier --write, stylelint

AAE-21703 Fix group widget style (#9612)
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-22783 Fix form elements label style (#9725)
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixing some sonarcloud comments
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/upload/upload.widget.html
Due: none

[ACS-7331] - View details sidebar (#9455)
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - Fixed problem after rebase
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/dialogs/folder.dialog.spec.ts
  lib/core/src/lib/directives/infinite-select-scroll.directive.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
