Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

convert to standalone [ci:force]
  lib/core/src/lib/datatable/datatable.module.ts
Due: prettier --write, eslint

convert to standalone [ci:force]
  lib/core/src/lib/core.module.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.stories.ts
  lib/core/src/lib/datatable/data-column/data-column.component.stories.ts
Due: prettier --write, eslint

convert to standalone [ci:force]
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.ts
Due: prettier --write, eslint

convert to standalone [ci:force]
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services/src/lib/people/components/people-list/people-list.component.ts
  lib/process-services/src/lib/people/components/people/people.component.ts
  lib/process-services/src/lib/process-list/components/process-list/process-list.component.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

convert to standalone [ci:force]
  lib/process-services/src/lib/attachment/process-attachment-list/process-attachment-list.component.ts
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.ts
  lib/process-services/src/lib/form/form-list/form-list.component.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.ts
Due: prettier --write, eslint

convert to standalone [ci:force]
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
Due: prettier --write, eslint

convert to standalone [ci:force]
  lib/core/src/lib/dialogs/dialog/dialog.component.html
  lib/core/src/lib/dialogs/dialog/dialog.component.ts
Due: prettier --write, eslint

remove unused AuditService
  docs/README.md
  docs/content-services/services/audit.service.md
  lib/content-services/src/lib/audit/audit.service.ts
Due: prettier --write, eslint

ACS-7391: breadcrumb component
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.ts
  lib/content-services/src/lib/breadcrumb/breadcrumb.module.ts
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.module.ts
  lib/content-services/src/lib/content.module.ts
Due: prettier --write, eslint

ACS-7392: category management as standalone
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/category/category.module.ts
  lib/content-services/src/lib/content.module.ts
  lib/content-services/src/lib/dialogs/dialog.module.ts
Due: prettier --write, eslint

ACS-7405: tree component as standalone
  lib/content-services/src/lib/content.module.ts
  lib/content-services/src/lib/tree/components/tree.component.ts
  lib/content-services/src/lib/tree/tree.module.ts
Due: prettier --write, eslint

ACS-7396: content dialogs as standalone
  lib/content-services/src/lib/content.module.ts
  lib/content-services/src/lib/dialogs/category-selector.dialog.spec.ts
  lib/content-services/src/lib/dialogs/category-selector.dialog.ts
  lib/content-services/src/lib/dialogs/dialog.module.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.module.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
Due: prettier --write, eslint

ACS-7396: content dialogs as standalone
  docs/content-services/dialogs/category-selector.dialog.md
  lib/content-services/src/lib/dialogs/category-selector/category-selector.dialog.html
  lib/content-services/src/lib/dialogs/category-selector/category-selector.dialog.scss
  lib/content-services/src/lib/dialogs/category-selector/category-selector.dialog.spec.ts
  lib/content-services/src/lib/dialogs/category-selector/category-selector.dialog.ts
  lib/content-services/src/lib/dialogs/dialog.module.ts
  lib/content-services/src/lib/dialogs/public-api.ts
Due: prettier --write, eslint, stylelint

ACS-7396: content dialogs as standalone
  lib/content-services/src/lib/content-node-selector/content-node-dialog.service.ts
  lib/content-services/src/lib/dialogs/dialog.module.ts
  lib/content-services/src/lib/dialogs/library/library.dialog.spec.ts
  lib/content-services/src/lib/dialogs/library/library.dialog.ts
  lib/content-services/src/lib/dialogs/node-lock/node-lock.dialog.html
  lib/content-services/src/lib/dialogs/node-lock/node-lock.dialog.spec.ts
  lib/content-services/src/lib/dialogs/node-lock/node-lock.dialog.ts
  lib/content-services/src/lib/dialogs/public-api.ts
Due: prettier --write, eslint

ACS-7396: content dialogs as standalone
  lib/content-services/src/lib/content.module.ts
  lib/content-services/src/lib/dialogs/dialog.module.ts
  lib/content-services/src/lib/dialogs/folder/folder-name.validators.ts
  lib/content-services/src/lib/dialogs/folder/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder/folder.dialog.scss
  lib/content-services/src/lib/dialogs/folder/folder.dialog.spec.ts
  lib/content-services/src/lib/dialogs/folder/folder.dialog.ts
  lib/content-services/src/lib/dialogs/public-api.ts
  lib/content-services/src/lib/folder-directive/folder-edit.directive.ts
  lib/content-services/src/lib/social/like.component.html
Due: prettier --write, eslint, stylelint

mark material module for deprecation [ci:force]
  lib/content-services/src/lib/material.module.ts
Due: prettier --write, eslint

ACS-8329 Resolve git conflicts, cleanup
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
Due: none

ACS-8329 Manage bulks endpoint (#9972)
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/BulkHoldAddResponse.md
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
  lib/js-api/src/api/gs-core-rest-api/model/bulkHoldAddResponse.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
Due: prettier --write, eslint

[ACS-8249] ui-header component
  docs/README.md
  docs/core/components/ui-header.component.md
  docs/docassets/images/adf-ui-header-extended.png
  docs/docassets/images/adf-ui-header-minimal.png
  lib/core/src/lib/ui-header/index.ts
  lib/core/src/lib/ui-header/navbar/navbar-item.component.html
  lib/core/src/lib/ui-header/navbar/navbar-item.component.md
  lib/core/src/lib/ui-header/navbar/navbar-item.component.scss
  lib/core/src/lib/ui-header/navbar/navbar-item.component.spec.ts
  lib/core/src/lib/ui-header/navbar/navbar-item.component.ts
  lib/core/src/lib/ui-header/navbar/navbar.component.html
  lib/core/src/lib/ui-header/navbar/navbar.component.md
  lib/core/src/lib/ui-header/navbar/navbar.component.scss
  lib/core/src/lib/ui-header/navbar/navbar.component.spec.ts
  lib/core/src/lib/ui-header/navbar/navbar.component.ts
  lib/core/src/lib/ui-header/public-api.ts
  lib/core/src/lib/ui-header/ui-header.component.html
  lib/core/src/lib/ui-header/ui-header.component.md
  lib/core/src/lib/ui-header/ui-header.component.scss
  lib/core/src/lib/ui-header/ui-header.component.spec.ts
  lib/core/src/lib/ui-header/ui-header.component.ts
  lib/core/src/public-api.ts
Due: prettier --write, eslint, stylelint

unit tests fixes
  lib/core/src/lib/ui-header/navbar/navbar-item.component.spec.ts
  lib/core/src/lib/ui-header/navbar/navbar.component.spec.ts
  lib/core/src/lib/ui-header/ui-header.component.spec.ts
Due: prettier --write, eslint

clear imports
  lib/core/src/lib/ui-header/navbar/navbar-item.component.html
  lib/core/src/lib/ui-header/navbar/navbar-item.component.spec.ts
  lib/core/src/lib/ui-header/navbar/navbar-item.component.ts
  lib/core/src/lib/ui-header/navbar/navbar.component.spec.ts
  lib/core/src/lib/ui-header/navbar/navbar.component.ts
  lib/core/src/lib/ui-header/ui-header.component.spec.ts
  lib/core/src/lib/ui-header/ui-header.component.ts
Due: prettier --write, eslint

ng15 fix
  lib/core/src/lib/ui-header/navbar/navbar-item.component.html
  lib/core/src/lib/ui-header/navbar/navbar-item.component.md
  lib/core/src/lib/ui-header/navbar/navbar-item.component.scss
  lib/core/src/lib/ui-header/navbar/navbar-item.component.spec.ts
  lib/core/src/lib/ui-header/navbar/navbar.component.spec.ts
Due: prettier --write, eslint, stylelint

correct docs
  lib/core/src/lib/ui-header/navbar/navbar-item.component.md
  lib/core/src/lib/ui-header/navbar/navbar.component.md
Due: none

[ACS-8249] rename ui-header to header
  docs/README.md
  docs/core/components/adf-header.component.md
  docs/core/components/ui-header.component.md
  lib/core/src/lib/header/docs-images/adf-header-extended.png
  lib/core/src/lib/header/docs-images/adf-header-minimal.png
  lib/core/src/lib/header/header.component.html
  lib/core/src/lib/header/header.component.md
  lib/core/src/lib/header/header.component.scss
  lib/core/src/lib/header/header.component.spec.ts
  lib/core/src/lib/header/header.component.ts
  lib/core/src/lib/header/index.ts
  lib/core/src/lib/header/navbar/navbar-item.component.html
  lib/core/src/lib/header/navbar/navbar-item.component.md
  lib/core/src/lib/header/navbar/navbar-item.component.scss
  lib/core/src/lib/header/navbar/navbar-item.component.spec.ts
  lib/core/src/lib/header/navbar/navbar-item.component.ts
  lib/core/src/lib/header/navbar/navbar.component.html
  lib/core/src/lib/header/navbar/navbar.component.md
  lib/core/src/lib/header/navbar/navbar.component.scss
  lib/core/src/lib/header/navbar/navbar.component.spec.ts
  lib/core/src/lib/header/navbar/navbar.component.ts
  lib/core/src/lib/header/public-api.ts
  lib/core/src/public-api.ts
Due: prettier --write, eslint, stylelint

[ACS-8249] change class selector to attribute
  lib/core/src/lib/header/header.component.html
  lib/core/src/lib/header/header.component.md
  lib/core/src/lib/header/header.component.scss
Due: prettier --write, stylelint

[ACS-8249] removed redundant beforeEach()
  lib/core/src/lib/header/header.component.spec.ts
Due: prettier --write, eslint

[ACS-8249] removed ngx-translate dependency
  lib/core/src/lib/header/header.component.html
  lib/core/src/lib/header/header.component.spec.ts
  lib/core/src/lib/header/header.component.ts
  lib/core/src/lib/header/navbar/navbar-item.component.html
  lib/core/src/lib/header/navbar/navbar-item.component.spec.ts
  lib/core/src/lib/header/navbar/navbar-item.component.ts
  lib/core/src/lib/header/navbar/navbar.component.spec.ts
Due: prettier --write, eslint

AAE-23358 change submit button disabled condition to make solution more in sync with original one
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
Due: prettier --write, eslint

[ACS-8259] Testing Angular 15 - Manage rule page issue (#9978)
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
Due: prettier --write, stylelint

AAE-23640 Fix dates
  lib/core/src/lib/common/utils/date-fns-utils.spec.ts
  lib/core/src/lib/common/utils/date-fns-utils.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
Due: prettier --write, eslint

AAE-23520 Fix date parse with invalid display format
  lib/core/src/lib/form/components/widgets/core/error-message.model.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
Due: prettier --write, eslint

Fix tests
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
Due: prettier --write, eslint

Fix sonar
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
Due: prettier --write, eslint

AAE-22948 Update radio-buttons-cloud.widget
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.ts
Due: prettier --write, eslint

AAE-22948 Update form-field.model
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

AAE-22948 Update radio-buttons-cloud
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.ts
Due: prettier --write, eslint

AAE-22948 Update radio-buttons
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.ts
Due: prettier --write, eslint

AAE-22948 Update radio-buttons.widget
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.ts
Due: prettier --write, eslint

AAE-23666 Make Datetime timezone aware (#9942)
  lib/core/src/lib/common/utils/date-fns-utils.spec.ts
  lib/core/src/lib/common/utils/date-fns-utils.ts
  lib/core/src/lib/form/components/widgets/core/error-message.model.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
Due: prettier --write, eslint

[ACS-8444] - [ACA] Testing Angular 15 - Underline in filter boxes are not bolded
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
Due: prettier --write, stylelint
