Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[MIGRATION] - storybook chips related e2e fails fix, unit alignments
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[MIGRATION] - Ok this is really weird
  lib/js-api/package.json
  lib/testing/src/lib/protractor/process-services-cloud/actions/application.ts
Due: prettier --write, eslint

[MIGRATION] - fixed schematics build
  lib/core/project.json
  lib/core/tsconfig.schematics.json
Due: none

[MIGRATION] fix header background color not being read from input prop
  lib/core/src/lib/layout/components/header/header.component.scss
Due: prettier --write, stylelint --fix

[MIGRATION] - check to update the script
  .github/workflows/pull-request.yml
  .github/workflows/release-branch.yml
  scripts/github/affected-contains.sh
Due: none

[MIGRATION] - Fixed lint
  lib/core/src/lib/auth/guard/auth-guard-base.ts
  lib/extensions/src/lib/services/extension.service.ts
Due: prettier --write, eslint

[MIGRATION] - Ok this is really weird
  lib/testing/src/lib/protractor/process-services-cloud/actions/descriptor.ts
Due: prettier --write, eslint

[MIGRATION] - rebased after the move of AlfrescoApiService
  lib/core/project.json
  lib/core/schematics/migrations/collection.json
  lib/core/tsconfig.nx.migrations.json
  lib/core/tsconfig.schematics.json
  lib/js-api/tsconfig.json
  nx.json
Due: none

Fixed white background issue in sidenav after ng16 upgrade (#10207)
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

Fixed build
  lib/process-services-cloud/package-lock.json
  package-lock.json
  package.json
Due: none

NG-16 - migration step 1
  docs/release-notes/RelNote410.md
  docs/release-notes/RelNote420.md
  docs/release-notes/RelNote430.md
  e2e/resources/adf/allFileTypes/documents/text/a_vsd_file.vsd
  e2e/resources/adf/allFileTypes/documents/word/a_dotx_file.dotx
  e2e/resources/adf/allFileTypes/documents/word/a_sxw_file.sxw
  lib/core/src/lib/auth/guard/auth-guard-base.ts
  migrations.json
  storybook-migration-summary.md
Due: prettier --write, eslint

[ACS-8749] View More tags button no longer shows when all tags are removed from a node
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
Due: prettier --write, eslint

AAE-26023 Unify look of style properties names
  lib/core/src/lib/i18n/en.json
Due: none

AAE-26023 Unify look of style properties names (#10227)
  lib/core/src/lib/i18n/en.json
Due: none

fix imports
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

fix imports
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.spec.ts
Due: prettier --write, eslint

fix imports
  lib/core/src/lib/templates/empty-content/empty-content.component.spec.ts
Due: prettier --write, eslint

AAE-25816 Provide a separate storage instance for the AuthModule to allow setting a custom storage prefix for authentication data stored in local storage
  lib/core/src/lib/auth/oidc/auth.module.ts
  lib/core/src/lib/auth/public-api.ts
  lib/core/src/lib/auth/services/custom-auth-storage.service.spec.ts
  lib/core/src/lib/auth/services/custom-auth-storage.service.ts
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.ts
  lib/core/src/lib/common/index.ts
  lib/core/src/lib/common/interface/storage-service.interface.ts
  lib/core/src/lib/common/services/storage.service.ts
  lib/core/src/lib/core.module.ts
Due: prettier --write, eslint

Remove useless test
  lib/core/src/lib/auth/services/custom-auth-storage.service.spec.ts
Due: prettier --write, eslint

AAE-26043 Use text alignment set in rich text editor
  lib/process-services-cloud/src/lib/form/components/widgets/display-rich-text/display-rich-text.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/display-rich-text/display-rich-text.widget.ts
Due: prettier --write, eslint

AAE-26043 Use text alignment set in rich text editor (#10228)
  lib/process-services-cloud/src/lib/form/components/widgets/display-rich-text/display-rich-text.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/display-rich-text/display-rich-text.widget.ts
Due: prettier --write, eslint

[AAE-25271] replaced observables with promises
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.spec.ts
Due: prettier --write, eslint

[AAE-25271] replaced observable with promise
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/services/process-filter-cloud.service.spec.ts
Due: prettier --write, eslint

[AAE-25271] removed unnecessary conditional
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
Due: prettier --write, eslint

[AAE-25271] display process notifications
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/mock/process-filters-cloud.mock.ts
  lib/process-services-cloud/src/lib/process/process-filters/services/process-filter-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/services/process-filter-cloud.service.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix

[AAE-25271] updated unit tests
  lib/process-services-cloud/src/lib/app/app-list-cloud.module.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-8399] Integrate all changes with backend (#10163)
  docs/content-services/services/agent.service.md
  docs/content-services/services/search-ai.service.md
  lib/content-services/src/lib/agent/services/agent.service.spec.ts
  lib/content-services/src/lib/agent/services/agent.service.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.spec.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
  lib/js-api/src/api/content-rest-api/api/search-ai.api.ts
  lib/js-api/src/api/content-rest-api/docs/SearchAiApi.md
  lib/js-api/src/api/content-rest-api/model/questionRequest.ts
  lib/js-api/src/api/content-rest-api/model/restrictionQuery.ts
Due: prettier --write, eslint

[ACS-8398] Unit tests for agents and search ai (#9974)
  lib/content-services/src/lib/agent/services/agent.service.spec.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.spec.ts
  lib/js-api/src/api/content-rest-api/api/search-ai.api.ts
  lib/js-api/test/content-services/agentsApi.spec.ts
  lib/js-api/test/content-services/searchAiApi.spec.ts
  lib/js-api/test/mockObjects/content-services/agent.mock.ts
  lib/js-api/test/mockObjects/content-services/search-ai.mock.ts
  lib/js-api/test/mockObjects/index.ts
Due: prettier --write, eslint

ACS-8201 Small correction after rebasing with Angular 15
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint --fix

ACS-8201 Fixed issues after rebase
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.scss
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8588] Navigation is triggered twice when leaving Knowledge Retrieval page (#10132)
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.spec.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.spec.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.ts
Due: prettier --write, eslint

Answers endpoint fix (#10176)
  docs/content-services/services/search-ai.service.md
  lib/content-services/src/lib/search-ai/services/search-ai.service.spec.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
  lib/js-api/src/api/content-rest-api/api/search-ai.api.ts
  lib/js-api/src/api/content-rest-api/docs/SearchAiApi.md
  lib/js-api/src/api/content-rest-api/model/aiAnswerPaging.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerPagingList.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/test/content-services/searchAiApi.spec.ts
  lib/js-api/test/mockObjects/content-services/search-ai.mock.ts
Due: prettier --write, eslint

[ACS-8202] basic flow getting ai response for one or more selected files (#9944)
  docs/README.md
  docs/content-services/services/agent.service.md
  docs/content-services/services/search-ai.service.md
  docs/versionIndex.md
  lib/content-services/src/lib/agent/index.ts
  lib/content-services/src/lib/agent/public-api.ts
  lib/content-services/src/lib/agent/services/agent.service.ts
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/search-ai/index.ts
  lib/content-services/src/lib/search-ai/models/search-ai-input-state.ts
  lib/content-services/src/lib/search-ai/public-api.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
  lib/content-services/src/public-api.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.scss
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_reference-variables.scss
  lib/js-api/src/api/content-rest-api/api/agents.api.ts
  lib/js-api/src/api/content-rest-api/api/index.ts
  lib/js-api/src/api/content-rest-api/api/search-ai.api.ts
  lib/js-api/src/api/content-rest-api/docs/AgentsApi.md
  lib/js-api/src/api/content-rest-api/docs/SearchAiApi.md
  lib/js-api/src/api/content-rest-api/model/agent.ts
  lib/js-api/src/api/content-rest-api/model/agentEntry.ts
  lib/js-api/src/api/content-rest-api/model/agentPaging.ts
  lib/js-api/src/api/content-rest-api/model/agentPagingList.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswer.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerEntry.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerPaging.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerPagingList.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerReference.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/src/api/content-rest-api/model/questionModel.ts
  lib/js-api/src/api/content-rest-api/model/questionRequest.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8312] Display warning about losing response (#10059)
  lib/core/src/lib/app-config/app-config.service.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.html
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.scss
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.spec.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.model.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.ts
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_reference-variables.scss
Due: prettier --write, eslint, stylelint --fix

[ACS-8210] Agent basic details popup (#9956)
  lib/content-services/src/lib/agent/services/agent.service.spec.ts
  lib/content-services/src/lib/agent/services/agent.service.ts
  lib/js-api/src/api/content-rest-api/api/agents.api.ts
  lib/js-api/src/api/content-rest-api/docs/AgentsApi.md
  lib/js-api/src/api/content-rest-api/model/agentWithAvatar.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/test/content-services/agentsApi.spec.ts
  lib/js-api/test/mockObjects/content-services/agent.mock.ts
Due: prettier --write, eslint

[ACS-8573] Allow user to ask question without file selection
  lib/content-services/src/lib/agent/services/agent.service.ts
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/search-ai/services/search-ai.service.spec.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
Due: prettier --write, eslint

[ACS-8432] Sending all file types to HX instead of only the text file types (#10087)
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/search-ai/services/search-ai.service.spec.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
Due: prettier --write, eslint

[ACS-8695] Getting Agent avatar - removed getAgentAvatar call (#10209)
  lib/js-api/src/api/content-rest-api/api/agents.api.ts
  lib/js-api/test/content-services/agentsApi.spec.ts
  lib/js-api/test/mockObjects/content-services/agent.mock.ts
Due: prettier --write, eslint

ACS-8201 Fixed issues after rebase
  lib/content-services/src/lib/agent/services/agent.service.spec.ts
  lib/content-services/src/lib/agent/services/agent.service.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
Due: prettier --write, eslint

[ACS-8695] Getting Agent avatar (#10189)
  lib/content-services/src/lib/agent/services/agent.service.spec.ts
  lib/content-services/src/lib/agent/services/agent.service.ts
  lib/core/src/lib/avatar/avatar.component.html
  lib/core/src/lib/avatar/avatar.component.spec.ts
  lib/js-api/src/api/content-rest-api/docs/AgentsApi.md
  lib/js-api/src/api/content-rest-api/model/agent.ts
  lib/js-api/src/api/content-rest-api/model/agentWithAvatar.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
