Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

AAE-53162 Exclude fields on hidden tabs from form validation
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
Due: prettier --write, eslint

AAE-53162 Exclude dropdown and date fields in hidden groups or sections from form validation
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
Due: prettier --write, eslint

AAE-53162 Exclude dropdown and date fields in hidden groups or sections from form validation (#12302)
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
Due: prettier --write, eslint

AAE-52533 Mark form tabs that contain validation errors
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
  lib/process-services-cloud/src/lib/form/components/cloud-form-field-validators.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.field-validator.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services/src/lib/form/form.component.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown-rest-options.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.field-validator.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.ts
Due: prettier --write, eslint

AAE-52533 Address review comments and move shared cloud dropdown helpers into their own file [ci:force]
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.field-validator.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.field-validator.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.utils.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/validators.ts
Due: prettier --write, eslint

AAE-52533 Apply required validation to read-only date and dropdown fields [ci:force]
  lib/core/src/lib/form/components/widgets/core/form-field-validator.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.field-validator.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.field-validator.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.field-validator.spec.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.field-validator.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.spec.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.ts
Due: prettier --write, eslint

AAE-52533 Remove the comma from the tab validation label [ci:force]
  lib/core/src/lib/i18n/en.json
Due: none

AAE-52533 Gate the tab validation indicators behind a feature token [ci:force]
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-52533 Exclude fields on hidden tabs from validation regardless of parent visibility opt-ins
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
Due: prettier --write, eslint

AAE-51284 Override fast-uri sec vulnerability
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

AAE-51284 Override fast-uri sec vulnerability (#12310)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[MNT-25712] Expose set pagination method for document list
  docs/content-services/components/document-list.component.md
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/document-list/components/document-list.component.ts
Due: prettier --write, eslint

[MNT-25712] CR fix
  docs/content-services/components/document-list.component.md
Due: none

AAE-52533 Validate fields that belong to no tab and add specs for read-only and rule-disabled fields
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/content-services/src/lib/i18n/ar.json
  lib/content-services/src/lib/i18n/cs.json
  lib/content-services/src/lib/i18n/da.json
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/en-AU.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fi.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/ja.json
  lib/content-services/src/lib/i18n/nl.json
  lib/content-services/src/lib/i18n/no.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt.json
  lib/content-services/src/lib/i18n/ru.json
  lib/content-services/src/lib/i18n/sv.json
  lib/content-services/src/lib/i18n/zh.json
  lib/core/src/lib/i18n/ar.json
  lib/core/src/lib/i18n/cs.json
  lib/core/src/lib/i18n/da.json
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/en-AU.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fi.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/ja.json
  lib/core/src/lib/i18n/nl.json
  lib/core/src/lib/i18n/no.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/core/src/lib/i18n/ru.json
  lib/core/src/lib/i18n/sv.json
  lib/core/src/lib/i18n/zh.json
  lib/process-services-cloud/src/lib/i18n/pt.json
Due: none

[INTERN-1351] Add translation string for task/process default filters (#12289)
  lib/process-services/src/lib/i18n/en.json
  lib/process-services/src/lib/process-list/components/process-filters/process-filters.component.spec.ts
  lib/process-services/src/lib/process-list/components/process-filters/process-filters.component.ts
  lib/process-services/src/lib/process-list/services/process-filter.service.spec.ts
  lib/process-services/src/lib/process-list/services/process-filter.service.ts
  lib/process-services/src/lib/task-list/components/task-filters/task-filters.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-filters/task-filters.component.ts
  lib/process-services/src/lib/task-list/services/task-filter.service.spec.ts
  lib/process-services/src/lib/task-list/services/task-filter.service.ts
Due: prettier --write, eslint

[MNT-25712] Expose set pagination method for document list (#12311)
  docs/content-services/components/document-list.component.md
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/document-list/components/document-list.component.ts
Due: prettier --write, eslint

AAE-53455 Adding Zoneless aware coding instructions
  .github/instructions/ts.instructions.md
Due: none

AAE-53455 Correcting instructions
  .github/instructions/ts.instructions.md
Due: none

AAE-53455 Adding Zoneless aware coding instructions (#12313)
  .github/instructions/ts.instructions.md
Due: none

fix(extensions): improve SSR and dynamic component handling
  eslint.config.mjs
  lib/extensions/src/lib/components/dynamic-column/dynamic-column.component.spec.ts
  lib/extensions/src/lib/components/dynamic-column/dynamic-column.component.ts
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.spec.ts
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.ts
  lib/extensions/src/lib/components/dynamic-tab/dynamic-tab.component.spec.ts
  lib/extensions/src/lib/components/dynamic-tab/dynamic-tab.component.ts
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
  lib/extensions/src/lib/services/extension-loader.service.ts
  lib/extensions/src/lib/services/extension.service.spec.ts
  lib/extensions/src/lib/services/extension.service.ts
Due: prettier --write, eslint

fix(extensions): preserve legacy dynamic column context
  lib/extensions/src/lib/components/dynamic-column/dynamic-column.component.spec.ts
  lib/extensions/src/lib/components/dynamic-column/dynamic-column.component.ts
Due: prettier --write, eslint

fix(extensions): refresh dynamic menu items
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.spec.ts
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.ts
Due: prettier --write, eslint

fix(extensions): preserve legacy dynamic tab node
  lib/extensions/src/lib/components/dynamic-tab/dynamic-tab.component.spec.ts
  lib/extensions/src/lib/components/dynamic-tab/dynamic-tab.component.ts
Due: prettier --write, eslint

AAE-52556 Honor allowSelfService property in Workflow
  lib/process-services-cloud/src/lib/task/models/task-details-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.ts
Due: prettier --write, eslint

AAE-52564 Fix enabled styling for Assignee control in task detail view
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

AAE-52966 Fix issue with empty section column after a field with colspan > 1
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-section/form-section.component.spec.ts
  lib/core/src/lib/form/components/helpers/column-width.spec.ts
  lib/core/src/lib/form/components/helpers/column-width.ts
Due: prettier --write, eslint
