Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

wip
  .github/workflows/pull-request.yml
Due: none

[ACS-6628] Display arrows for tabs for extensions manager (#9481)
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

[ACS-6342] Updated ExtensionService code to use pre-existing methods for merging arrays/objects
  lib/extensions/src/lib/services/extension.service.ts
Due: prettier --write, eslint

[ACS-6342] AppExtensionService now fetches extension state from BE on login
  lib/extensions/src/lib/services/app-extension.service.ts
  lib/extensions/src/lib/services/extension.service.ts
Due: prettier --write, eslint

[ACS-7740] Removed code to apply saved extensions management config on app init (now to be done in ADW) (#9648)
  lib/extensions/src/lib/services/app-extension.service.ts
Due: prettier --write, eslint

adjust rerun logic
  .github/workflows/pull-request.yml
Due: none

Updated Extensions manager code to be functional after rebase
  lib/content-services/src/lib/extensions-manager/index.ts
  lib/content-services/src/lib/extensions-manager/models/app-config-plugin-ref.ts
  lib/content-services/src/lib/extensions-manager/models/extension-composition-entry.ts
  lib/content-services/src/lib/extensions-manager/models/extension-composition.ts
  lib/content-services/src/lib/extensions-manager/models/extension-info.model.ts
  lib/content-services/src/lib/extensions-manager/public-api.ts
  lib/content-services/src/lib/extensions-manager/services/extension-manager.service.spec.ts
  lib/content-services/src/lib/extensions-manager/services/extension-manager.service.ts
  lib/content-services/src/public-api.ts
  lib/js-api/src/api/content-rest-api/api/index.ts
  lib/js-api/src/api/content-rest-api/api/settings.api.ts
Due: prettier --write, eslint

WIP
  .github/workflows/pull-request.yml
Due: none

removed the retrigger
  .github/workflows/pull-request.yml
Due: none

adjust if statement for setup and add gh warning annotation
  .github/workflows/pull-request.yml
Due: none

change to error annotation
  .github/workflows/pull-request.yml
Due: none

Adjust if statement
  .github/workflows/pull-request.yml
Due: none

cleanup
  .github/workflows/pull-request.yml
Due: none

add gh token for approval check
  .github/workflows/pull-request.yml
Due: none

adjust the pr behavoir
  .github/workflows/pull-request.yml
Due: none

Added documentation. Fixed PR review comments
  docs/content-services/services/extension-manager.service.md
  lib/content-services/src/lib/extensions-manager/services/extension-manager.service.spec.ts
  lib/content-services/src/lib/extensions-manager/services/extension-manager.service.ts
  lib/js-api/src/api/content-rest-api/api/settings.api.ts
  lib/js-api/src/api/content-rest-api/docs/SettingsApi.md
Due: prettier --write, eslint

add tests for checkbox value
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.spec.ts
Due: prettier --write, eslint

adjust check approval behavoir
  .github/workflows/pull-request.yml
Due: none

revert the changes and adjust the old ones a bit
  .github/workflows/pull-request.yml
Due: none

[ACS-9435] Resolve a11y issues for 'Add use/group' dialog
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/search/components/search.component.html
Due: none

[AAE-33090] remove some comments
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-29010 GH actions rerun after approval (#10772)
  .github/actions/before-install/action.yml
  .github/workflows/pull-request.yml
Due: none

[AAE-33090] update documentation
  docs/process-services-cloud/components/form-cloud.component.md
  docs/process-services-cloud/components/start-process-cloud.component.md
  docs/process-services-cloud/components/task-form-cloud.component.md
  docs/process-services-cloud/components/user-task-cloud.component.md
Due: none

[ACS-5184] Show progress spinner on file navigation (#10596)
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.html
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.ts
  lib/core/src/lib/viewer/components/media-player/media-player.component.html
  lib/core/src/lib/viewer/components/media-player/media-player.component.ts
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.scss
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
  lib/core/src/lib/viewer/components/viewer.component.spec.ts
  lib/core/src/lib/viewer/components/viewer.component.ts
Due: prettier --write, eslint, stylelint --fix

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
