Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[ACS-10241]: updates UTs
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
Due: prettier --write, eslint

[ACS-10241]: updates aria setup for sortable columns
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

[ACS-10274] Corrected reading green check mark and red cross by screen reader
  lib/core/src/lib/about/about-license-list/about-license-list.component.scss
  lib/core/src/lib/about/about-license-list/about-license-list.component.ts
  lib/core/src/lib/i18n/en.json
Due: prettier --write, eslint, stylelint --fix

[ACS-10281] a11y fix: Approve step folder control is focusable twice
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
Due: prettier --write, stylelint --fix

[ACS-10241]: cleanup
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[ACS-10241]: SR: Personal files: Column sorting state and role not communicated by buttons (#11591)
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

[ACS-10247] a11y fix: SR announces Start/End Date fields incorrectly in date popup
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.spec.ts
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.ts
Due: prettier --write, eslint

fix
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.spec.ts
Due: prettier --write, eslint

[ACS-10247] a11y fix: SR announces Start/End Date fields incorrectly in date popup (#11592)
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.spec.ts
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.ts
Due: prettier --write, eslint

[ACS-10193] make library title bolder to indicate it is a link
  lib/content-services/src/lib/document-list/components/library-name-column/library-name-column.component.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, eslint, stylelint --fix

[ACS-10193] move weight to proper scss file
  lib/content-services/src/lib/document-list/components/library-name-column/library-name-column.component.scss
  lib/content-services/src/lib/document-list/components/library-name-column/library-name-column.component.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, eslint, stylelint --fix

[ACS-10193] use higher font weight
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, stylelint --fix

[ACS-10193] fix css class encapsulation
  lib/content-services/src/lib/document-list/components/library-name-column/library-name-column.component.scss
Due: prettier --write, stylelint --fix

[ACS-10274] Unit tests, cleaning code, centering content
  lib/core/src/lib/about/about-license-list/about-license-list.component.scss
  lib/core/src/lib/about/about-license-list/about-license-list.component.spec.ts
  lib/core/src/lib/about/about-license-list/about-license-list.component.ts
  lib/core/src/lib/about/interfaces.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-10281] revert to div
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
Due: prettier --write, stylelint --fix

[ACS-10274] Fixed formatting
  lib/core/src/lib/about/about-license-list/about-license-list.component.ts
Due: prettier --write, eslint

[ACS-10274] Moved code for getting cell to unit testing utils
  lib/core/src/lib/about/about-license-list/about-license-list.component.spec.ts
  lib/core/src/lib/testing/unit-testing-utils.ts
Due: prettier --write, eslint

[ACS-10274] sr personal files sr announces white heavy check mark in entitlements row of repository section (#11595)
  lib/core/src/lib/about/about-license-list/about-license-list.component.scss
  lib/core/src/lib/about/about-license-list/about-license-list.component.spec.ts
  lib/core/src/lib/about/about-license-list/about-license-list.component.ts
  lib/core/src/lib/about/interfaces.ts
  lib/core/src/lib/i18n/en.json
  lib/core/src/lib/testing/unit-testing-utils.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-10302] CR fixes
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.spec.ts
Due: prettier --write, eslint

[ACS-10302] Add aria-live to selected aspects counter
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.html
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
Due: prettier --write, eslint

[ACS-10302] Add the live announcer for amount of selected items in breadcrumb
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.spec.ts
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.ts
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.spec.ts
Due: prettier --write, eslint

fix for e2e's
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
Due: none

[ACS-10241]: partially reverted changes
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

[ACS-10241]: restored aria-label
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[ACS-10213] Libraries: Radio buttons for Public, Private, and Moderated lack a grouped label
  lib/content-services/src/lib/dialogs/library/library.dialog.html
Due: none

[ACS-10213] Libraries: Radio buttons for Public, Private, and Moderated lack a grouped label (#11590)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
Due: none

[ACS-10302] Add aria-live to selected aspects counter (#11593)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.html
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.spec.ts
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.ts
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.spec.ts
Due: prettier --write, eslint

[ACS-10241]: Personal files: Column sorting state and role not communicated by buttons (parially reverted to align with hxp) (#11598)
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

[ACS-10281] a11y fix: Approve step folder control is focusable twice (#11589)
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
Due: prettier --write, stylelint --fix

[ACS-10203]: adds selectors and global styles
  lib/core/src/lib/styles/_globals.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

[ACS-10203]: adds tooltip
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

[ACS-10203]: typo fix
  lib/core/src/lib/styles/_globals.scss
Due: prettier --write, stylelint --fix

[ACS-10203]: Checkbox "Select All" has no visible label (#11594)
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
  lib/core/src/lib/styles/_globals.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint --fix

[ACS-7768] CR fixes
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.html
Due: none

[ACS-7768] Styling fixes for permission management page
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.scss
Due: prettier --write, stylelint --fix

[ACS-7768] Styling fixes for permission management page (#11597)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.html
  lib/content-services/src/lib/permission-manager/components/permission-container/permission-container.component.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
