Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

New Crowdin translations by GitHub Action
  lib/content-services/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pl.json
  lib/process-services-cloud/src/lib/i18n/pl.json
Due: none

Adds next task checkbox functionality.
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.ts
  lib/process-services-cloud/src/lib/screen/models/screen-cloud.model.ts
Due: prettier --write, eslint

rebase changes fix
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
Due: none

adjust description of the test
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

prettier
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
Due: none

Add test
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

fix tests
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

revert the format changes
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
Due: none

Fix the "open next task" checkbox is not showing anymore in the process start section
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

AAE-34731 Hide the open next task checkbox for the Start Process view (#10842)
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

AAE-34641 revert reverted changes
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
Due: none

AAE-34641 Fix form loading when tab is changed (#10843)
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

AAE-34888 fixing padding issues in form widgets
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

Adds support for next task navigation
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.ts
  lib/process-services-cloud/src/lib/screen/models/screen-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
Due: prettier --write, eslint

AAE-34888 fixing padding issues in form widgets (#10853)
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

New Crowdin translations by GitHub Action (#10852)
  lib/content-services/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pl.json
  lib/process-services-cloud/src/lib/i18n/pl.json
Due: none

New Crowdin translations by GitHub Action
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pt.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pt.json
  lib/process-services-cloud/src/lib/i18n/es.json
  lib/process-services-cloud/src/lib/i18n/fr.json
  lib/process-services-cloud/src/lib/i18n/it.json
  lib/process-services-cloud/src/lib/i18n/pt.json
Due: none

Enhances screen cloud component testing
  lib/process-services-cloud/src/lib/screen/components/screen-cloud/screen-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.spec.ts
Due: prettier --write, eslint

Fix fieldsCache for nested empty group
  lib/core/src/lib/form/components/widgets/core/form.model.ts
Due: prettier --write, eslint

Makes openNextTask optional for complete task
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
Due: prettier --write, eslint

[ACS-7706] Corrected returned type for createTags function
  lib/content-services/src/lib/tag/services/tag.service.ts
  lib/js-api/src/api/content-rest-api/api/tags.api.ts
Due: prettier --write, eslint

fix default selection required
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/validator.spec.ts
Due: prettier --write, eslint

rename test
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/validator.spec.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action (#10854)
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pt.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pt.json
  lib/process-services-cloud/src/lib/i18n/es.json
  lib/process-services-cloud/src/lib/i18n/fr.json
  lib/process-services-cloud/src/lib/i18n/it.json
  lib/process-services-cloud/src/lib/i18n/pt.json
Due: none

Moved condition to separate method
  lib/core/src/lib/form/components/widgets/core/form.model.ts
Due: prettier --write, eslint

Unit tests
  lib/core/src/lib/form/components/mock/form.mock.ts
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
Due: prettier --write, eslint

AAE-34959 Allow disabling withCredentials for the identity providers that disallow credentials
  lib/core/src/lib/app-config/app-config.loader.spec.ts
  lib/core/src/lib/app-config/app-config.loader.ts
Due: prettier --write, eslint

AAE-34972 Test PR for adf link
  lib/core/src/lib/form/components/widgets/core/form.model.ts
Due: prettier --write, eslint

dropdown form field return object
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/validators.ts
Due: prettier --write, eslint

Revert "AAE-34641 Fix form loading when tab is changed (#10843)"
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

Revert "AAE-34641 Fix form loading when tab is changed (#10843)" (#10862)
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

AAE-34826 Remove unnecessary condition
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
Due: prettier --write, eslint

AAE-34826 Remove double initial scale
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
Due: prettier --write, eslint

AAE-34826 Fix missing scale
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
Due: prettier --write, eslint

AAE-34826 Fix missing class for pdf viewer
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.html
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
Due: prettier --write, eslint

AAE-34826 Remove surplus id
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.html
Due: none

AAE-34826 converted scale to string
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
Due: prettier --write, eslint

dropdown form field return object
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/validators.ts
Due: prettier --write, eslint

Rebased to latest
  package-lock.json
Due: none
