Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[AAE-30881] - Remove jsrassign as dep
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.ts
Due: prettier --write, eslint

[AAE-30881] - Remove jsrassign as dep
  lib/core/ng-package.json
  lib/core/package.json
  lib/core/src/lib/auth/oidc/public-api.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.ts
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[AAE-30881] - fixing security issue
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.spec.ts
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.ts
Due: prettier --write, eslint

[AAE-30881] - Fixed sonarcloud issue
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.ts
Due: prettier --write, eslint

[AAE-30881] - added unit tests
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.spec.ts
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.ts
Due: prettier --write, eslint

[AAE-30881] - upgrade oidc package
  lib/core/package.json
  package-lock.json
  package.json
Due: none

[AAE-30881] - Fixed sonarcloud issue
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.spec.ts
Due: prettier --write, eslint

AAE-30881 Remove jsrassign (#11863)
  lib/core/ng-package.json
  lib/core/package.json
  lib/core/src/lib/auth/oidc/public-api.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.ts
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.spec.ts
  lib/core/src/lib/auth/oidc/web-crypto-jwks-validation-handler.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

AAE-39830 Updating toolbar component doc
  docs/core/components/toolbar.component.md
Due: none

AAE-39830 Updating header component doc
  docs/core/components/header.component.md
Due: none

AAE-39830 Style with class instead of color
  lib/core/src/lib/viewer/components/viewer.component.html
  lib/core/src/lib/viewer/components/viewer.component.scss
  lib/insights/src/lib/analytics-process/components/analytics-generator.component.html
  lib/insights/src/lib/analytics-process/components/analytics-generator.component.scss
Due: prettier --write, stylelint --fix

AAE-39830 Removing Material components color property
  docs/content-services/directives/inherited-button.directive.md
  docs/core/components/datatable.component.md
  docs/core/components/header.component.md
  docs/core/services/process-content.service.md
  lib/content-services/src/lib/document-list/components/document-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/core/feature-flags/src/lib/components/flags/flags.component.html
  lib/core/src/lib/form/components/form-base.component.ts
  lib/core/src/lib/form/components/widgets/button/button.widget.html
  lib/core/src/lib/header/header.component.html
  lib/core/src/lib/header/header.component.md
  lib/core/src/lib/header/header.component.ts
  lib/core/src/lib/icon/icon.component.html
  lib/core/src/lib/icon/icon.component.ts
  lib/core/src/lib/layout/components/header/header.component.html
  lib/core/src/lib/layout/components/header/header.component.spec.ts
  lib/core/src/lib/layout/components/header/header.component.stories.ts
  lib/core/src/lib/layout/components/header/header.component.ts
  lib/core/src/lib/layout/components/sidenav-layout/sidenav-layout.component.stories.ts
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/toolbar/toolbar.component.html
  lib/core/src/lib/toolbar/toolbar.component.stories.ts
  lib/core/src/lib/toolbar/toolbar.component.ts
  lib/core/src/lib/viewer/components/viewer.component.html
  lib/insights/src/lib/analytics-process/components/analytics-generator.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/upload/upload-cloud.widget.html
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-list/components/service-task-list/service-task-list-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.html
  lib/process-services/src/lib/attachment/process-attachment-list/process-attachment-list.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.html
  lib/process-services/src/lib/form/form.component.html
  lib/process-services/src/lib/form/form.component.spec.ts
Due: prettier --write, eslint

AAE-39830 Removed unused theme variable and updated doc
  docs/user-guide/theming.md
  lib/core/src/lib/layout/components/header/header.component.ts
Due: prettier --write, eslint

[MNT-25647] Handle facets label wrapped in quotes
  lib/content-services/src/lib/search/components/search-chip-list/search-chip-list.component.spec.ts
  lib/content-services/src/lib/search/services/search-facet-filters.service.spec.ts
  lib/content-services/src/lib/search/services/search-facet-filters.service.ts
Due: prettier --write, eslint

AAE-39830 Removing Material components color property (#11865)
  docs/content-services/directives/inherited-button.directive.md
  docs/core/components/datatable.component.md
  docs/core/components/header.component.md
  docs/core/components/toolbar.component.md
  docs/core/services/process-content.service.md
  docs/user-guide/theming.md
  lib/content-services/src/lib/document-list/components/document-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/core/feature-flags/src/lib/components/flags/flags.component.html
  lib/core/src/lib/form/components/form-base.component.ts
  lib/core/src/lib/form/components/widgets/button/button.widget.html
  lib/core/src/lib/header/header.component.html
  lib/core/src/lib/header/header.component.md
  lib/core/src/lib/header/header.component.ts
  lib/core/src/lib/icon/icon.component.html
  lib/core/src/lib/icon/icon.component.ts
  lib/core/src/lib/layout/components/header/header.component.html
  lib/core/src/lib/layout/components/header/header.component.spec.ts
  lib/core/src/lib/layout/components/header/header.component.stories.ts
  lib/core/src/lib/layout/components/header/header.component.ts
  lib/core/src/lib/layout/components/sidenav-layout/sidenav-layout.component.stories.ts
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/toolbar/toolbar.component.html
  lib/core/src/lib/toolbar/toolbar.component.stories.ts
  lib/core/src/lib/toolbar/toolbar.component.ts
  lib/core/src/lib/viewer/components/viewer.component.html
  lib/core/src/lib/viewer/components/viewer.component.scss
  lib/insights/src/lib/analytics-process/components/analytics-generator.component.html
  lib/insights/src/lib/analytics-process/components/analytics-generator.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/upload/upload-cloud.widget.html
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-list/components/service-task-list/service-task-list-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-list/components/task-list/task-list-cloud.component.html
  lib/process-services/src/lib/attachment/process-attachment-list/process-attachment-list.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.html
  lib/process-services/src/lib/form/form.component.html
  lib/process-services/src/lib/form/form.component.spec.ts
Due: prettier --write, eslint, stylelint --fix

[MNT-25647] CR fix
  lib/content-services/src/lib/search/services/search-facet-filters.service.ts
Due: prettier --write, eslint

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

[AAE-45391] - Lazy loading some of the big external libs
  lib/core/ng-package.json
  lib/core/package.json
  lib/core/schematics/migrations/9_0_0/index.ts
  lib/core/schematics/migrations/collection.json
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
  lib/core/src/lib/viewer/public-api.ts
  lib/core/src/lib/viewer/tokens/pdf-viewer-ref.ts
  lib/core/src/lib/viewer/tokens/pdf-viewer.token.ts
  lib/core/src/lib/viewer/viewer.module.ts
  lib/core/viewer/pdf/ng-package.json
  lib/core/viewer/pdf/src/index.ts
  lib/core/viewer/pdf/src/lib/assets/fake-test-file.pdf
  lib/core/viewer/pdf/src/lib/assets/fake-test-password-file.pdf
  lib/core/viewer/pdf/src/lib/components/mock/pdfjs-lib.mock.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-password-dialog/pdf-viewer-password-dialog.html
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-password-dialog/pdf-viewer-password-dialog.scss
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-password-dialog/pdf-viewer-password-dialog.spec.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-password-dialog/pdf-viewer-password-dialog.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-thumb/pdf-viewer-thumb.component.html
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-thumb/pdf-viewer-thumb.component.spec.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-thumb/pdf-viewer-thumb.component.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.html
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.scss
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.spec.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer-host.component.scss
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer.component.html
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer.component.scss
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer.component.spec.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer.component.ts
  lib/core/viewer/pdf/src/lib/provide-pdf-viewer.ts
  lib/core/viewer/pdf/src/lib/services/rendering-queue.services.ts
  lib/insights/ng-package.json
  lib/insights/package.json
  lib/process-services-cloud/ng-package.json
  tsconfig.json
Due: prettier --write, eslint, stylelint --fix

[AAE-45391] - Added some extra units to pdfjs viewer
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer-integration.spec.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer-real-pdf.spec.ts
Due: prettier --write, eslint

[AAE-45391] - Some improement on viewer component
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

[AAE-45391] - Fixed the way it was redered to a newer angular system
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer-real-pdf.spec.ts
Due: prettier --write, eslint

[AAE-45391] - Fixed the way it was redered to a newer angular system
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

[AAE-45391] - fixed schematic
  lib/core/schematics/migrations/9_0_0/index.ts
Due: prettier --write, eslint

[AAE-45391] - Added some docs for the schematics as well
  lib/core/schematics/migrations/9_0_0/README.md
  lib/core/schematics/migrations/9_0_0/index.ts
  lib/core/viewer/pdf/README.md
  lib/core/viewer/pdf/src/lib/components/pdf-viewer/pdf-viewer-integration.spec.ts
Due: prettier --write, eslint

[AAE-37328] - Fixed comment on missing provider
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint

AAE-43974 Refactoring added for text and amount form widgets
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.html
  lib/core/src/lib/form/components/widgets/text/text.widget.ts
Due: prettier --write, eslint

[ACS-11719] init-aps and init-acs deleted from repo
  lib/cli/README.md
  lib/cli/scripts/index.ts
  lib/cli/scripts/init-acs-env.ts
  lib/cli/scripts/init-aps-env.ts
Due: prettier --write, eslint

[MNT-25647] Handle facets label wrapped in quotes (#11866)
  lib/content-services/src/lib/search/components/search-chip-list/search-chip-list.component.spec.ts
  lib/content-services/src/lib/search/services/search-facet-filters.service.spec.ts
  lib/content-services/src/lib/search/services/search-facet-filters.service.ts
Due: prettier --write, eslint

[AAE-45695] Group @typescript-eslint/* packages in dependabot
  .github/dependabot.yml
Due: none

[ci:force] AAE-45695 Bump @typescript-eslint/parser and eslint-plugin to 8.59.3
  package-lock.json
  package.json
Due: none

[AAE-45695] Make cli:build depend on cli:installDeps
  lib/cli/project.json
Due: none

AAE-45695 Group @typescript-eslint/* packages in dependabot (#11880)
  .github/dependabot.yml
  lib/cli/project.json
  package-lock.json
  package.json
Due: none

AAE-44065 Change date picker to match other styles
  lib/process-services-cloud/package.json
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
Due: prettier --write, eslint

Apply Copilot suggestions
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
Due: prettier --write, eslint

AAE-43881 Fix for form rules not applying when new [data] comes in
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-section/form-section.component.html
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

AAE-44065 Change date picker to match other styles (#11868)
  lib/process-services-cloud/package.json
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
Due: prettier --write, eslint

AAE-43881 Fix for form rules not applying when new [data] comes in (#11879)
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-section/form-section.component.html
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

AAE-45774 Show error for date fields if invalid format
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
