Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

fix linting [ci:force]
  lib/core/src/lib/auth/basic-auth/basic-alfresco-auth.service.ts
Due: prettier --write, eslint

fix tests [ci:force]
  lib/process-services/src/lib/form/widgets/dynamic-table/editors/dropdown/dropdown.editor.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.spec.ts
  lib/process-services/src/lib/task-list/components/no-task-detail-template.directive.spec.ts
Due: prettier --write, eslint

remove useless translate imports from tests [ci:force]
  lib/insights/src/lib/diagram/components/diagram.component.boundary.spec.ts
  lib/insights/src/lib/diagram/components/diagram.component.catching.events.spec.ts
  lib/insights/src/lib/diagram/components/diagram.component.events.spec.ts
  lib/insights/src/lib/diagram/components/diagram.component.flows.spec.ts
  lib/insights/src/lib/diagram/components/diagram.component.gateways.spec.ts
  lib/insights/src/lib/diagram/components/diagram.component.structural.spec.ts
  lib/insights/src/lib/diagram/components/diagram.component.swim.spec.ts
  lib/insights/src/lib/diagram/components/diagram.component.throw.spec.ts
  lib/process-services-cloud/src/lib/app/components/app-details-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/app/components/app-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud-custom-outcomes.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-definition-selector-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.spec.ts
  lib/process-services/src/lib/app-list/services/apps-process.service.spec.ts
  lib/process-services/src/lib/attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/process-attachment-list.component.spec.ts
  lib/process-services/src/lib/attachment/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/common/services/people-process.service.spec.ts
  lib/process-services/src/lib/process-comments/process-comments.component.spec.ts
  lib/process-services/src/lib/process-list/components/process-audit.directive.spec.ts
  lib/process-services/src/lib/process-list/components/process-filters.component.spec.ts
  lib/process-services/src/lib/process-list/components/process-instance-details.component.spec.ts
  lib/process-services/src/lib/process-list/components/process-instance-header.component.spec.ts
  lib/process-services/src/lib/process-list/components/process-instance-tasks.component.spec.ts
  lib/process-services/src/lib/process-list/components/process-list.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process.component.spec.ts
  lib/process-services/src/lib/process-user-info/process-user-info.component.spec.ts
  lib/process-services/src/lib/task-comments/services/task-comments.service.spec.ts
Due: prettier --write, eslint

fix tests [ci:force]
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/services/service-task-list-cloud.service.spec.ts
Due: prettier --write, eslint

remove useless translate imports from tests [ci:force]
  lib/core/src/lib/directives/highlight.directive.spec.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
  lib/core/src/lib/form/components/form-field/form-field.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.spec.ts
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/base-viewer/base-viewer.widget.spec.ts
  lib/core/src/lib/form/components/widgets/widget.component.spec.ts
  lib/process-services/src/lib/form/form.component.spec.ts
  lib/process-services/src/lib/form/form.component.visibility.spec.ts
  lib/process-services/src/lib/form/services/ecm-model.service.spec.ts
  lib/process-services/src/lib/form/services/process-content.service.spec.ts
  lib/process-services/src/lib/form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.spec.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.service.spec.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.spec.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.spec.ts
  lib/process-services/src/lib/form/widgets/document/content.widget.spec.ts
  lib/process-services/src/lib/form/widgets/dynamic-table/editors/date/date.editor.spec.ts
  lib/process-services/src/lib/form/widgets/dynamic-table/editors/datetime/datetime.editor.spec.ts
  lib/process-services/src/lib/form/widgets/dynamic-table/editors/row-editor/row.editor.spec.ts
  lib/process-services/src/lib/form/widgets/functional-group/functional-group.widget.spec.ts
  lib/process-services/src/lib/form/widgets/people/people.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/form/widgets/upload/upload.widget.spec.ts
  lib/process-services/src/lib/people/components/people-list/people-list.component.spec.ts
  lib/process-services/src/lib/people/components/people-search/people-search.component.spec.ts
  lib/process-services/src/lib/people/components/people/people.component.spec.ts
  lib/process-services/src/lib/task-list/components/attach-form.component.spec.ts
  lib/process-services/src/lib/task-list/components/checklist.component.spec.ts
  lib/process-services/src/lib/task-list/components/start-task.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-audit.directive.spec.ts
  lib/process-services/src/lib/task-list/components/task-details.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-filters.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-header.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-standalone.component.spec.ts
Due: prettier --write, eslint

remove useless translate imports from tests [ci:force]
  lib/core/src/lib/snackbar-content/snackbar-content.component.spec.ts
Due: prettier --write, eslint

rename 'error' to 'widgetError' to avoid clashes with same name property [ci:force]
  lib/core/src/lib/form/components/widgets/widget.component.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/upload-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.ts
Due: prettier --write, eslint

fix linting [ci:force]
  lib/process-services/src/lib/form/services/ecm-model.service.ts
Due: prettier --write, eslint

remove useless translate imports from tests [ci:force]
  lib/core/src/lib/about/about-github-link/about-github-link.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.spec.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/json-cell/json-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.spec.ts
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.spec.ts
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.spec.ts
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.spec.ts
Due: prettier --write, eslint

[ACS-7575] create library dialog fixes (#9574)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
Due: prettier --write, stylelint

[ACS-7534] create/edit folder dialog fixes
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.ts
Due: prettier --write, eslint, stylelint

[ACS-7534] create/edit folder dialog fixes (#9575)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.ts
Due: prettier --write, eslint, stylelint

fix code reviews [ci:force]
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/info-drawer/info-drawer.component.spec.ts
  lib/process-services-cloud/src/lib/process/services/process-cloud.service.ts
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.ts
Due: prettier --write, eslint

fix code reviews [ci:force]
  docs/process-services/components/people.component.md
Due: none

[ACS-7386] remove material module dependency and components conversion to standalone
  lib/core/src/lib/notifications/components/add-notification.stories.component.ts
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.spec.ts
  lib/core/src/lib/notifications/components/notification-history.component.ts
  lib/core/src/lib/notifications/notification-history.module.ts
Due: prettier --write, eslint

AAE-22119 Fix Datatable checkbox accessibility breaking change
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
Due: prettier --write, eslint

fix code duplication warning
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
Due: prettier --write, eslint

fix unit test
  lib/process-services/src/lib/task-list/components/task-list.component.spec.ts
Due: prettier --write, eslint

AAE-22119 Fix Datatable checkbox accessibility breaking change (#9596)
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list.component.spec.ts
Due: prettier --write, eslint

Fixed last unit tests
  lib/process-services-cloud/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  package.json
Due: prettier --write, eslint

Fixed linting and js-api tests
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
  lib/process-services/src/lib/attachment/create-process-attachment.component.spec.ts
  package.json
Due: prettier --write, eslint

Fixing e2e part 2
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
Due: prettier --write, eslint

Demo shell builds
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/src/lib/styles/_index.scss
Due: prettier --write, stylelint

Fixing styles not migrated by material
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/process-user-info/process-user-info.component.scss
  lib/process-services/src/lib/task-list/components/start-task.component.scss
  lib/process-services/src/lib/task-list/components/task-details.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
  lib/process-services/src/lib/task-list/components/task-standalone.component.scss
Due: prettier --write, stylelint

Attempt to fix the e2e run'
  angular.json
  package.json
Due: none

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

E2E - fixing
  angular.json
  demo-shell/project.json
Due: none

Building testing package
  lib/testing/project.json
Due: none

Fixed unit test failing
  lib/core/src/lib/info-drawer/info-drawer.component.scss
Due: prettier --write, stylelint

Fixed most of unit tests failing
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/attachment/create-process-attachment.component.html
  lib/process-services/src/lib/attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment.component.html
  lib/process-services/src/lib/attachment/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list.component.spec.ts
Due: prettier --write, eslint

Fixed prod build
  angular.json
  package.json
Due: none

Fixed unit tests
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/services/property-descriptors.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/karma.conf.js
  lib/extensions/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

Make all the part build
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  migrations.json
  package.json
Due: prettier --write, eslint

Fixed js-api build
  package.json
Due: none

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/app/components/cloud/cloud-layout.component.scss
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
