Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

Fixed most of unit tests failing
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.html
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment/create-task-attachment.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

Building testing package
  lib/testing/project.json
Due: none

Fixed linting
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
Due: prettier --write, eslint, stylelint

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

Uppercase for tabs - missed some tests
  e2e/process-services-cloud/task-list/task-form-cloud-component-tab.e2e.ts
  e2e/process-services/tasks/task-details-form.e2e.ts
Due: prettier --write, eslint

Make all the part build
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  migrations.json
  package.json
Due: prettier --write, eslint

Fixed prod build
  angular.json
  package.json
Due: none

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

Demo shell builds
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/src/lib/styles/_index.scss
Due: prettier --write, stylelint

[AAE-21085] Fix e2e Search - revert to previous version, text should be written without pressing eneter to show the autocomplete list items
  e2e/search/search-component.e2e.ts
Due: prettier --write, eslint

[affected:*][ci:force] [AAE-21070] Fix e2e Content: Components - C587084 - fix class selectors
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[AAE-21089] Fix e2e Search - fix checkbox selector
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/tasks.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the return of the fail
  lib/testing/src/lib/protractor/process-services-cloud/pages/form/widget/attach-file-widget-cloud.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed e2e with new notation
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the eternal fail
  lib/testing/src/lib/protractor/core/pages/form/widgets/dropdown-widget.page.ts
Due: prettier --write, eslint

remaining unit test fixes for the Angular 15 update (#9218)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

fixig e2es
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
Due: prettier --write, eslint

Fixing e2e - part III
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/dialog/start-task-dialog.page.ts
  e2e/process-services/pages/task-details.page.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/core/src/lib/context-menu/animations.ts
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
  lib/testing/src/lib/protractor/core/pages/form/form-fields.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/edit-task-filter-cloud-component.page.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/start-process-cloud-component.page.ts
Due: prettier --write, eslint, stylelint

Honestly i'm going on just for the challenge now'
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint

Fixed slider search e2es
  e2e/search/components/search-slider.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/testing/src/lib/protractor/content-services/pages/search/search-categories.page.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-slider.page.ts
Due: prettier --write, eslint

Rebased to latest
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
Due: none

fixed unit test problem and some other e2e
  e2e/process-services-cloud/form-field/task-visibility-condition.e2e.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.html
  lib/testing/src/lib/protractor/core/pages/form/widgets/dynamic-table-widget.page.ts
Due: prettier --write, eslint

Rebase went little bit wrong -II
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
Due: prettier --write, eslint, stylelint

Fix lint issue
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint

Fixed the last e2es?
  e2e/process-services-cloud/task-list/task-header-cloud.e2e.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/start-process-cloud-component.page.ts
Due: prettier --write, eslint

Fixed package.json
  lib/cli/package.json
  package.json
Due: none

[AAE-21083] Fix e2e Content: Metadata - C245652 - fix tab active selector
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed check on expansion panel filter
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
  e2e/process-services/widgets/checkbox-widget.e2e.ts
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

fixig e2es - task and version
  e2e/process-services/pages/task-filters-demo.page.ts
  e2e/process-services/pages/tasks-list.page.ts
  e2e/process-services/tasks/task-filters-sorting.e2e.ts
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] Remove fit
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
Due: prettier --write, eslint

[AAE-21084] Fix e2e Content: Upload and Versioning - C279992 - fix enable togle selector
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

rebased and fixed the wrong directive for matList'
  docs/content-services/components/search.component.md
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-control.component.html
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
  lib/content-services/src/lib/upload/components/file-uploading-list-row.component.html
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/insights/src/lib/analytics-process/components/analytics-report-list.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/upload-cloud.widget.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/upload/upload.widget.html
  lib/process-services/src/lib/process-list/components/process-instance-tasks/process-instance-tasks.component.html
Due: prettier --write, eslint

Fixed unit test failing
  lib/core/src/lib/info-drawer/info-drawer.component.scss
Due: prettier --write, stylelint

Fixed dependency to allow greater versions
  lib/process-services-cloud/package.json
Due: none
