Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[AAE-30877] - And again
  lib/content-services/src/test.ts
  lib/core/assets/pdfjs/pdf.worker.mjs
  lib/core/ng-package.json
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/core/test.ts
Due: prettier --write, eslint

[AAE-30877] - Checking if textlayerrendered is triggered
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
Due: prettier --write, eslint

[AAE-30877] - Checking if textlayerrendered is triggered
  lib/core/karma.conf.js
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/process-services-cloud/karma.conf.js
  lib/process-services/karma.conf.js
Due: prettier --write, eslint

[AAE-30877] - Attempt with previous unit test settings
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
Due: prettier --write, eslint

[AAE-30877] - At this point is just try and error
  lib/core/karma.conf.js
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
Due: prettier --write, eslint

[AAE-30877] - At this point is just try and error
  lib/core/karma.conf.js
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[AAE-30877] - At this point is just try and error
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
  lib/js-api/src/test-setup.ts
Due: prettier --write, eslint

[AAE-30877] - At this point is just try and error
  .github/workflows/pull-request.yml
  lib/core/karma.conf.js
Due: prettier --write, eslint

Release 7.0.0
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0.md
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  package-lock.json
  package.json
Due: none

Cli js-api version fix
  lib/cli/package.json
Due: none

Release 7.0.0 (#10725)
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0.md
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  package-lock.json
  package.json
Due: none

Post-release version bump
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  package-lock.json
  package.json
Due: none

Post-release version bump (#10726)
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  package-lock.json
  package.json
Due: none

[ACS-9398] Add snackbar notifications for favorite node directive (#10714)
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.ts
  lib/content-services/src/lib/directives/node-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-favorite.directive.ts
  lib/content-services/src/lib/i18n/en.json
Due: prettier --write, eslint

AAE-32999 Removed subscriptions-transport-ws feature flag
  lib/process-services-cloud/ng-package.json
  lib/process-services-cloud/package.json
  lib/process-services-cloud/src/lib/services/notification-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[AAE-32763] fixed retrieving preferences from local storage
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
Due: prettier --write, eslint

AAE-32999 Fixing unit test
  lib/process-services-cloud/src/lib/services/notification-cloud.service.ts
Due: prettier --write, eslint

AAE-32999 Fixing unit test
  lib/process-services-cloud/src/lib/services/notification-cloud.service.spec.ts
Due: prettier --write, eslint

AAE-32999 Fixing unit test
  lib/process-services-cloud/src/lib/services/web-socket.service.spec.ts
Due: prettier --write, eslint

[AAE-32763] added a test
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-32999 Removed subscriptions-transport-ws feature flag (#10727)
  lib/process-services-cloud/ng-package.json
  lib/process-services-cloud/package.json
  lib/process-services-cloud/src/lib/services/notification-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/services/notification-cloud.service.ts
  lib/process-services-cloud/src/lib/services/web-socket.service.spec.ts
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-9375] Transparent background for hovered spinner (#10691)
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
Due: prettier --write, stylelint --fix

[ACS-5190] document name text alignement and long name trim issue (#10715)
  lib/core/src/lib/viewer/components/viewer.component.html
  lib/core/src/lib/viewer/components/viewer.component.scss
  lib/core/src/lib/viewer/components/viewer.component.spec.ts
  lib/core/src/lib/viewer/components/viewer.component.ts
Due: prettier --write, eslint, stylelint --fix

[AAE-32763] Reverted to old implementation
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
Due: prettier --write, eslint

[AAE-32763] renamed test
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
Due: prettier --write, eslint

[AAE-32763] Be able to use getitems from local storage in the same way as cloud storage
  lib/core/src/lib/common/services/storage.service.spec.ts
  lib/core/src/lib/common/services/storage.service.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/services/local-preference-cloud.service.ts
Due: prettier --write, eslint

[AAE-32763] added more tests
  lib/core/src/lib/common/services/storage.service.ts
  lib/process-services-cloud/src/lib/services/local-preference-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/services/local-preference-cloud.service.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt.json
Due: none

New Crowdin translations by GitHub Action (#10730)
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt.json
Due: none

fix undefiend tooltip
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

fix undefiend tooltip (#10731)
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

[ACS-6342] AppExtensionService now fetches extension state from BE on login
  lib/extensions/src/lib/services/app-extension.service.ts
  lib/extensions/src/lib/services/extension.service.ts
Due: prettier --write, eslint

[ACS-6342] Updated ExtensionService code to use pre-existing methods for merging arrays/objects
  lib/extensions/src/lib/services/extension.service.ts
Due: prettier --write, eslint

[ACS-6628] Display arrows for tabs for extensions manager (#9481)
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

[ACS-7740] Removed code to apply saved extensions management config on app init (now to be done in ADW) (#9648)
  lib/extensions/src/lib/services/app-extension.service.ts
Due: prettier --write, eslint

AAE-32763 Custom column visibility is not persistent after refresh (#10728)
  lib/core/src/lib/common/services/storage.service.spec.ts
  lib/core/src/lib/common/services/storage.service.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/services/local-preference-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/services/local-preference-cloud.service.ts
Due: prettier --write, eslint

[ACS-6342] AppExtensionService now fetches extension state from BE on login
  lib/extensions/src/lib/services/app-extension.service.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
