Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

AAE-0000 Fixed release storybook script (#9963)
  scripts/github/release/release-storybook-docker.sh
Due: none

remove button import
  lib/core/src/lib/progress/progress.component.ts
Due: prettier --write, eslint

[ACS-8202] basic flow getting ai response for one or more selected files (#9944)
  docs/README.md
  docs/content-services/services/agent.service.md
  docs/content-services/services/search-ai.service.md
  docs/versionIndex.md
  lib/content-services/src/lib/agent/index.ts
  lib/content-services/src/lib/agent/public-api.ts
  lib/content-services/src/lib/agent/services/agent.service.ts
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/search-ai/index.ts
  lib/content-services/src/lib/search-ai/models/search-ai-input-state.ts
  lib/content-services/src/lib/search-ai/public-api.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
  lib/content-services/src/public-api.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.scss
  lib/core/src/lib/styles/_components-variables.scss
  lib/core/src/lib/styles/_reference-variables.scss
  lib/js-api/src/api/content-rest-api/api/agents.api.ts
  lib/js-api/src/api/content-rest-api/api/index.ts
  lib/js-api/src/api/content-rest-api/api/search-ai.api.ts
  lib/js-api/src/api/content-rest-api/docs/AgentsApi.md
  lib/js-api/src/api/content-rest-api/docs/SearchAiApi.md
  lib/js-api/src/api/content-rest-api/model/agent.ts
  lib/js-api/src/api/content-rest-api/model/agentEntry.ts
  lib/js-api/src/api/content-rest-api/model/agentPaging.ts
  lib/js-api/src/api/content-rest-api/model/agentPagingList.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswer.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerEntry.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerPaging.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerPagingList.ts
  lib/js-api/src/api/content-rest-api/model/aiAnswerReference.ts
  lib/js-api/src/api/content-rest-api/model/index.ts
  lib/js-api/src/api/content-rest-api/model/questionModel.ts
  lib/js-api/src/api/content-rest-api/model/questionRequest.ts
Due: prettier --write, eslint, stylelint

[ACS-8329] Manage bulk hold endpoint
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-holds.service.spec.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/BulkHoldAddResponse.md
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
  lib/js-api/src/api/gs-core-rest-api/model/bulkHoldAddResponse.ts
  lib/js-api/src/api/gs-core-rest-api/model/index.ts
Due: prettier --write, eslint

ACS-8201 Small correction after rebasing with Angular 15
  lib/content-services/src/lib/search-ai/services/search-ai.service.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

ACS-8398 Unit tests for search ai api and agents api
  lib/js-api/src/api/content-rest-api/api/search-ai.api.ts
  lib/js-api/test-results/.last-run.json
  lib/js-api/test/content-services/agentsApi.spec.ts
  lib/js-api/test/content-services/searchAiApi.spec.ts
  lib/js-api/test/mockObjects/content-services/agent.mock.ts
  lib/js-api/test/mockObjects/content-services/search-ai.mock.ts
  lib/js-api/test/mockObjects/index.ts
Due: prettier --write, eslint

[ci:force] - check step 2 migration
  .github/dependabot.yml
  angular.json
  docs/release-notes/RelNote-6.5.0.md
  lib/cli/project.json
  lib/cli/tsconfig.json
  lib/content-services/project.json
  lib/core/project.json
  lib/eslint-angular/project.json
  lib/extensions/project.json
  lib/insights/project.json
  lib/process-services-cloud/project.json
  lib/process-services/project.json
  lib/testing/project.json
  package-lock.json
  package.json
Due: none

[ci:force] - check step 2 migration
  .github/dependabot.yml
Due: none

ACS-8398 Unit tests for getAnswer function from SearchAiApi, corrections for unit tests for SearchAiApi and AgentsApi
  lib/js-api/test-results/.last-run.json
  lib/js-api/test/content-services/agentsApi.spec.ts
  lib/js-api/test/content-services/searchAiApi.spec.ts
  lib/js-api/test/mockObjects/content-services/agent.mock.ts
  lib/js-api/test/mockObjects/content-services/search-ai.mock.ts
Due: prettier --write, eslint

[ci:force] - check step migration
  angular.json
  docs/release-notes/RelNote-6.5.0.md
  lib/cli/project.json
  lib/content-services/project.json
  lib/core/project.json
  lib/eslint-angular/project.json
  lib/extensions/project.json
  lib/insights/project.json
  lib/process-services/project.json
  lib/testing/project.json
  package-lock.json
Due: none

[ACS-8329] Manage bulk hold endpoint, apply PR remarks
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/js-api/src/api/gs-core-rest-api/api/legal-hold.api.ts
  lib/js-api/src/api/gs-core-rest-api/docs/LegalHoldApi.md
Due: prettier --write, eslint

ACS-8398 Unit tests for SearchAiService and AgentService
  lib/content-services/src/lib/agent/services/agent.service.spec.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.spec.ts
  lib/js-api/test/content-services/agentsApi.spec.ts
  lib/js-api/test/content-services/searchAiApi.spec.ts
Due: prettier --write, eslint

ACS-8109: button component fixes (#9938)
  lib/core/src/lib/avatar/avatar.component.md
  lib/core/src/lib/button/button.component.html
  lib/core/src/lib/button/button.component.md
  lib/core/src/lib/button/button.component.scss
  lib/core/src/lib/button/button.component.ts
Due: prettier --write, eslint, stylelint

[ACS-8398] Unit tests for agents and search ai (#9974)
  lib/content-services/src/lib/agent/services/agent.service.spec.ts
  lib/content-services/src/lib/search-ai/services/search-ai.service.spec.ts
  lib/js-api/src/api/content-rest-api/api/search-ai.api.ts
  lib/js-api/test/content-services/agentsApi.spec.ts
  lib/js-api/test/content-services/searchAiApi.spec.ts
  lib/js-api/test/mockObjects/content-services/agent.mock.ts
  lib/js-api/test/mockObjects/content-services/search-ai.mock.ts
  lib/js-api/test/mockObjects/index.ts
Due: prettier --write, eslint

remove empty styles
  lib/core/src/lib/progress/progress.component.scss
  lib/core/src/lib/progress/progress.component.ts
Due: prettier --write, eslint, stylelint

AAE-23358: Fix allowing to bypass required form on start event by clicking the start button before form is loaded
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
Due: prettier --write, eslint

Simulate major change
  lib/core/src/lib/auth/oidc/auth.service.ts
Due: prettier --write, eslint

Boilerplate to trigger and wait external workflow
  .github/workflows/pull-request.yml
Due: none

Target fix branch and link adf
  .github/workflows/pull-request.yml
Due: none

Simulate breaking change 2
  lib/core/src/lib/auth/oidc/public-api.ts
Due: prettier --write, eslint

Speed up workflow
  .github/workflows/pull-request.yml
Due: none

Simulate breaking change
  lib/core/src/lib/auth/oidc/public-api.ts
Due: prettier --write, eslint

set status
  .github/workflows/pull-request.yml
Due: none

Simulate breaking change 3
  lib/core/src/lib/auth/oidc/public-api.ts
Due: prettier --write, eslint

Simulate breaking change 4
  lib/core/src/lib/auth/oidc/public-api.ts
  package-lock.json
  package.json
  scripts/github/update/useme-to-test-restokit.js
Due: prettier --write, eslint

Use local adf branch as input
  .github/workflows/pull-request.yml
Due: none

Simulate breaking change 6
  .github/workflows/pull-request.yml
Due: none

Simulate breaking change 7
  lib/core/src/lib/auth/index.ts
  lib/core/src/lib/auth/oidc/oidc-authentication.service.ts
  lib/core/src/lib/auth/oidc/public-api.ts
  lib/core/src/lib/auth/services/base-authentication.service.ts
Due: prettier --write, eslint

Simulate breaking change 9
  lib/core/src/lib/auth/oidc/oidc-authentication.service.ts
Due: prettier --write, eslint

Simulate breaking change 17
  .github/workflows/pull-request.yml
Due: none

Simulate breaking change 5
  lib/core/src/lib/auth/index.ts
Due: prettier --write, eslint

Simulate breaking change 18
  .github/workflows/pull-request.yml
Due: none
