Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

[affected:*][ci:force] [AAE-21070] Fix e2e Content: Components - C587084 - fix class selectors
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[ACS-7373] ng15 permissions page fixes
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[AAE-21083] Fix e2e Content: Metadata - C280560 - fix slide toggle click, in v15 toggle is handled with a button instead of input
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-mapitem/card-view-mapitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.spec.ts
  lib/core/src/lib/clipboard/clipboard.directive.spec.ts
  lib/core/src/lib/clipboard/clipboard.service.spec.ts
  lib/core/src/lib/comments/comment-list/comment-list.component.spec.ts
  lib/core/src/lib/comments/comments.component.spec.ts
  lib/core/src/lib/common/services/directionality-config.service.spec.ts
  lib/core/src/lib/common/services/storage.service.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
  lib/core/src/lib/testing/core.testing.module.ts
Due: prettier --write, eslint, stylelint

Fix lint issue
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixed check on expansion panel filter
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[AAE-21084] Fix e2e Content: Upload and Versioning - C279992 - fix enable togle selector
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the eternal fail
  e2e/process-services-cloud/form-field/dropdown-widget.e2e.ts
  lib/testing/src/lib/protractor/core/pages/form/widgets/dropdown-widget.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] - REBASED
  lib/core/api/src/lib/adf-http-client.service.spec.ts
  lib/core/src/lib/about/about-github-link/about-github-link.component.spec.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/services/identity-group.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/process-services-cloud/src/lib/group/services/identity-group.service.spec.ts
Due: prettier --write, eslint

[ACS-7413] Dialog height and spacing issues (#9515)
  lib/content-services/src/lib/dialogs/confirm.dialog.html
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
Due: prettier --write, stylelint

[ACS-7452] - Small screen notification banner [ACS-7418] About page (#9507)
  lib/core/src/lib/about/about-package/package-list.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.scss
  lib/core/src/lib/styles/_components-variables.scss
Due: prettier --write, eslint, stylelint

[ACS-7375] - Share link dialog issues
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
Due: prettier --write, stylelint

[ACS-7414] - Manage versions dialog
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.html
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

Re Enabling unit test removed
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

Fixed errors on unit and lint
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
Due: prettier --write, stylelint

Fixing unit test after last rebase + lint
  lib/process-services-cloud/src/lib/common/date-range-filter/date-range-filter.component.html
  lib/process-services/src/lib/attachment/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Fixing unit test after last rebase + lint
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

Fixing unit test after last rebase + lint
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7419] Fix broken styling of notifications
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-7419] Fix broken styling of notifications, apply pr remarks
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-7419] Fix broken styling of notifications, apply pr remarks
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

Extra parentesys lint
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

AAE-21870 Disable task notification for default apps (#9537)
  lib/cli/scripts/resources.ts
Due: prettier --write, eslint

ACS-6644 change widget description to more precise
  docs/user-guide/search-configuration-guide.md
Due: none

ACS-6644 small formatting fix, add new component links to main connected pages
  docs/content-services/services/search-query-builder.service.md
  docs/user-guide/search-configuration-guide.md
Due: none

ACS-6644 review search docs and examples
  docs/content-services/components/search-check-list.component.md
  docs/content-services/components/search-datetime-range.component.md
  docs/content-services/components/search-logical-filter.component.md
  docs/content-services/components/search-number-range.component.md
  docs/content-services/components/search-radio.component.md
  docs/content-services/components/search-slider.component.md
  docs/content-services/components/search-text.component.md
  docs/content-services/interfaces/search-widget.interface.md
  docs/user-guide/search-configuration-guide.md
Due: none

[ACS-7528] - Notification and user icons are a bit different
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-6644] review search documentation and examples for adf (#9518)
  docs/content-services/components/search-check-list.component.md
  docs/content-services/components/search-datetime-range.component.md
  docs/content-services/components/search-logical-filter.component.md
  docs/content-services/components/search-number-range.component.md
  docs/content-services/components/search-radio.component.md
  docs/content-services/components/search-slider.component.md
  docs/content-services/components/search-text.component.md
  docs/content-services/interfaces/search-widget.interface.md
  docs/content-services/services/search-query-builder.service.md
  docs/user-guide/search-configuration-guide.md
Due: none

remove useless yarn licenses from dockerfile [ci:force]
  Dockerfile
Due: none

remove useless yarn licenses from dockerfile [ci:force] (#9541)
  Dockerfile
Due: none

fix Dockerfile
  Dockerfile
Due: none

ACS-6721 fix button visibility (#9530)
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
Due: prettier --write, stylelint

[ACS-7387] convert component to standalone
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint

[ACS-7387][ADF] Break Search Text dependency on Material Module (#9508)
  lib/core/src/lib/search-text/search-text-input.component.ts
  lib/core/src/lib/search-text/search-text-input.module.ts
  lib/core/src/lib/search-text/search-trigger.directive.ts
Due: prettier --write, eslint

Fixing e2e part 2
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
Due: prettier --write, eslint

Revert "Fixed a dependency problem"
  package.json
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
