Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Fixed errors on unit and lint
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
Due: prettier --write, stylelint

ACS-7561 - permissions page (#9675)
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
Due: prettier --write, stylelint

[ACS-7359] - Angular 15 - Edit aspects modal [ACA] (#9488)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7535][ACS-7537][ACS-7536][ACA] Move/Copy dialogs, Share dialog, Aspects dialog (#9553)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7681] Bell icon not aligned [ACS-7571] Comments [ACS-7563] Add permission dialog (#9594)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
  lib/core/src/lib/comments/comment-list/comment-list.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-7414] - manage versions dialog (#9545)
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing e2e - the eternal fail
  lib/testing/src/lib/protractor/core/pages/form/widgets/dropdown-widget.page.ts
Due: prettier --write, eslint

[ACS-7375] - Share link dialog issues
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
Due: prettier --write, stylelint

[ACS-7446] - Upload progress box issues
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.scss
Due: prettier --write, stylelint

Rebased ADF Migration PR
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
Due: prettier --write, eslint, stylelint

Updated calendar selector
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Fixed unit test
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
Due: prettier --write, eslint

[ACS-7542] - Upload new version dialog (#9572)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/upload/components/upload-button.component.html
  lib/content-services/src/lib/upload/components/upload-button.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.html
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint

Rebased to the latest develop
  package-lock.json
Due: none

[ACS-7582] Upload dialog button display fix (#9603)
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.scss
Due: prettier --write, stylelint

[ACS-7519] - Login page (#9565)
  lib/core/src/lib/login/components/login/login.component.html
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.spec.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7534] create/edit folder dialog fixes (#9575)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.ts
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
  lib/content-services/src/lib/aspect-list/services/aspect-list.service.spec.ts
  lib/content-services/src/lib/category/services/category-tree-datasource.service.spec.ts
  lib/content-services/src/lib/category/services/category.service.spec.ts
  lib/content-services/src/lib/common/services/content.service.spec.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.spec.ts
  lib/content-services/src/lib/dialogs/category-selector.dialog.spec.ts
  lib/content-services/src/lib/dialogs/download-zip/download-zip.dialog.spec.ts
  lib/content-services/src/lib/directives/check-allowable-operation.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/library-membership.directive.spec.ts
  lib/content-services/src/lib/directives/node-delete.directive.spec.ts
  lib/content-services/src/lib/directives/node-download.directive.spec.ts
  lib/content-services/src/lib/directives/node-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-restore.directive.spec.ts
  lib/content-services/src/lib/document-list/components/file-auto-download/file-auto-download.component.spec.ts
  lib/content-services/src/lib/document-list/services/lock.service.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.service.spec.ts
  lib/content-services/src/lib/node-comments/services/node-comments.service.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
  lib/content-services/src/lib/search/services/search.service.spec.ts
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/content-services/src/lib/tree/services/tree.service.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.directive.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.service.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] - Rebased
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  package-lock.json
Due: prettier --write, stylelint

Fixed process unit test fail
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Remove fit
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
Due: prettier --write, eslint

Trying to fix the long failing e2ea
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

Fixing unit test after last rebase + lint
  lib/process-services-cloud/src/lib/common/date-range-filter/date-range-filter.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - fixing the last ones
  e2e/process-services-cloud/form-field/dropdown-widget.e2e.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
Due: prettier --write, eslint

[ACS-7530] - Notifications popup looks a bit differently (#9543)
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

AAE-21937 Fix context menu list component (#9658)
  lib/core/src/lib/context-menu/context-menu-list.component.html
Due: none

[ACS-7373] mat-icon-buttons
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
Due: none

[ACS-7575] create library dialog fixes (#9574)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
Due: prettier --write, stylelint

[ACS-7531] - Search page (#9606)
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.scss
  lib/content-services/src/lib/search/components/search-form/search-form.component.html
  lib/content-services/src/lib/search/components/search-form/search-form.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Updated today date selector
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
Due: prettier --write, eslint

[ACS-7532] - Click on chip in search gives redundant icon (#9544)
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: none

AAE-21703 Fix group widget style (#9612)
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7528] - Notification and user icons are a bit different (#9540)
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

fix folder-edit license headers
  lib/content-services/src/lib/folder-directive/folder-edit.directive.spec.ts
  lib/content-services/src/lib/folder-directive/folder-edit.directive.ts
Due: prettier --write, eslint

AAE-21697 Fix people form widget style (#9555)
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7373] ng15 permissions page fixes
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7572] link rules dialog fixes (#9607)
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.html
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - Rebased and added an extra fix for after
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
