Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

[ACS-7446] - Upload progress box issues
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.scss
Due: prettier --write, stylelint

[ACS-7572] link rules dialog fixes (#9607)
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.html
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed broken unit test after rebase
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

Rebased ADF Migration PR
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
Due: prettier --write, eslint

AAE-21392 Fix dropdown form widget style (#9605)
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

[ACS-7560] undo deletion notification (#9632)
  lib/core/src/lib/snackbar-content/snackbar-content.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

Fixed SonarCloud complaints
  lib/content-services/src/lib/search/components/search-form/search-form.component.scss
Due: prettier --write, stylelint

Rebased ADF Migration PR
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
Due: prettier --write, eslint, stylelint

Trying to fix the long failing e2ea
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[ACS-7542] - Upload new version dialog (#9572)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/upload/components/upload-button.component.html
  lib/content-services/src/lib/upload/components/upload-button.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.html
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint

Recreated package-lock
  package-lock.json
Due: none

[ACS-8004] Fix inputs for move folder (#9707)
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

Skipped failing unit tests
  lib/content-services/src/lib/folder-directive/folder-edit.directive.spec.ts
Due: prettier --write, eslint

Fixed property e2e
  e2e/core/pages/metadata-view.page.ts
Due: prettier --write, eslint

[ACS-7998] - Add permissions input (#9704)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
Due: prettier --write, stylelint

AAE-21703 Fix group widget style (#9612)
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-8092] [ACA] testing angular 15 notifications bell is much smaller and is further from the profile page 2 (#9786)
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8026] Fixed task form rendering (#9742)
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/error/error.component.html
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
  lib/process-services/src/lib/form/form.component.html
  lib/process-services/src/lib/form/form.component.scss
  lib/process-services/src/lib/form/form.component.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.html
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
Due: prettier --write, eslint, stylelint

Sync lock
  package-lock.json
Due: none

[ACS-8008] - Inputs for properties panel "General info" (#9744)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
Due: prettier --write, stylelint

These dependencies will kill me
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/extensions/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

Fixed package-lock
  package-lock.json
Due: none

[ACS-7999] Fix inputs for edit and create folder (#9713)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7981] UI fixes for create categories dialog (#9754)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

AAE-21256 Fix form widget styles (#9599)
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint

AAE-21937 Fix context menu list component (#9658)
  lib/core/src/lib/context-menu/context-menu-list.component.html
Due: none

Updated today date selector
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
Due: prettier --write, eslint

Fixed unit test
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
Due: prettier --write, eslint

Fixed package and e2e with tabs that now are capital letters?
  e2e/process-services-cloud/form-field/visibility-condition-tabs.e2e.ts
  e2e/resources/forms/tab-visibility-conditions.ts
  lib/testing/src/lib/protractor/process-services-cloud/resources/resources.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Updated calendar selector
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7973] [ACC] header layout (#9782)
  docs/core/components/search-text-input.component.md
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

ACS-7561 - permissions page (#9675)
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
Due: prettier --write, stylelint

AAE-22783 Fix form elements label style (#9725)
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7531] - Search page (#9606)
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.scss
  lib/content-services/src/lib/search/components/search-form/search-form.component.html
  lib/content-services/src/lib/search/components/search-form/search-form.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed changed unit test
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

[ACS-7575] create library dialog fixes (#9574)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
Due: prettier --write, stylelint

Missed import
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7533] - Advanced search chips dropdowns (#9618)
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range-tabbed.component.ts
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.html
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-menu-card/search-filter-menu-card.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.ts
  lib/content-services/src/lib/search/components/search-filter-tabbed/search-filter-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.html
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

Ehi Js-Api should be 7.8 NOT 7.9
  lib/js-api/package.json
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
