Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

xpath to css
  lib/testing/src/lib/protractor/core/pages/card-view/card-view-text-item.page.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

udapte locators
  lib/testing/src/lib/protractor/core/pages/card-view/card-view-text-item.page.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

Fixed js-api version in cli package.json
  lib/cli/package-lock.json
  lib/cli/package.json
Due: none

AAE-20808 Switch to new graphql library (#10390)
  lib/process-services-cloud/.storybook/tsconfig.json
  lib/process-services-cloud/src/lib/process/process-filters/services/process-filter-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/services/notification-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/services/notification-cloud.service.ts
  lib/process-services-cloud/src/lib/services/public-api.ts
  lib/process-services-cloud/src/lib/services/web-socket.service.spec.ts
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Post release version bump (#10417)
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0-alpha.5.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0-alpha.6.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0-alpha.5.md
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

AAE-25145 Sort process and task lists by process variables (#10412)
  lib/process-services-cloud/src/lib/models/filter-cloud-model.ts
  lib/process-services-cloud/src/lib/models/task-list-sorting.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-list-sorting.model.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/components/base-task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

AAE-25144 Implements process variables filters
  lib/process-services-cloud/src/lib/common/public-api.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/models/process-filter-cloud.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
Due: prettier --write, eslint

update
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
Due: prettier --write, eslint

fix lint
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
Due: prettier --write, eslint

AAE-25144 Process variables filters (#10405)
  lib/process-services-cloud/src/lib/common/public-api.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/models/process-filter-cloud.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
Due: prettier --write, eslint

AAE-27328 Add process variables to the search for searching Tasks
  lib/process-services-cloud/src/lib/models/filter-cloud-model.ts
  lib/process-services-cloud/src/lib/models/process-variable-filter.model.ts
  lib/process-services-cloud/src/lib/process/process-filters/models/process-filter-cloud.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
  lib/process-services-cloud/src/public-api.ts
Due: prettier --write, eslint

fix after rebase
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
Due: prettier --write, eslint

AAE-27328 Add process variables to the search for searching Tasks (#10414)
  lib/process-services-cloud/src/lib/models/filter-cloud-model.ts
  lib/process-services-cloud/src/lib/models/process-variable-filter.model.ts
  lib/process-services-cloud/src/lib/process/process-filters/models/process-filter-cloud.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
  lib/process-services-cloud/src/public-api.ts
Due: prettier --write, eslint

[AAE-27113] Align edit assignee button correctly in process admin user task property editor (#10371)
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
Due: prettier --write, stylelint --fix

AAE-10529 Find a better way to fix clipped icons (#10366)
  lib/content-services/src/lib/document-list/components/document-list.component.scss
Due: prettier --write, stylelint --fix

[AAE-10239] backward compatible approach
  lib/content-services/src/lib/tree/components/tree.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.ts
  lib/core/src/lib/context-menu/context-menu.directive.ts
  lib/core/src/lib/context-menu/context-menu.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

[AAE-10239] no need to format the file
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[AAE-10239] reverted rename of method
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

[AAE-10239] renamed file so you can find it better
  lib/core/src/lib/context-menu/context-menu.directive.spec.ts
Due: prettier --write, eslint

AAE-10239 showRowContextMenu-datatable-action-called-multiple-times (#10386)
  lib/core/src/lib/context-menu/context-menu.directive.spec.ts
  lib/core/src/lib/context-menu/context-menu.directive.ts
  lib/core/src/lib/context-menu/context-menu.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt.json
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
  lib/insights/src/lib/i18n/pt.json
  lib/process-services-cloud/src/lib/i18n/de.json
  lib/process-services-cloud/src/lib/i18n/es.json
  lib/process-services-cloud/src/lib/i18n/fr.json
  lib/process-services-cloud/src/lib/i18n/it.json
  lib/process-services-cloud/src/lib/i18n/pl.json
  lib/process-services-cloud/src/lib/i18n/pt.json
  lib/process-services/src/lib/i18n/de.json
  lib/process-services/src/lib/i18n/es.json
  lib/process-services/src/lib/i18n/fr.json
  lib/process-services/src/lib/i18n/it.json
  lib/process-services/src/lib/i18n/pl.json
  lib/process-services/src/lib/i18n/pt.json
Due: none

remove adf-testing references
  lib/cli/scripts/licenses.ts
  lib/tsconfig.doc.json
  scripts/github/build/npm-check-bundles.sh
  scripts/github/release/deprecate-develop-build.sh
  tsconfig.e2e.json
  tsconfig.json
Due: prettier --write, eslint

[AAE-22900] Update ObjectDataTableAdapter to support server and client sorting modes
  lib/core/src/lib/datatable/data/object-datatable-adapter.spec.ts
  lib/core/src/lib/datatable/data/object-datatable-adapter.ts
  lib/process-services-cloud/src/lib/process/process-list/datatable/process-list-datatable-adapter.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/datatable/process-list-datatable-adapter.ts
  lib/process-services-cloud/src/lib/task/task-list/datatable/task-list-datatable-adapter.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/datatable/task-list-datatable-adapter.ts
Due: prettier --write, eslint

[AAE-22900] PR comments update - only checking for falsy sortingMode
  lib/core/src/lib/datatable/data/object-datatable-adapter.ts
Due: prettier --write, eslint

AAE-20506 Rich Text Editor Visual Improvements (#10385)
  lib/process-services-cloud/src/lib/rich-text-editor/editorjs-config.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.scss
Due: prettier --write, eslint, stylelint --fix

update data table locator
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

[ACS-8999] Correct styles for buttons in unsaved changes dialog for different size of buttons, allowed to set maxWidth of unsaved changes dialog
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.component.scss
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.model.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.ts
Due: prettier --write, eslint, stylelint --fix

add logs
  lib/testing/src/lib/protractor/core/utils/browser-actions.ts
Due: prettier --write, eslint

[ACS-8999] Unit tests
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes-dialog.model.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.spec.ts
  lib/core/src/lib/dialogs/unsaved-changes-dialog/unsaved-changes.guard.ts
Due: prettier --write, eslint

AAE-20808 Adding support for ws protocol in websocket service
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
Due: prettier --write, eslint

AAE-20808 Fixed import
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
Due: prettier --write, eslint

getAttribute non sctipt way
  lib/testing/src/lib/protractor/core/utils/browser-actions.ts
Due: prettier --write, eslint

AAE-20808 Adding support for ws protocol in websocket service (#10432)
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
Due: prettier --write, eslint

getInputValue non script
  lib/testing/src/lib/protractor/core/utils/browser-actions.ts
Due: prettier --write, eslint

AAE-20808 Fixed websocket protocol
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
Due: prettier --write, eslint

AAE-20808 Removed comments
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
Due: prettier --write, eslint

AAE-20808 Fixed websocket protocol (#10433)
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
Due: prettier --write, eslint

remove testing:bundle from CI workflows
  .github/workflows/pull-request.yml
  .github/workflows/release-branch.yml
  .github/workflows/release.yml
Due: none

AAE-27177 added new process in simpleapp for refresh button
  e2e/resources/activiti7/simpleapp.zip
Due: none

[ACS-9010] Loading spinner is not shown on search results page when filtering for files or folders
  lib/content-services/src/lib/search/services/base-query-builder.service.ts
  lib/content-services/src/lib/search/services/search-query-builder.service.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
