Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

Fixing unit test
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/core/src/lib/about/about-github-link/about-github-link.component.html
  lib/core/src/lib/about/about-github-link/about-github-link.component.spec.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.spec.ts
  lib/core/src/lib/auth/mock/authentication.service.mock.ts
  lib/core/src/lib/testing/core.testing.module.ts
Due: prettier --write, eslint

[ACS-7982] ACC - fix categories tree (#9715)
  lib/content-services/src/lib/tree/components/tree.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
Due: prettier --write, eslint

Added missing import for uppercase pipe (#9748)
  lib/core/src/lib/form/components/form-renderer.component.ts
Due: prettier --write, eslint

[ACS-8042] Fixed styles for inputs in library creation (#9751)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

AAE-22783 Fix form elements label style (#9725)
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8260] add user dialog misplaced search icon and space issue (#9897)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
Due: prettier --write, stylelint

Recreated package-lock
  package-lock.json
Due: none

Fixing style
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

Disabled failing unit from content
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint

Fixed unit and lint
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/testing/core.story.module.ts
  lib/js-api/package.json
  lib/process-services/src/lib/app-list/apps-list.component.spec.ts
  lib/testing/package.json
Due: prettier --write, eslint

Revert "Removing implicitFlow in favor of codeFlow"
  demo-shell/src/app/components/settings/host-settings.component.html
  demo-shell/src/app/components/settings/host-settings.component.ts
  lib/core/src/lib/app-config/app-config.service.ts
  lib/testing/package.json
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

[ACS-8191] Added missing mat selectors for ACA. Updated mat selector name (#9809)
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed issue on focus mat calendar
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-8098] [ACA] Testing Angular 15 - Move Popup placeholder missing (#9796)
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

Ehi Js-Api should be 7.8 NOT 7.9
  lib/js-api/package.json
Due: none

[ACS-8157] Used mat chip set instead of mat chip listbox for dynamic chip list to hide tick icon for chips (#9803)
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
Due: none

Fixing unit test an builds
  lib/content-services/src/lib/search/components/search-control.component.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.stories.ts
  lib/core/src/lib/buttons-menu/buttons-menu.module.ts
  lib/core/src/lib/search-text/search-text-input.component.spec.ts
Due: prettier --write, eslint

Fixed unit test after rebase
  lib/content-services/src/lib/common/services/content.service.spec.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
  lib/content-services/src/lib/dialogs/download-zip/download-zip.dialog.spec.ts
  lib/content-services/src/lib/directives/check-allowable-operation.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-delete.directive.spec.ts
  lib/content-services/src/lib/directives/node-download.directive.spec.ts
  lib/content-services/src/lib/document-list/components/file-auto-download/file-auto-download.component.spec.ts
  lib/content-services/src/lib/document-list/services/lock.service.spec.ts
  lib/content-services/src/lib/node-comments/services/node-comments.service.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.directive.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

Fixed package and e2e with tabs that now are capital letters?
  e2e/process-services-cloud/form-field/visibility-condition-tabs.e2e.ts
  e2e/resources/forms/tab-visibility-conditions.ts
  lib/testing/src/lib/protractor/process-services-cloud/resources/resources.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-8273] [ADW] Testing Angular 15 - Process' tab names are uppercased (#9870)
  lib/core/src/lib/form/components/form-renderer.component.html
Due: none

[ACS-7944] [ADW] Start process page (#9802)
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
Due: prettier --write, stylelint

Fixed after rebase
  lib/core/feature-flags/src/lib/directives/features.directive.ts
  lib/core/feature-flags/src/lib/directives/not-features.directive.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.spec.ts
  lib/testing/package-lock.json
Due: prettier --write, eslint

AAE-23556 Fix search text input component styles (#9895)
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint, stylelint

[ACS-7999] Fix inputs for edit and create folder (#9713)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8092] [ACA] testing angular 15 notifications bell is much smaller and is further from the profile page 2 (#9786)
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7983] Fixed security controls dialog (#9747)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8196] fix style for pagination (#9810)
  lib/core/src/lib/pagination/pagination.component.scss
Due: prettier --write, stylelint

[ACS-8158] Fixed spacing of tags in ACA (#9808)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint, stylelint

Fixed missing locator for content e2e
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

[ACS-8008] - Inputs for properties panel "General info" (#9744)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
Due: prettier --write, stylelint

Fixed unit test for process
  lib/process-services/src/lib/app-list/apps-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/process-user-info/process-user-info.component.spec.ts
Due: prettier --write, eslint

Insight material module has been removed
  lib/insights/src/lib/material.module.ts
Due: prettier --write, eslint

[ACS-7974] Adding material selectors for assign security marks dialog (#9755)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

AAE 22837 Move confirm to core (#9750)
  docs/README.md
  docs/core/dialogs/confirm.dialog.md
  docs/release-notes/RelNote320.md
  docs/versionIndex.md
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.ts
  lib/content-services/src/lib/dialogs/dialog.module.ts
  lib/content-services/src/lib/dialogs/public-api.ts
  lib/content-services/src/lib/i18n/ar.json
  lib/content-services/src/lib/i18n/cs.json
  lib/content-services/src/lib/i18n/da.json
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fi.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/ja.json
  lib/content-services/src/lib/i18n/nb.json
  lib/content-services/src/lib/i18n/nl.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt-BR.json
  lib/content-services/src/lib/i18n/ru.json
  lib/content-services/src/lib/i18n/sv.json
  lib/content-services/src/lib/i18n/zh-CN.json
  lib/content-services/src/lib/version-manager/version-list.component.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.html
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.module.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.scss
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.spec.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.ts
  lib/core/src/lib/dialogs/public-api.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint, stylelint

Fixed after rebase
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.spec.ts
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint

Fixed imports for confirm dialog unit tests
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.spec.ts
Due: prettier --write, eslint

[ACS-8231] [ADW] Processes button styling on hover- edit summary (#9833)
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint

[ACS-8004] Fix inputs for move folder (#9707)
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-selector/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint

[ACS-7981] UI fixes for create categories dialog (#9754)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

Fixed wrong package version
  lib/js-api/package.json
Due: none
