Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

fix
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.module.ts
Due: prettier --write, eslint

Fixing webdriver selenium version
  package-lock.json
  package.json
Due: none

Disabling Code flow for grant password auth
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

Removing the install from the script as it's done in the postinstall now
  scripts/test-e2e-lib.sh
Due: none

It's funny how this tests work
  e2e/core/login/login-sso/login-sso.e2e.ts
Due: prettier --write, eslint

Having codeflow disabled by default
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

Checking if Core tests pass
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

Refreshing as SSO button is broken after clicking apply
  e2e/content-services/directives/sso-download-directive-component.e2e.ts
  e2e/core/login/login-sso/login-sso.e2e.ts
Due: prettier --write, eslint

AAE-22865 - Fixing webdriver version used and installed (#9749)
  .github/workflows/pull-request.yml
  e2e/content-services/directives/sso-download-directive-component.e2e.ts
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
  package-lock.json
  package.json
  scripts/test-e2e-lib.sh
  scripts/update-webdriver.ps1
  scripts/webdriver-update-newest/chrome_xml_schema.js
  scripts/webdriver-update-newest/update-to-newest-webdriver.sh
Due: prettier --write, eslint

[ACS-8037] Add new endpoint to confirm/reject prediction
  lib/content-services/src/lib/prediction/services/prediction.service.spec.ts
  lib/content-services/src/lib/prediction/services/prediction.service.ts
  lib/js-api/src/api/hxi-connector-api/api/predictions.api.ts
  lib/js-api/src/api/hxi-connector-api/docs/PredictionsApi.md
Due: prettier --write, eslint

[ACS-8037] Fix prediction api docs
  lib/js-api/src/api/hxi-connector-api/docs/PredictionsApi.md
Due: none

[ACS-8037] Add new endpoint to confirm/reject prediction (#9746)
  lib/content-services/src/lib/prediction/services/prediction.service.spec.ts
  lib/content-services/src/lib/prediction/services/prediction.service.ts
  lib/js-api/src/api/hxi-connector-api/api/predictions.api.ts
  lib/js-api/src/api/hxi-connector-api/docs/PredictionsApi.md
Due: prettier --write, eslint

[ACS-7584] - Filtering by type, name and content size (range) does not filter the data table (#9736)
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.html
  lib/content-services/src/lib/search/components/search-widget-container/search-widget-container.component.ts
Due: prettier --write, eslint

cr
  lib/core/src/lib/form/components/form-base.component.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-22720 Add a new "Skip validation" option in outcome properties
  lib/core/src/lib/form/components/form-base.component.ts
  lib/core/src/lib/form/components/widgets/core/form-outcome.model.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-22720 Add a new "Skip validation" option in outcome properties (#9752)
  lib/core/src/lib/form/components/form-base.component.ts
  lib/core/src/lib/form/components/widgets/core/form-outcome.model.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

[ACS-7583] ACC tag rename get fail with some special char.
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
Due: prettier --write, eslint

ACS-7570 fix readme file and unit tests
  docs/content-services/interfaces/dialog.interface.md
  lib/content-services/src/lib/dialogs/dialog/dialog.component.spec.ts
Due: prettier --write, eslint

ACS-7570 added aditional buttons to DialogComponent
  docs/content-services/dialogs/dialog.md
  docs/content-services/interfaces/additional-dialog-action-button.md
  docs/content-services/interfaces/dialog.interface.md
  docs/content-services/models/dialog.model.md
  lib/content-services/src/lib/dialogs/dialog/dialog-data.interface.ts
  lib/content-services/src/lib/dialogs/dialog/dialog.component.html
  lib/content-services/src/lib/dialogs/dialog/dialog.component.ts
Due: prettier --write, eslint

ACS-7570 made the buttons an array
  docs/content-services/dialogs/dialog.md
  docs/content-services/interfaces/additional-dialog-action-button.md
  docs/content-services/interfaces/dialog.interface.md
  lib/content-services/src/lib/dialogs/dialog/dialog-data.interface.ts
  lib/content-services/src/lib/dialogs/dialog/dialog.component.html
  lib/content-services/src/lib/dialogs/dialog/dialog.component.scss
  lib/content-services/src/lib/dialogs/dialog/dialog.component.ts
Due: prettier --write, eslint, stylelint

ACS-7570 move dialog to core folder
  docs/core/dialogs/dialog.md
  docs/core/interfaces/additional-dialog-action-button.interface.md
  docs/core/interfaces/dialog.interface.md
  docs/core/models/dialog.model.md
  lib/content-services/src/lib/dialogs/public-api.ts
  lib/core/src/lib/dialogs/dialog/dialog-data.interface.ts
  lib/core/src/lib/dialogs/dialog/dialog.component.html
  lib/core/src/lib/dialogs/dialog/dialog.component.scss
  lib/core/src/lib/dialogs/dialog/dialog.component.spec.ts
  lib/core/src/lib/dialogs/dialog/dialog.component.ts
  lib/core/src/lib/dialogs/dialog/dialog.model.ts
  lib/core/src/lib/dialogs/dialog/index.ts
  lib/core/src/lib/dialogs/public-api.ts
Due: prettier --write, eslint, stylelint

ACS-7570 refactor conditions in dialog template
  lib/content-services/src/lib/dialogs/dialog/dialog.component.html
  lib/content-services/src/lib/dialogs/dialog/dialog.component.scss
Due: prettier --write, stylelint

ACS-7570 fix test and md file
  docs/core/dialogs/dialog.md
  lib/core/src/lib/dialogs/dialog/dialog.component.spec.ts
Due: prettier --write, eslint

ACS-7570 fix failed unit test
  lib/content-services/src/lib/dialogs/dialog/dialog.component.scss
Due: prettier --write, stylelint

update styles and add contentComponent and contentText to dialog
  docs/content-services/dialogs/dialog.md
  docs/content-services/interfaces/dialog.interface.md
  docs/docassets/images/adf-dialog-alert-standart.png
  docs/docassets/images/adf-dialog-alert-with-icon.png
  docs/docassets/images/adf-dialog-with-additional-buttons.png
  docs/docassets/images/adf-dialog.png
  lib/content-services/src/lib/dialogs/dialog/dialog-data.interface.ts
  lib/content-services/src/lib/dialogs/dialog/dialog.component.html
  lib/content-services/src/lib/dialogs/dialog/dialog.component.scss
  lib/content-services/src/lib/dialogs/dialog/dialog.component.spec.ts
  lib/content-services/src/lib/dialogs/dialog/dialog.component.ts
Due: prettier --write, eslint, stylelint

Uppercase for tabs - missed some tests
  e2e/process-services-cloud/task-list/task-form-cloud-component-tab.e2e.ts
  e2e/process-services/tasks/task-details-form.e2e.ts
Due: prettier --write, eslint

Make all the part build
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  migrations.json
  package.json
Due: prettier --write, eslint

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

Building testing package
  lib/testing/project.json
Due: none

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

Demo shell builds
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/src/lib/styles/_index.scss
Due: prettier --write, stylelint

Fixed linting
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/material.module.ts
  lib/insights/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services/src/lib/material.module.ts
Due: prettier --write, eslint, stylelint

Fixing e2e part 2
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
Due: prettier --write, eslint

Fixed unit test failing
  lib/core/src/lib/info-drawer/info-drawer.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixed e2e with new notation
  e2e-playwright/page-object/components/material/material-locators.ts
  e2e-playwright/page-object/components/material/validation.component.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint, stylelint
