Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

chore(cli): remove node-fetch dependency from package.json
  lib/cli/package.json
Due: none

chore(cli): replace ejs with native node template rendering (#12109)
  lib/cli/package.json
  lib/cli/scripts/audit.ts
  lib/cli/scripts/changelog.ts
  lib/cli/scripts/licenses.ts
  lib/cli/scripts/utils.ts
  lib/cli/templates/auditPage.ejs
  lib/cli/templates/changelog-html.ejs
  lib/cli/templates/changelog-md.ejs
  lib/cli/templates/licensePage.ejs
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

[MNT-25612] ADW Metadata Drawer ignores read‑only presets (readOnlyAspects / readOnlyProperties)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
  lib/content-services/src/lib/content-metadata/services/content-metadata.service.spec.ts
  lib/content-services/src/lib/content-metadata/services/content-metadata.service.ts
Due: prettier --write, eslint

[MNT-25612] ADW Metadata Drawer ignores read‑only presets (readOnlyAspects / readOnlyProperties)
  lib/content-services/src/lib/content-metadata/services/content-metadata.service.ts
Due: prettier --write, eslint

[MNT-25612] ADW Metadata Drawer ignores read‑only presets (readOnlyAspects / readOnlyProperties)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/services/content-metadata.service.spec.ts
  lib/content-services/src/lib/content-metadata/services/content-metadata.service.ts
Due: prettier --write, eslint

[ACS-8468] Add unit tests and remove unused class
  docs/tutorials/content-metadata-component.md
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-item-dispatcher/card-view-item-dispatcher.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-item-dispatcher/card-view-item-dispatcher.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.html
  lib/core/src/lib/card-view/components/card-view/card-view.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/properties-viewer/properties-viewer.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/properties-viewer/properties-viewer.widget.spec.ts
Due: prettier --write, eslint, stylelint --fix

[MNT-25612] ADW Metadata Drawer ignores read‑only presets (readOnlyAspects / readOnlyProperties)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint

[MNT-25612] ADW Metadata Drawer ignores read‑only presets (readOnlyAs… (#12095)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.ts
  lib/content-services/src/lib/content-metadata/services/content-metadata.service.spec.ts
  lib/content-services/src/lib/content-metadata/services/content-metadata.service.ts
Due: prettier --write, eslint

Revert "AAE-48166 Compensate for VM/Citrix clock drift in token expiry check (#12024)"
  lib/core/api/src/lib/adf-http-client.service.spec.ts
  lib/core/api/src/lib/adf-http-client.service.ts
  lib/core/src/lib/app-config/app-config.service.spec.ts
  lib/core/src/lib/app-config/app-config.service.ts
  lib/core/src/lib/auth/models/oauth-config.model.ts
  lib/core/src/lib/auth/oidc/auth.module.ts
  lib/core/src/lib/auth/oidc/public-api.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.spec.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.ts
  lib/core/src/lib/auth/oidc/time-sync-date-time-provider.spec.ts
  lib/core/src/lib/auth/oidc/time-sync-date-time-provider.ts
  lib/core/src/lib/auth/services/time-sync.service.spec.ts
  lib/core/src/lib/auth/services/time-sync.service.ts
Due: prettier --write, eslint

[ACS-8468] Add unitTestingUtils
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/properties-viewer/properties-viewer.widget.spec.ts
Due: prettier --write, eslint

Revert "AAE-48166 Compensate for VM/Citrix clock drift in token expiry check (#12024)" (#12111)
  lib/core/api/src/lib/adf-http-client.service.spec.ts
  lib/core/api/src/lib/adf-http-client.service.ts
  lib/core/src/lib/app-config/app-config.service.spec.ts
  lib/core/src/lib/app-config/app-config.service.ts
  lib/core/src/lib/auth/models/oauth-config.model.ts
  lib/core/src/lib/auth/oidc/auth.module.ts
  lib/core/src/lib/auth/oidc/public-api.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.spec.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.ts
  lib/core/src/lib/auth/oidc/time-sync-date-time-provider.spec.ts
  lib/core/src/lib/auth/oidc/time-sync-date-time-provider.ts
  lib/core/src/lib/auth/services/time-sync.service.spec.ts
  lib/core/src/lib/auth/services/time-sync.service.ts
Due: prettier --write, eslint

[ACS-8468] use with args instead of callFake
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint

[ACS-8468] remove jasmine.spy
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint

Revert "Revert "AAE-48166 Compensate for VM/Citrix clock drift in token expir…"
  lib/core/api/src/lib/adf-http-client.service.spec.ts
  lib/core/api/src/lib/adf-http-client.service.ts
  lib/core/src/lib/app-config/app-config.service.spec.ts
  lib/core/src/lib/app-config/app-config.service.ts
  lib/core/src/lib/auth/models/oauth-config.model.ts
  lib/core/src/lib/auth/oidc/auth.module.ts
  lib/core/src/lib/auth/oidc/public-api.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.spec.ts
  lib/core/src/lib/auth/oidc/redirect-auth.service.ts
  lib/core/src/lib/auth/oidc/time-sync-date-time-provider.spec.ts
  lib/core/src/lib/auth/oidc/time-sync-date-time-provider.ts
  lib/core/src/lib/auth/services/time-sync.service.spec.ts
  lib/core/src/lib/auth/services/time-sync.service.ts
Due: prettier --write, eslint

AAE-48166 Always send cache-busting headers and adf-time-sync param on server time request
  lib/core/src/lib/auth/services/time-sync.service.spec.ts
  lib/core/src/lib/auth/services/time-sync.service.ts
Due: prettier --write, eslint

update
  eslint.config.mjs
  lib/cli/eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/js-api/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
Due: none

update
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  lib/cli/.eslintrc.json
  lib/cli/eslint.config.mjs
  lib/content-services/.eslintignore
  lib/content-services/.eslintrc.json
  lib/content-services/eslint.config.mjs
  lib/core/.eslintignore
  lib/core/.eslintrc.json
  lib/core/eslint.config.mjs
  lib/extensions/.eslintignore
  lib/extensions/.eslintrc.json
  lib/extensions/eslint.config.mjs
  lib/insights/.eslintignore
  lib/insights/.eslintrc.json
  lib/insights/eslint.config.mjs
  lib/js-api/.eslintignore
  lib/js-api/.eslintrc.json
  lib/js-api/eslint.config.mjs
  lib/process-services-cloud/.eslintignore
  lib/process-services-cloud/.eslintrc.json
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/.eslintignore
  lib/process-services/.eslintrc.json
  lib/process-services/eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

working
  .vscode/settings.json
  eslint.config.mjs
  lib/cli/eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/core/src/lib/about/about-extension-list/about-extension-list.component.ts
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/js-api/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

cr
  eslint.config.mjs
  lib/core/src/lib/core.module.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

update
  .eslintrc.js
  .vscode/settings.json
  eslint.config.mjs
  lib/cli/eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/js-api/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
Due: prettier --write, eslint

cr
  eslint.config.mjs
  lib/core/src/lib/about/about-extension-list/about-extension-list.component.ts
Due: prettier --write, eslint

use nx boundaries
  lib/cli/eslint.config.mjs
  lib/cli/project.json
  lib/content-services/eslint.config.mjs
  lib/content-services/project.json
  lib/core/eslint.config.mjs
  lib/core/project.json
  lib/eslint-angular/project.json
  lib/extensions/eslint.config.mjs
  lib/extensions/project.json
  lib/insights/eslint.config.mjs
  lib/insights/project.json
  lib/js-api/eslint.config.mjs
  lib/js-api/project.json
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services-cloud/project.json
  lib/process-services/eslint.config.mjs
  lib/process-services/project.json
  lib/stories/project.json
Due: none

update
  pnpm-lock.yaml
Due: none

fixes
  .vscode/settings.json
  eslint.config.mjs
  lib/cli/eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/core/src/lib/core.module.ts
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/js-api/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
Due: prettier --write, eslint

fixes
  eslint.config.mjs
  lib/cli/eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/js-api/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
Due: none

fixes
  package.json
  pnpm-lock.yaml
Due: none

cr
  eslint.config.mjs
Due: none

update
  eslint.config.mjs
Due: none

cr
  eslint.config.mjs
  lib/cli/eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/js-api/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
Due: none

update
  eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

cr
  package.json
  pnpm-lock.yaml
Due: none

fix null
  eslint.config.mjs
Due: none

cr
  eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
Due: none

cr
  lib/cli/eslint.config.mjs
  lib/content-services/eslint.config.mjs
  lib/core/eslint.config.mjs
  lib/extensions/eslint.config.mjs
  lib/insights/eslint.config.mjs
  lib/js-api/eslint.config.mjs
  lib/process-services-cloud/eslint.config.mjs
  lib/process-services/eslint.config.mjs
Due: none

update
  .vscode/settings.json
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
