Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

Added fallback for injection
  lib/core/src/lib/auth/oidc/auth.module.ts
  lib/core/src/lib/auth/services/jwt-helper.service.ts
Due: prettier --write, eslint

Auto import fix
  lib/core/src/lib/auth/oidc/auth.module.ts
Due: prettier --write, eslint

small changes
  lib/process-services-cloud/src/lib/services/task-list-cloud.service.interface.ts
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.ts
Due: prettier --write, eslint

AAE-26192 New task search API
  docs/process-services-cloud/components/people-cloud.component.md
  docs/process-services-cloud/components/task-list-cloud.component.md
  lib/process-services-cloud/src/lib/models/filter-cloud-model.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-task-list-cloud.service.ts
  lib/process-services-cloud/src/lib/services/task-list-cloud.service.interface.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/mock/task-filters-cloud.mock.ts
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

cr
  lib/process-services-cloud/src/lib/services/cloud-token.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

use DI instead of inputs
  docs/process-services-cloud/components/task-list-cloud.component.md
  lib/process-services-cloud/src/lib/services/cloud-token.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
Due: prettier --write, eslint

NG-16 - migration step 1
  docs/release-notes/RelNote410.md
  docs/release-notes/RelNote420.md
  docs/release-notes/RelNote430.md
  e2e/resources/adf/allFileTypes/documents/text/a_vsd_file.vsd
  e2e/resources/adf/allFileTypes/documents/word/a_dotx_file.dotx
  e2e/resources/adf/allFileTypes/documents/word/a_sxw_file.sxw
  lib/content-services/.storybook/preview.js
  lib/core/.storybook/preview.js
  lib/core/src/lib/auth/guard/auth-guard-base.ts
  lib/process-services-cloud/.storybook/main.js
  lib/process-services-cloud/.storybook/preview.js
  lib/stories/.storybook/preview.js
  migrations.json
  nx.json
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: prettier --write, eslint

Fixes after CR (#10202)
  docs/release-notes/RelNote410.md
  docs/release-notes/RelNote420.md
  docs/release-notes/RelNote430.md
  e2e/resources/adf/allFileTypes/documents/text/a_vsd_file.vsd
  e2e/resources/adf/allFileTypes/documents/word/a_dotx_file.dotx
  e2e/resources/adf/allFileTypes/documents/word/a_sxw_file.sxw
  package-lock.json
  package.json
Due: none

Migrate to NG17
  nx.json
  package-lock.json
  package.json
Due: none

[ci:force] - fixed deps
  package-lock.json
  package.json
Due: none

[ci:force] - fixed build for testing 1
  lib/content-services/project.json
  lib/core/project.json
  lib/process-services-cloud/project.json
  lib/stories/project.json
  lib/testing/project.json
  lib/testing/webpack.config.js
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint

Fixed build for all the packages
  .eslintignore
  lib/cli/project.json
  lib/content-services/project.json
  lib/core/project.json
  lib/eslint-angular/project.json
  lib/eslint-angular/src/rules/no-angular-material-selectors/no-angular-material-selectors.ts
  lib/eslint-angular/src/rules/use-none-component-view-encapsulation/use-none-component-view-encapsulation.ts
  lib/eslint-angular/tsconfig.json
  lib/eslint-angular/webpack.config.js
  lib/extensions/project.json
  lib/insights/project.json
  lib/js-api/project.json
  lib/process-services-cloud/project.json
  lib/process-services/project.json
  lib/testing/project.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint

fix units
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-26192 New task search API (#10319)
  docs/process-services-cloud/components/people-cloud.component.md
  docs/process-services-cloud/components/task-list-cloud.component.md
  lib/process-services-cloud/src/lib/models/filter-cloud-model.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-task-list-cloud.service.ts
  lib/process-services-cloud/src/lib/services/cloud-token.service.ts
  lib/process-services-cloud/src/lib/services/task-list-cloud.service.interface.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/mock/task-filters-cloud.mock.ts
  lib/process-services-cloud/src/lib/task/task-filters/models/filter-cloud.model.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.ts
Due: prettier --write, eslint

Release 7.0.0-alpha.5
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0-alpha.5.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0-alpha.5.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0-alpha.5.md
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

Decreasing cli dep for js-api
  lib/cli/package.json
Due: none

Release 7.0.0-alpha.5 (#10325)
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0-alpha.5.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0-alpha.5.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0-alpha.5.md
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

Fixed package-lock
  package-lock.json
Due: none

Revert "Release 7.0.0-alpha.5 (#10325)"
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0-alpha.5.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0-alpha.5.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0-alpha.5.md
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

Revert "Release 7.0.0-alpha.5 (#10325)" (#10327)
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0-alpha.5.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0-alpha.5.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0-alpha.5.md
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/eslint-angular/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/js-api/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

Changes after CR
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
Due: prettier --write, eslint

[ACS-8634] "Manage Searches" - a full page list of saved searches
  docs/core/components/datatable.component.md
  lib/content-services/src/lib/common/services/saved-searches.service.spec.ts
  lib/content-services/src/lib/common/services/saved-searches.service.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
  lib/core/src/lib/i18n/en.json
  lib/core/src/lib/layout/components/sidenav-layout/sidenav-layout.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint --fix

[ACS-8634] Removed extra selector, drag&drop on hover
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

Release 7.0.0-alpha.4
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0-alpha.4.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0-alpha.4.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0-alpha.4.md
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
Due: none

Release 7.0.0-alpha.4 (#10329)
  docs/license-info/README.md
  docs/license-info/license-info-7.0.0-alpha.4.md
  docs/release-notes/README.md
  docs/release-notes/RelNote-7.0.0-alpha.4.md
  docs/vulnerability/README.md
  docs/vulnerability/audit-info-7.0.0-alpha.4.md
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/extensions/package.json
  lib/insights/package.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
Due: none

Sync lock and removed all'
  .github/workflows/release.yml
  package-lock.json
Due: none
