Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[ACS-11158]: removes mat selectors for tooltips
  lib/core/src/lib/styles/_globals.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

refactor: clean up code in SuperagentHttpClient and upload.spec
  lib/js-api/src/superagentHttpClient.ts
  lib/js-api/test/upload.spec.ts
Due: prettier --write, eslint

chore: update cspell and ESLint configurations
  cspell.json
  lib/js-api/.eslintrc.json
Due: none

fix: enhance ImgViewerComponent to handle cleanup and prevent errors after destruction
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.spec.ts
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.ts
Due: prettier --write, eslint

fix: add aria-hidden attribute to notification history button for accessibility
  lib/core/src/lib/notifications/components/notification-history.component.html
Due: none

AAE-42291 Fix dbclick on disabled text
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
Due: prettier --write, stylelint --fix

[MNT-25123] Fixed incorrectly displayed some annotations
  lib/core/src/lib/viewer/components/mock/pdfjs-lib.mock.ts
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer-host.component.scss
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.spec.ts
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
Due: prettier --write, eslint, stylelint --fix

fix: improve key event handling in ImgViewerComponent
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.ts
Due: prettier --write, eslint

ACS-11154 Viewer stabilisation, lint fixes (#11660)
  cspell.json
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.spec.ts
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.ts
  lib/js-api/.eslintrc.json
  lib/js-api/src/superagentHttpClient.ts
  lib/js-api/test/upload.spec.ts
Due: prettier --write, eslint

refactor: improve context menu overlay service implementation
  lib/core/src/lib/context-menu/context-menu-overlay.service.ts
Due: prettier --write, eslint

refactor: enhance type safety in context menu components
  lib/core/src/lib/context-menu/context-menu-list.component.ts
  lib/core/src/lib/context-menu/context-menu.tokens.ts
  lib/core/src/lib/context-menu/interfaces.ts
Due: prettier --write, eslint

refactor: remove unnecessary eslint-disable comments in category management and search components
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/context-menu/context-menu-overlay.service.ts
Due: prettier --write, eslint

refactor: simplify backdrop click handling in context menu overlay service
  lib/core/src/lib/context-menu/context-menu-overlay.service.ts
Due: prettier --write, eslint

refactor: streamline backdrop handling in context menu overlay service
  lib/core/src/lib/context-menu/context-menu-overlay.service.ts
Due: prettier --write, eslint

ACS-11160: improve context menu overlay service implementation (#11661)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/context-menu/context-menu-list.component.ts
  lib/core/src/lib/context-menu/context-menu-overlay.service.ts
  lib/core/src/lib/context-menu/context-menu.tokens.ts
  lib/core/src/lib/context-menu/interfaces.ts
Due: prettier --write, eslint

AAE-42291 Move tooltip to parent
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
Due: none

chore: update ESLint configuration to include @angular-eslint/prefer-inject rule
  lib/extensions/.eslintrc.json
  lib/insights/.eslintrc.json
  lib/js-api/.eslintrc.json
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-list/components/base-task-list-cloud.component.ts
Due: prettier --write, eslint

fix: enhance ImgViewerComponent to handle cleanup and prevent errors after destruction
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.ts
Due: prettier --write, eslint

chore: migrate to Angular 20, TypeScript 5.9, and supporting packages
  .cursor/plans/angular_20_migration_bd15d9b7.plan.md
Due: none

chore: finalize Angular 20 migration and improve migration prompt
  .cursor/plans/angular_20_migration_bd15d9b7.plan.md
  .cursor/prompts/angular-20-migration-improved-prompt.md
Due: none

fix: update migration prompt and tests for Angular 20 breaking changes
  .cursor/prompts/angular-20-migration-improved-prompt.md
  .eslintrc.js
  lib/core/.eslintrc.json
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.ts
  lib/core/src/lib/header/navbar/navbar-item.component.spec.ts
  lib/core/src/lib/header/navbar/navbar.component.spec.ts
  lib/core/src/lib/layout/components/header/header.component.spec.ts
Due: prettier --write, eslint

fix: update webpack to 5.105.0 for Storybook compatibility
  package-lock.json
  package.json
Due: none

feat: update ESLint configuration to include @angular-eslint/prefer-inject rule
  lib/content-services/.eslintrc.json
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.ts
  lib/process-services-cloud/.eslintrc.json
  lib/process-services/.eslintrc.json
Due: prettier --write, eslint

fix: resolve peer dependency conflicts for CI/CD
  .npmrc
  package-lock.json
  package.json
Due: none

chore: migrate to Angular 20, TypeScript 5.9, and supporting packages
  .eslintrc.js
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.ts
  lib/content-services/src/lib/directives/node-delete.directive.ts
  lib/content-services/src/lib/document-list/services/document-actions.service.ts
  lib/content-services/src/lib/document-list/services/folder-actions.service.ts
  lib/content-services/src/lib/search/components/search-control.component.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.ts
  lib/core/src/lib/auth/services/base-authentication.service.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/js-api/src/alfrescoApi.ts
  lib/js-api/src/authentication/oauth2Auth.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter/edit-process-filter-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters/process-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/services/web-socket.service.ts
  lib/process-services-cloud/src/lib/task/services/task-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/base-edit-task-filter-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/service-task-filters/service-task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filters/task-filters-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/service-task-filter-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-filters/services/task-filter-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.ts
  lib/process-services/src/lib/app-list/apps-list.component.ts
  lib/process-services/src/lib/form/form-list/form-list.component.ts
  lib/process-services/src/lib/form/widgets/typeahead/typeahead.widget.ts
  lib/process-services/src/lib/process-list/components/process-filters/process-filters.component.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.ts
  lib/process-services/src/lib/task-list/components/task-filters/task-filters.component.ts
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-11158]: removes mat selectors for tooltips (#11659)
  lib/core/src/lib/styles/_globals.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint --fix

[MNT-24175]: fixes non node values handling (#11641)
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.ts
Due: prettier --write, eslint

AAE-41605 Add ability to filter by linked processes
  lib/process-services-cloud/src/lib/process/process-filters/models/process-filter-cloud.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
Due: prettier --write, eslint

AAE-41605 Add ability to filter by linked processes (#11664)
  lib/process-services-cloud/src/lib/process/process-filters/models/process-filter-cloud.model.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-list/models/process-cloud-query-request.model.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
Due: prettier --write, eslint

[ACS-11153] Removed usages of ng reflect from card view dateitem and diagram activities
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/insights/src/lib/diagram/components/diagram.component.activities.spec.ts
Due: prettier --write, eslint

AAE-33828 removing the unwanted try catches
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.ts
  lib/core/src/lib/pipes/localized-date.pipe.ts
Due: prettier --write, eslint

AAE-33828 adding units to test the number value is a valid value
  lib/core/src/lib/datatable/components/number-cell/number-cell.component.spec.ts
Due: prettier --write, eslint

AAE-33828 fix for the runtime errors on datatable should be handled in runtime
  lib/core/src/lib/datatable/components/amount-cell/amount-cell.component.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.ts
  lib/core/src/lib/datatable/components/number-cell/number-cell.component.ts
  lib/core/src/lib/pipes/localized-date.pipe.ts
Due: prettier --write, eslint

AAE-33828 Fix for the runtime errors on data-table should be handled (#11639)
  lib/core/src/lib/datatable/components/amount-cell/amount-cell.component.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.ts
  lib/core/src/lib/datatable/components/number-cell/number-cell.component.spec.ts
  lib/core/src/lib/datatable/components/number-cell/number-cell.component.ts
Due: prettier --write, eslint

Refactor tests to utilize Injector.create and runInInjectionContext for improved dependency injection
  lib/core/src/lib/app-config/app-config-storage-prefix.factory.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/core/src/lib/card-view/models/card-view-dateitem.model.ts
  lib/core/src/lib/context-menu/context-menu-overlay.service.spec.ts
  lib/core/src/lib/datatable/directives/header-filter-template.directive.spec.ts
  lib/core/src/lib/datatable/directives/loading-template.directive.spec.ts
  lib/core/src/lib/datatable/directives/main-data-table-action-template.directive.spec.ts
  lib/core/src/lib/datatable/directives/no-content-template.directive.spec.ts
  lib/core/src/lib/datatable/directives/no-permission-template.directive.spec.ts
  lib/core/src/lib/datatable/directives/resizable/resizable.directive.spec.ts
  lib/core/src/lib/datatable/directives/resizable/resize-handle.directive.spec.ts
  lib/core/src/lib/directives/upload.directive.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/language-menu/service/language.service.spec.ts
  lib/core/src/lib/login/directives/login-footer.directive.spec.ts
  lib/core/src/lib/login/directives/login-header.directive.spec.ts
  lib/core/src/lib/pipes/decimal-number.pipe.spec.ts
  lib/core/src/lib/pipes/file-size.pipe.spec.ts
  lib/core/src/lib/pipes/localized-date.pipe.spec.ts
  lib/core/src/lib/pipes/time-ago.pipe.spec.ts
  lib/core/src/lib/pipes/user-initial.pipe.spec.ts
Due: prettier --write, eslint

Refactor ExtensionService tests to use Angular's TestBed for dependency injection
  lib/extensions/src/lib/services/extension.service.spec.ts
Due: prettier --write, eslint

Refactor RowEditorComponent and StartTaskComponent tests for improved dependency injection
  lib/process-services/src/lib/form/widgets/dynamic-table/editors/row-editor/row.editor.spec.ts
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.spec.ts
Due: prettier --write, eslint

Refactor components and services to use readonly properties for injected dependencies
  lib/extensions/src/lib/components/dynamic-column/dynamic-column.component.ts
  lib/extensions/src/lib/components/dynamic-component/dynamic.component.ts
  lib/extensions/src/lib/components/dynamic-tab/dynamic-tab.component.ts
  lib/extensions/src/lib/components/viewer/preview-extension.component.ts
  lib/extensions/src/lib/services/app-extension.service.ts
  lib/extensions/src/lib/services/extension-loader.service.ts
Due: prettier --write, eslint
