Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Fixed prod build
  angular.json
  package.json
Due: none

Fixed last unit tests
  lib/process-services-cloud/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  package.json
Due: prettier --write, eslint

Fixing e2e part 2
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
Due: prettier --write, eslint

Demo shell builds
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/src/lib/styles/_index.scss
Due: prettier --write, stylelint

Fixed js-api build
  package.json
Due: none

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

Fixed unit tests
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/services/property-descriptors.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/karma.conf.js
  lib/extensions/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

Fixed linting and js-api tests
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
  lib/process-services/src/lib/attachment/create-process-attachment.component.spec.ts
  package.json
Due: prettier --write, eslint

Attempt to fix the e2e run'
  angular.json
  package.json
Due: none

Fixed linting
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/material.module.ts
  lib/insights/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services/src/lib/material.module.ts
Due: prettier --write, eslint, stylelint

Fixed most of unit tests failing
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/attachment/create-process-attachment.component.html
  lib/process-services/src/lib/attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment.component.html
  lib/process-services/src/lib/attachment/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list.component.spec.ts
Due: prettier --write, eslint

Building testing package
  lib/testing/project.json
Due: none

Make all the part build
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  migrations.json
  package.json
Due: prettier --write, eslint

readded missing dep
  package-lock.json
  package.json
Due: none

Fixed unit tests after rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.scss
Due: prettier --write, eslint, stylelint

Fixing unit after rebase
  lib/process-services/src/lib/attachment/task-attachment-list.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
  lib/content-services/src/lib/aspect-list/services/aspect-list.service.spec.ts
  lib/content-services/src/lib/category/services/category-tree-datasource.service.spec.ts
  lib/content-services/src/lib/category/services/category.service.spec.ts
  lib/content-services/src/lib/common/services/content.service.spec.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.spec.ts
  lib/content-services/src/lib/dialogs/category-selector.dialog.spec.ts
  lib/content-services/src/lib/dialogs/download-zip/download-zip.dialog.spec.ts
  lib/content-services/src/lib/directives/check-allowable-operation.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/library-membership.directive.spec.ts
  lib/content-services/src/lib/directives/node-delete.directive.spec.ts
  lib/content-services/src/lib/directives/node-download.directive.spec.ts
  lib/content-services/src/lib/directives/node-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-restore.directive.spec.ts
  lib/content-services/src/lib/document-list/components/file-auto-download/file-auto-download.component.spec.ts
  lib/content-services/src/lib/document-list/services/lock.service.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.service.spec.ts
  lib/content-services/src/lib/node-comments/services/node-comments.service.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
  lib/content-services/src/lib/search/services/search.service.spec.ts
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/content-services/src/lib/tree/services/tree.service.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.directive.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.service.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the return of the fail
  lib/testing/src/lib/protractor/process-services-cloud/pages/form/widget/attach-file-widget-cloud.page.ts
Due: prettier --write, eslint

fixig e2es
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
  scripts/webdriver-update-newest/chrome_xml_schema.js
  scripts/webdriver-update-newest/update-to-newest-webdriver.sh
Due: prettier --write, eslint

Readded method removed
  e2e/core/pages/metadata-view.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed lint
  lib/content-services/src/lib/version-manager/version-list.component.spec.ts
Due: prettier --write, eslint

Rebase went little bit wrong -II
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] Fixed other e2es
  e2e/process-services/form/people-component.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/people-cloud-component.page.ts
Due: prettier --write, eslint

Fixed a dependency problem
  package.json
Due: none

fixig e2es - task and version
  e2e/process-services/pages/task-filters-demo.page.ts
  e2e/process-services/pages/tasks-list.page.ts
  e2e/process-services/tasks/task-filters-sorting.e2e.ts
  lib/process-services/src/lib/task-list/components/start-task.component.html
  lib/process-services/src/lib/task-list/components/start-task.component.scss
Due: prettier --write, eslint, stylelint

[AAE-21089] Fix e2e Search - fix checkbox selector
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

Rebased to latest
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
Due: none

Fix selector after merging https://github.com/Alfresco/alfresco-ng2-components/pull/9424, .mat-content-actions was replaced by .adf-start-process-content-actions
  lib/process-services/src/lib/process-list/components/start-process.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixed e2e with new notation
  e2e-playwright/page-object/components/material/material-locators.ts
  e2e-playwright/page-object/components/material/validation.component.ts
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] Added pretheme for core as it is mandatory when publishing and rebuilding
  angular.json
  lib/core/project.json
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
Due: prettier --write, stylelint

[AAE-21085] Fix e2e Search - revert to previous version, text should be written without pressing eneter to show the autocomplete list items
  e2e/search/search-component.e2e.ts
Due: prettier --write, eslint

Fixed unit test failing
  lib/core/src/lib/info-drawer/info-drawer.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] [AAE-21070] Fix e2e Content: Components - C587084 - fix class selectors
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
