Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

[MIGRATION] - Checking deps
  lib/eslint-angular/project.json
  package-lock.json
  package.json
Due: none

Removing temporarily eslint rule from publishing
  lib/eslint-angular/project.json
Due: none

[MIGRATION] - Readded removed action
  lib/eslint-angular/project.json
Due: none

[MIGRATION] - Fixed lint
  lib/core/api/src/lib/adf-http-client.service.ts
  lib/core/src/lib/auth/oidc/auth.module.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: prettier --write, eslint

Removing testing lib to sync with develop
  lib/testing/project.json
  lib/testing/src/lib/protractor/core/actions/identity/group-identity.service.ts
  lib/testing/src/lib/protractor/core/models/tenant.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/snackbar.page.ts
  lib/testing/src/lib/protractor/core/test-element.ts
  lib/testing/src/lib/protractor/core/utils/array.util.ts
  lib/testing/src/lib/protractor/core/utils/protractor.util.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
  lib/testing/src/lib/shared/api/api.service.ts
  lib/testing/src/lib/shared/utils/string.util.ts
  lib/testing/tsconfig.lib.json
  lib/testing/webpack.config.js
Due: prettier --write, eslint

Readded rule for peer deps
  lib/core/package.json
  lib/process-services-cloud/package.json
Due: none

Reduced tserrors on building storybook
  .github/workflows/pull-request.yml
  lib/process-services-cloud/.storybook/tsconfig.json
  lib/stories/.storybook/tsconfig.json
Due: none

Trying to fix js-api unit tests
  lib/js-api/jest.config.ts
  lib/js-api/test/auth.spec.ts
  lib/js-api/test/oauth2Auth.spec.ts
  lib/js-api/test/oauth2AuthImplicitFlow.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Removed unused project parts
  lib/js-api/project.json
Due: none

Removed unused project parts
  lib/js-api/.mocharc.json
Due: none

[MIGRATION] - Checking if now eslint is releasable
  lib/eslint-angular/project.json
Due: none

Fixed two excluded unit tests
  lib/js-api/test/oauth2Auth.spec.ts
Due: prettier --write, eslint

[MIGRATION] - Added injectionContext to avoid error NG0203 for unit tests
  lib/content-services/src/lib/search/services/search-header-query-builder.service.spec.ts
Due: prettier --write, eslint

Fixed sonarqube errors
  lib/content-services/src/lib/content-metadata/services/config/layout-oriented-config.service.ts
  lib/content-services/src/lib/document-list/data/share-datatable-adapter.ts
Due: prettier --write, eslint

[MIGRATION] - Migrating to Jest - working but some tests fails
  lib/js-api/test/oauth2Auth.spec.ts
  lib/js-api/test/upload.spec.ts
Due: prettier --write, eslint

[MIGRATION] - Fixed type
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.ts
  lib/process-services-cloud/src/lib/form/services/form-utils.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-list-cloud.service.ts
  lib/process-services-cloud/src/lib/process/process-list/services/process-task-list-cloud.service.ts
  lib/process-services-cloud/src/lib/task/task-list/components/base-task-list-cloud.component.ts
Due: prettier --write, eslint

[MIGRATION] - Fixing failing migrated tests
  lib/js-api/test/auth.spec.ts
  lib/js-api/test/bpmAuth.spec.ts
  lib/js-api/test/content-services/tagApi.spec.ts
  lib/js-api/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --write, eslint

Update package.json
  package-lock.json
Due: none

[MIGRATION] - updated lock
  package-lock.json
Due: none

[MIGRATION] - fixed storybook builds
  migrations.json
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

[ACS-9052] manage versions close button is too low (#10466)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.ts
Due: prettier --write, eslint, stylelint --fix

[MIGRATION] - Moving mocha to jest
  jest.preset.js
  lib/js-api/jest.config.ts
  lib/js-api/project.json
  lib/js-api/src/test-setup.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Fix ACA pipeline
  lib/js-api/src/utils/is-browser.ts
Due: prettier --write, eslint

[MIGRATION] - Rebased
  package-lock.json
Due: none

Fixed wrong rule
  lib/process-services-cloud/package.json
Due: none

[ACS-9075] Fixed incorrect buttons labels color (#10489)
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
Due: prettier --write, stylelint --fix

[ACS-8961] Emit onLogout when redirected to login page
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.ts
Due: prettier --write, eslint

[MNT-24575] Added unit tests. Fixed typo
  lib/content-services/src/lib/common/services/nodes-api.service.spec.ts
  lib/js-api/src/api/content-rest-api/docs/NodesApi.md
Due: prettier --write, eslint

[MNT-24575] Fixed accesibility issue in DialogComponent. Fixed typo in enum
  lib/core/src/lib/dialogs/dialog/dialog.component.html
  lib/js-api/src/api/content-rest-api/model/sizeDetails.ts
Due: prettier --write, eslint

[ACS-8863] Small fix
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.ts
Due: prettier --write, eslint

[ACS-8863] Add nodeMimeType to keep proper file icon when renditions are generated
  docs/core/components/viewer.component.md
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.html
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.ts
  lib/core/src/lib/viewer/components/viewer.component.spec.ts
  lib/core/src/lib/viewer/components/viewer.component.ts
Due: prettier --write, eslint

[ACS-8961] Emit onLogout when redirected to login page (#10401)
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt.json
Due: none

[ACS-8863] Add nodeMimeType to keep proper file icon when renditions are generated (#10508)
  docs/core/components/viewer.component.md
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.html
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.ts
  lib/core/src/lib/viewer/components/viewer.component.spec.ts
  lib/core/src/lib/viewer/components/viewer.component.ts
Due: prettier --write, eslint

[ci:force] - fixing lint
  lib/extensions/tsconfig.spec.json
  lib/insights/tsconfig.lib.json
  lib/insights/tsconfig.spec.json
  lib/testing/src/lib/protractor/core/actions/identity/group-identity.service.ts
  lib/testing/src/lib/protractor/core/models/tenant.ts
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/snackbar.page.ts
  lib/testing/src/lib/protractor/core/test-element.ts
  lib/testing/src/lib/protractor/core/utils/array.util.ts
  lib/testing/src/lib/protractor/core/utils/protractor.util.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
  lib/testing/src/lib/shared/api/api.service.ts
  lib/testing/src/lib/shared/utils/string.util.ts
  lib/testing/tsconfig.lib.json
Due: prettier --write, eslint

[ci:force] - fixed deps
  package-lock.json
  package.json
Due: none

Migrate to NG17
  nx.json
  package-lock.json
  package.json
Due: none

Fixed build for all the packages
  .eslintignore
  lib/cli/project.json
  lib/content-services/project.json
  lib/core/project.json
  lib/eslint-angular/project.json
  lib/eslint-angular/src/rules/no-angular-material-selectors/no-angular-material-selectors.ts
  lib/eslint-angular/src/rules/use-none-component-view-encapsulation/use-none-component-view-encapsulation.ts
  lib/eslint-angular/tsconfig.json
  lib/eslint-angular/webpack.config.js
  lib/extensions/project.json
  lib/insights/project.json
  lib/js-api/project.json
  lib/process-services-cloud/project.json
  lib/process-services/project.json
  lib/testing/project.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint

[ci:force] - fixed build for testing 1
  lib/content-services/project.json
  lib/core/project.json
  lib/process-services-cloud/project.json
  lib/stories/project.json
  lib/testing/project.json
  lib/testing/webpack.config.js
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
