Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

bug fixes [ci:force]
  lib/content-services/src/lib/upload/pipes/file-upload-error.pipe.ts
  lib/content-services/src/lib/upload/upload.module.ts
  lib/content-services/src/lib/version-manager/version-manager.module.ts
  lib/content-services/src/lib/version-manager/version-upload.component.html
Due: prettier --write, eslint

bug fixes and cleanup [ci:force]
  lib/content-services/src/lib/content.module.ts
  lib/content-services/src/lib/document-list/document-list.module.ts
  lib/content-services/src/lib/search/search.module.ts
Due: prettier --write, eslint

cleanup unused/dead code [ci:force]
  lib/content-services/src/lib/security/services/mock/security-marks.mock.ts
  lib/content-services/src/lib/security/services/models/security-controls-group-info-response.interface.ts
  lib/content-services/src/lib/security/services/models/security-controls-group-list-response.interface.ts
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
Due: prettier --write, eslint

remove unused app config setting
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.ts
Due: prettier --write, eslint

remove unused app config setting
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.spec.ts
Due: prettier --write, eslint

remove unnecessary app config service reference
  lib/content-services/src/lib/tag/tag-list.component.spec.ts
Due: prettier --write, eslint

remove unnecessary app config service reference
  lib/content-services/src/lib/content-node-selector/content-node-dialog.service.spec.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
Due: prettier --write, eslint

remove unnecessary app config service reference
  lib/content-services/src/lib/content-node-share/content-node-share.module.ts
Due: prettier --write, eslint

remove unnecessary app config service reference
  lib/content-services/src/lib/permission-manager/services/node-permission-dialog.service.spec.ts
Due: prettier --write, eslint

remove unnecessary app config service reference
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
Due: prettier --write, eslint

support input params for the viewer; optional configuration
  lib/content-services/src/lib/document-list/components/document-list.component.ts
  lib/core/src/lib/viewer/components/viewer.component.ts
Due: prettier --write, eslint

remove useless imports [ci:force]
  lib/content-services/src/lib/document-list/services/folder-actions.service.spec.ts
  lib/content-services/src/lib/document-list/services/node-actions.service.spec.ts
Due: prettier --write, eslint

fix imports [ci:force]
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.ts
Due: prettier --write, eslint

[ADF-5543] eslint, fix build
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.html
Due: prettier --write, eslint

[ACS-7331] - View details sidebar
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7519] - Login page
  lib/core/src/lib/login/components/login/login.component.html
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.spec.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7519] - Login page (#9565)
  lib/core/src/lib/login/components/login/login.component.html
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.spec.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7678] Convert content pipes to standalone (#9562)
  lib/content-services/src/lib/content.module.ts
  lib/content-services/src/lib/document-list/document-list.module.ts
  lib/content-services/src/lib/pipes/content-pipe.module.ts
  lib/content-services/src/lib/pipes/is-included.pipe.ts
  lib/content-services/src/lib/pipes/node-name-tooltip.pipe.ts
  lib/content-services/src/lib/pipes/tab-labels.pipe.ts
  lib/content-services/src/lib/search/search.module.ts
  lib/content-services/src/lib/security/public-api.ts
  lib/content-services/src/lib/security/services/mock/security-marks.mock.ts
  lib/content-services/src/lib/security/services/models/security-controls-group-info-response.interface.ts
  lib/content-services/src/lib/security/services/models/security-controls-group-list-response.interface.ts
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/content-services/src/lib/security/services/security-controls-service.module.ts
  lib/content-services/src/lib/upload/pipes/file-upload-error.pipe.ts
  lib/content-services/src/lib/upload/upload.module.ts
  lib/content-services/src/lib/version-manager/version-manager.module.ts
  lib/content-services/src/lib/version-manager/version-upload.component.html
Due: prettier --write, eslint

AAE-21703 Fix group form widget style
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-21393 Fix amount form widget style
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.scss
Due: prettier --write, stylelint

AAE-21392 Improve test
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

AAE-21393 Improve widget
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
Due: none

AAE-21946 Support JSON paths with non-standard characters for data table widget
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services-cloud/src/lib/form/mocks/data-table-widget.mock.ts
Due: prettier --write, eslint

[ACS-7331] - View details sidebar (#9455)
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7542] - Upload new version dialog
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/upload/components/upload-button.component.html
  lib/content-services/src/lib/upload/components/upload-button.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.html
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint

[ACS-7542] - Upload new version dialog
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint

[ACS-7582] Fix dialog upload Ui issues
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.scss
Due: prettier --write, stylelint

[ACS-7542] - Upload new version dialog (#9572)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/upload/components/upload-button.component.html
  lib/content-services/src/lib/upload/components/upload-button.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.html
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint

add unit test
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/mocks/data-table-widget.mock.ts
Due: prettier --write, eslint

[ACS-7582] Fix dialog upload Ui issues, apply pr remarks
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
Due: none

[ACS-7575] create library dialog fixes
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
Due: prettier --write, stylelint

[ACS-7679] Reduce the usage of AppConfigService in components and tests (#9563)
  lib/content-services/src/lib/content-node-selector/content-node-dialog.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/content-node-share/content-node-share.module.ts
  lib/content-services/src/lib/document-list/components/document-list.component.ts
  lib/content-services/src/lib/document-list/services/folder-actions.service.spec.ts
  lib/content-services/src/lib/document-list/services/node-actions.service.spec.ts
  lib/content-services/src/lib/permission-manager/services/node-permission-dialog.service.spec.ts
  lib/content-services/src/lib/tag/tag-list.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/viewer/components/viewer.component.ts
Due: prettier --write, eslint

move path parse to extern helper class
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.ts
Due: prettier --write, eslint

AAE-21946 Support JSON paths with non-standard characters for data ta… (#9571)
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.ts
  lib/process-services-cloud/src/lib/form/mocks/data-table-widget.mock.ts
Due: prettier --write, eslint

remove useless translate imports from tests [ci:force]
  lib/process-services-cloud/src/lib/group/services/identity-group.service.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/services/identity-user.service.spec.ts
  lib/process-services-cloud/src/lib/pipes/process-name-cloud.pipe.spec.ts
  lib/process-services-cloud/src/lib/process/directives/cancel-process.directive.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filter-dialog-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/services/process-filter-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/services/notification-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/services/user-preference-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/directives/claim-task-cloud.directive.spec.ts
  lib/process-services-cloud/src/lib/task/directives/complete-task.directive.spec.ts
  lib/process-services-cloud/src/lib/task/directives/unclaim-task-cloud.directive.spec.ts
  lib/process-services-cloud/src/lib/task/services/task-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/start-task/components/start-task-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/start-task/services/start-task-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-service-task-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/edit-task-filters/edit-task-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/service-task-filters-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filter-dialog/task-filter-dialog-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/service-task-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.spec.ts
  lib/process-services/src/lib/app-list/apps-list.component.spec.ts
  lib/process-services/src/lib/app-list/select-apps-dialog.component.spec.ts
Due: prettier --write, eslint

remove useless translate imports from tests [ci:force]
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/core/src/lib/auth/services/identity-group.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-mapitem/card-view-mapitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/clipboard/clipboard.directive.spec.ts
  lib/core/src/lib/clipboard/clipboard.service.spec.ts
  lib/core/src/lib/comments/comment-list/comment-list.component.spec.ts
  lib/core/src/lib/comments/comments.component.spec.ts
  lib/core/src/lib/common/services/directionality-config.service.spec.ts
  lib/core/src/lib/common/services/storage.service.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
  lib/core/src/lib/context-menu/context-menu-overlay.service.spec.ts
  lib/core/src/lib/context-menu/context-menu.spec.ts
  lib/core/src/lib/datatable/components/columns-selector/columns-selector.component.spec.ts
  lib/core/src/lib/datatable/components/empty-list/empty-list.component.spec.ts
  lib/core/src/lib/datatable/data-column/data-column.component.spec.ts
  lib/core/src/lib/datatable/directives/header-filter-template.directive.spec.ts
  lib/core/src/lib/datatable/directives/loading-template.directive.spec.ts
  lib/core/src/lib/datatable/directives/no-content-template.directive.spec.ts
  lib/core/src/lib/datatable/directives/no-permission-template.directive.spec.ts
Due: prettier --write, eslint

remove useless translate imports from tests [ci:force]
  lib/process-services-cloud/src/lib/form/components/widgets/display-external-property/display-external-property.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/group/group-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/properties-viewer/properties-viewer-wrapper/properties-viewer.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/properties-viewer/properties-viewer.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/services/content-cloud-node-selector.service.spec.ts
  lib/process-services-cloud/src/lib/form/services/form-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/form/services/form-definition-selector-cloud.service.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-filters/components/task-assignment-filter/task-assignment-filter.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/services/task-list-cloud.service.spec.ts
  lib/process-services/src/lib/form/widgets/dynamic-table/editors/dropdown/dropdown.editor.spec.ts
Due: prettier --write, eslint
