Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

refactor: implement OnDestroy lifecycle hook in SearchTextInputComponent
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint

[ACS-9106] Fix formatting
  lib/core/src/lib/datatable/data-column/data-column.component.spec.ts
Due: prettier --write, eslint

refactor: replace pdfjsViewer.EventBus with a custom EventBusMock in PdfThumbListComponent tests
  lib/core/viewer/pdf/src/lib/components/pdf-viewer-thumbnails/pdf-viewer-thumbnails.component.spec.ts
Due: prettier --write, eslint

[ACS-8468] Revert to double click functionality
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
Due: prettier --write, eslint

[ACS-9106] Remove the declaration of fixture outside it
  lib/core/src/lib/datatable/data-column/data-column.component.spec.ts
Due: prettier --write, eslint

chore: update webpack version to 5.105.0 in pnpm-workspace.yaml
  lib/stories/project.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: correct import path for rootMain in Storybook configuration
  lib/stories/.storybook/main.ts
Due: prettier --write, eslint

fix: ensure proper error handling in AdfHttpClient tests
  lib/core/api/src/lib/adf-http-client.service.spec.ts
Due: prettier --write, eslint

[ACS-8468] Make copy button toggable and make it icon
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-item-dispatcher/card-view-item-dispatcher.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.html
  lib/core/src/lib/card-view/components/card-view/card-view.component.ts
Due: prettier --write, eslint

[ACS-8468] Add unit test for copy icons
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint

[ACS-8468] Add unit test for mat registry
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint

chore(core): add context-menu storybook showcase and material-style notes
  lib/core/src/lib/context-menu/context-menu-list.component.html
  lib/core/src/lib/context-menu/context-menu-list.component.scss
  lib/core/src/lib/context-menu/context-menu-list.component.stories.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8630] - Removing mat-selectors elements
  lib/content-services/src/lib/mat-selectors.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/mat-selectors.scss
Due: prettier --write, stylelint --fix

[ACS-8630] - Replacing mat-icon elements
  lib/content-services/src/lib/mat-selectors.scss
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.html
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/layout/components/sidenav-layout/sidenav-layout.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.scss
  lib/process-services/src/lib/styles/mat-selectors.scss
Due: prettier --write, stylelint --fix

[ACS-8630] - Removing mat-selectors - part II
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
  lib/content-services/src/lib/mat-selectors.scss
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.html
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.scss
  lib/insights/src/lib/analytics-process/mat-selectors.scss
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.scss
  lib/process-services/src/lib/form/start-form/start-form.component.scss
  lib/process-services/src/lib/styles/mat-selectors.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
Due: prettier --write, stylelint --fix

[ACS-8630] - Removing mat-selectors - part 3 - starting replacement
  lib/content-services/src/lib/search/components/search-filter-tabbed/search-filter-tabbed.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/process-services/src/lib/form/start-form/start-form.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.scss
Due: prettier --write, stylelint --fix

[ACS-8630] - Removing mat-selectors
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services/src/lib/app-list/apps-list.component.html
  lib/process-services/src/lib/app-list/apps-list.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.scss
  lib/process-services/src/lib/styles/mat-selectors.scss
Due: prettier --write, stylelint --fix

chore(core): add context-menu storybook showcase and material-style notes (#12084)
  lib/core/src/lib/context-menu/context-menu-list.component.html
  lib/core/src/lib/context-menu/context-menu-list.component.scss
  lib/core/src/lib/context-menu/context-menu-list.component.stories.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-9106] Make the descendants false iin data column component (#12077)
  lib/core/src/lib/datatable/data-column/data-column.component.spec.ts
  lib/core/src/lib/datatable/data-column/data-column.component.ts
Due: prettier --write, eslint

[ACS-8468] Remove deprecated component
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8468] Align the styling with dropdown menu
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8468] Fix sonar cloud issue
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
Due: prettier --write, stylelint --fix

[ACS-8468] Remove deprecated component
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint

chore(search): add disableAnimations input and update styles for search button transitions
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/core/src/lib/search-text/search-text-input.component.spec.ts
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint, stylelint --fix

chore(search): add disableAnimations input and update styles for search button transitions (#12087)
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/core/src/lib/search-text/search-text-input.component.spec.ts
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8467] Removed duplicated dialog after clicking label in folder rules creation dialog (#12088)
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint

[ACS-8468] Remove svg icon and use material icon
  lib/core/src/lib/assets/images/copy.svg
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.scss
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint, stylelint --fix

fix: allow other events to call preventDefault
  lib/core/src/lib/auth/session-timeout/idle-activity-tracker.spec.ts
  lib/core/src/lib/auth/session-timeout/idle-activity-tracker.ts
Due: prettier --write, eslint

fix: allow other events to call preventDefault (#12089)
  lib/core/src/lib/auth/session-timeout/idle-activity-tracker.spec.ts
  lib/core/src/lib/auth/session-timeout/idle-activity-tracker.ts
Due: prettier --write, eslint

AAE-48934 bump fast-uri version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

AAE-48934 bump fast-uri version (#12093)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

AAE-48934 bump svgo axios and adm-zip versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

cr
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

AAE-48934 Bump "svgo" "axios" and "adm-zip" versions (#12096)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump @angular-devkit/build-angular (addresses http-proxy-middleware)
  package.json
  pnpm-lock.yaml
Due: none

Bump @angular-devkit/schematics
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @angular-devkit/core and @schematics/angular to version 20.3.32
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint --fix: any of: *.{css,scss}
