Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

[AAE-21084] Fix e2e Content: Upload and Versioning - C279992 - fix enable togle selector
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the return of the fail
  lib/testing/src/lib/protractor/process-services-cloud/pages/form/widget/attach-file-widget-cloud.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the long painful journey
  demo-shell/src/app.config.json
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/core/pages/metadata-view.page.ts
  e2e/process-services/pages/process-service-tab-bar.page.ts
  e2e/search/components/search-slider.e2e.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.spec.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-slider.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing rebase
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/process-services-cloud/src/lib/form/services/display-mode.service.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed lint
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
Due: prettier --write, eslint

Rebased to the latest
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
  lib/process-services-cloud/package.json
  package.json
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - fixing the last ones
  e2e/process-services-cloud/form-field/dropdown-widget.e2e.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
Due: prettier --write, eslint

[ACS-7414] - Manage versions dialog
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.html
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[AAE-21083] Fix e2e Content: Metadata - C245652 - fix tab active selector
  lib/testing/src/lib/protractor/core/pages/viewer.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing rebase
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/services/display-mode.service.spec.ts
  lib/process-services-cloud/tsconfig.spec.json
Due: prettier --write, eslint

[affected:*][ci:force] Fixed lint after error on important
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

[ACS-7452] - Small screen notification banner [ACS-7418] About page (#9507)
  lib/core/src/lib/about/about-package/package-list.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.scss
  lib/core/src/lib/about/about-repository-info/about-repository-info.component.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.scss
  lib/core/src/lib/styles/_components-variables.scss
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] Fixed e2e with new notation
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the long painful journey - part II
  e2e/process-services/pages/process-service-tab-bar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7375] - Share link dialog issues
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
Due: prettier --write, stylelint

Re Enabling unit test removed
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

Fixing unit test after last rebase + lint
  lib/process-services-cloud/src/lib/common/date-range-filter/date-range-filter.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[ACS-7359] - Angular 15 - Edit aspects modal [ACA] (#9488)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[AAE-21085] Fix e2e Search - add content selector that wrap text
  e2e/search/pages/search-bar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] [AAE-21070] Fix e2e Content: Components - C587084 - fix class selectors
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7533] - Advanced search chips dropdowns (#9618)
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range-tabbed.component.ts
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.html
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-menu-card/search-filter-menu-card.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.ts
  lib/content-services/src/lib/search/components/search-filter-tabbed/search-filter-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.html
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7519] - Login page (#9565)
  lib/core/src/lib/login/components/login/login.component.html
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.spec.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-8008] - Inputs for properties panel "General info" (#9744)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
Due: prettier --write, stylelint

AAE-21937 Fix context menu list component (#9658)
  lib/core/src/lib/context-menu/context-menu-list.component.html
Due: none

Fixed unit test for process
  lib/process-services/src/lib/app-list/apps-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/process-user-info/process-user-info.component.spec.ts
Due: prettier --write, eslint

Fixed SonarCloud complaints
  lib/content-services/src/lib/search/components/search-chip-list/search-chip-list.component.html
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
Due: prettier --write, stylelint

AAE-21393 Fix amount form widget style (#9601)
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/core/src/lib/form/components/widgets/amount/amount.widget.scss
Due: prettier --write, stylelint

[ACS-7572] link rules dialog fixes (#9607)
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.html
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7534] create/edit folder dialog fixes (#9575)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.ts
Due: prettier --write, eslint, stylelint

fix FolderEditDirective unit tests
  lib/content-services/src/lib/folder-directive/folder-edit.directive.spec.ts
  lib/content-services/src/lib/folder-directive/folder-edit.directive.ts
Due: prettier --write, eslint

Rebased to the latest develop
  package-lock.json
Due: none

[ACS-7999] Fix inputs for edit and create folder (#9713)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7531] - Search page (#9606)
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.html
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.scss
  lib/content-services/src/lib/search/components/search-form/search-form.component.html
  lib/content-services/src/lib/search/components/search-form/search-form.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Sync lock
  package-lock.json
Due: none

Updated calendar selector
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7414] - manage versions dialog (#9545)
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

AAE-21392 Fix dropdown form widget style (#9605)
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

[ACS-7419] Fix broken styling of notifications, apply pr remarks
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[ACS-8052] Inputs for general info for libraries (#9745)
  lib/core/src/lib/info-drawer/info-drawer.component.scss
Due: prettier --write, stylelint

Rebased to the latest
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
Due: prettier --write, stylelint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
