Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

chore: cleanup task details component
  lib/process-services/src/lib/task-list/components/task-header.component.ts
Due: prettier --write, eslint

remove unused assets [ci:force]
  assets/alfresco-app-dev-framework-architecture.png
  assets/alfresco.png
Due: none

update docs
  docs/content-services/components/add-permission-dialog.component.md
Due: none

chore: cleanup demo shell [ci:force]
  demo-shell/src/app/components/form/form.component.html
  demo-shell/src/app/components/form/form.component.ts
Due: prettier --write, eslint

chore: cleanup task details component
  lib/process-services/src/lib/task-list/components/task-details.component.html
  lib/process-services/src/lib/task-list/components/task-details.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-details.component.ts
Due: prettier --write, eslint

remove old tslint, update the docs [ci:force]
  CONTRIBUTING.md
  lib/cli/scripts/licenses.ts
  tools/tslint-rules/.gitignore
  tools/tslint-rules/.npmignore
  tools/tslint-rules/README.md
  tools/tslint-rules/adfClassNameRule.js
  tools/tslint-rules/adfClassNameRule.ts
  tools/tslint-rules/adfFileNameRule.js
  tools/tslint-rules/adfFileNameRule.ts
  tools/tslint-rules/adfPrefixNameRule.js
  tools/tslint-rules/adfPrefixNameRule.ts
  tools/tslint-rules/index.js
  tools/tslint-rules/index.ts
  tools/tslint-rules/package-lock.json
  tools/tslint-rules/package.json
  tools/tslint-rules/tsconfig.json
  tools/tslint-rules/tslint.json
Due: prettier --write, eslint

update docs [ci:force]
  docs/content-services/components/add-permission-dialog.component.md
  docs/content-services/components/aspect-list.component.md
Due: none

chore: cleanup task details component
  lib/process-services/src/lib/task-list/components/task-header.component.ts
  lib/process-services/src/lib/task-list/components/task-list.component.html
Due: prettier --write, eslint

chore: improved template
  lib/process-services/src/lib/task-list/components/task-list.component.html
Due: none

reformat with prettier, remove unused ids
  demo-shell/src/app/components/files/files.component.html
  lib/process-services/src/lib/task-list/components/task-list.component.html
Due: none

[ACS-7381] tests fixes
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-list/components/process-list-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-list/components/task-list-cloud.component.spec.ts
Due: prettier --write, eslint

MNT-24354 fix lint [ci:force]
  lib/content-services/src/lib/content-metadata/services/config/aspect-oriented-config.service.spec.ts
Due: prettier --write, eslint

MNT-24354 update license header in process-services [ci:force]
  lib/process-services/src/lib/form/services/index.ts
Due: prettier --write, eslint

[ACS-7381] tests fixes
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

AAE-22407 Update simpleapp process var
  e2e/resources/activiti7/simpleapp.zip
  lib/testing/src/lib/protractor/process-services-cloud/resources/resources.ts
Due: prettier --write, eslint

AAE-22407 Update simpleapp process var (#9659)
  e2e/resources/activiti7/simpleapp.zip
  lib/testing/src/lib/protractor/process-services-cloud/resources/resources.ts
Due: prettier --write, eslint

improve data table widget mocks
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-widget.mock.ts
Due: prettier --write, eslint

improve object datatable adapter unit tests
  lib/core/src/lib/datatable/data/mocks/object-datatable-adapter.mock.ts
  lib/core/src/lib/datatable/data/object-datatable-adapter.spec.ts
Due: prettier --write, eslint

AAE-21945 Support a nested object which is within an array in the JSON datasource
  lib/core/src/lib/datatable/data/mocks/object-datatable-adapter.mock.ts
  lib/core/src/lib/datatable/data/object-datatable-adapter.spec.ts
  lib/core/src/lib/datatable/data/object-datatable-adapter.ts
  lib/core/src/lib/datatable/helpers/data-table-path-parser.helper.spec.ts
  lib/core/src/lib/datatable/helpers/data-table-path-parser.helper.ts
  lib/core/src/lib/datatable/helpers/mocks/data-table-path-parser.helper.mock.ts
  lib/core/src/lib/datatable/public-api.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-widget.mock.ts
Due: prettier --write, eslint

improve mocks
  lib/core/src/lib/datatable/data/mocks/object-datatable-adapter.mock.ts
  lib/core/src/lib/datatable/data/object-datatable-adapter.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-widget.mock.ts
Due: prettier --write, eslint

[ACS-7381] tests fixes
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/data-table/data-table-item.ts
Due: prettier --write, eslint

[AAE-21566] Add spinner event in process form
  lib/core/src/lib/auth/guard/auth-guard-base.ts
  lib/core/src/lib/common/services/storage.service.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/form/events/form-spinner.event.ts
  lib/core/src/lib/form/models/form-rules.model.ts
  lib/core/src/lib/form/services/form.service.ts
  lib/core/src/lib/pipes/time-ago.pipe.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.html
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.scss
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.ts
  lib/process-services-cloud/src/lib/form/form-cloud.module.ts
  lib/process-services-cloud/src/lib/form/services/spinner/form-cloud-spinner.service.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/services/notification-cloud.service.ts
Due: prettier --write, eslint, stylelint

added test for spinner service
  lib/process-services-cloud/src/lib/form/services/spinner/form-cloud-spinner.service.spec.ts
  lib/process-services-cloud/src/lib/form/services/spinner/form-cloud-spinner.service.ts
Due: prettier --write, eslint

CR
  lib/core/src/lib/auth/guard/auth-guard-base.ts
  lib/core/src/lib/common/services/storage.service.ts
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.html
  lib/process-services-cloud/src/lib/form/services/spinner/form-cloud-spinner.service.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/services/notification-cloud.service.ts
Due: prettier --write, eslint

CR
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
Due: prettier --write, eslint

[ACS-7381] tests fixes
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/data-table/column.ts
Due: prettier --write, eslint

modify data table widget adapter instead of core object data table adapter
  lib/core/src/lib/datatable/data/object-datatable-adapter.spec.ts
  lib/core/src/lib/datatable/data/object-datatable-adapter.ts
  lib/core/src/lib/datatable/public-api.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table-adapter.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table-adapter.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/mocks/data-table-path-parser.helper.mock.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-adapter.mock.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-widget.mock.ts
Due: prettier --write, eslint

revert not needed changes
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-path-parser.helper.mock.ts
Due: prettier --write, eslint

fix unit test
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
Due: prettier --write, eslint

fix lint
  lib/core/src/lib/form/events/form-spinner.event.ts
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.ts
  lib/process-services-cloud/src/lib/form/services/spinner/form-cloud-spinner.service.spec.ts
  lib/process-services-cloud/src/lib/form/services/spinner/form-cloud-spinner.service.ts
Due: prettier --write, eslint

Modifying the CSS selector to exclude columns associated with multiselect functionality restores the resizing capability
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

improve method name
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table-adapter.widget.ts
Due: prettier --write, eslint

AAE-21566 Handling new form event - show spinner (#9656)
  lib/core/src/lib/auth/guard/auth-guard-base.ts
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/form/events/form-spinner.event.ts
  lib/core/src/lib/form/models/form-rules.model.ts
  lib/core/src/lib/form/services/form.service.ts
  lib/core/src/lib/pipes/time-ago.pipe.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.html
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.scss
  lib/process-services-cloud/src/lib/form/components/spinner/form-spinner.component.ts
  lib/process-services-cloud/src/lib/form/form-cloud.module.ts
  lib/process-services-cloud/src/lib/form/services/spinner/form-cloud-spinner.service.spec.ts
  lib/process-services-cloud/src/lib/form/services/spinner/form-cloud-spinner.service.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/services/notification-cloud.service.ts
Due: prettier --write, eslint, stylelint

remove automatic lint changes
  lib/core/src/lib/datatable/data/object-datatable-adapter.spec.ts
  lib/core/src/lib/datatable/public-api.ts
Due: prettier --write, eslint

AAE-21945 Support a nested object which is within an array in the JSO… (#9635)
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table-adapter.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table-adapter.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-adapter.mock.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-path-parser.helper.mock.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-widget.mock.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
