Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[MIGRATION] - Updating outdated packages
  .storybook/preview.js
  lib/content-services/.storybook/preview.js
  lib/core/.storybook/preview.js
  lib/process-services-cloud/.storybook/preview.js
  lib/stories/.storybook/preview.js
  migrations.json
  package-lock.json
  package.json
  storybook-migration-summary.md
Due: prettier --write, eslint

Rebased with lastest changes
  package-lock.json
Due: none

[MIGRATION] - Rebased to latest
  package-lock.json
Due: none

[MIGRATION] - Fixed lint
  lib/core/src/lib/auth/guard/auth-guard-base.ts
  lib/extensions/src/lib/services/extension.service.ts
Due: prettier --write, eslint

[MIGRATION] - check to update the script
  .github/workflows/pull-request.yml
  .github/workflows/release-branch.yml
  scripts/github/affected-contains.sh
Due: none

[MIGRATION] - fixed schematics build
  lib/core/project.json
  lib/core/tsconfig.schematics.json
Due: none

[MIGRATION] - rebased after the move of AlfrescoApiService
  lib/core/project.json
  lib/core/schematics/migrations/collection.json
  lib/core/tsconfig.nx.migrations.json
  lib/core/tsconfig.schematics.json
  lib/js-api/tsconfig.json
  nx.json
Due: none

[MIGRATION] - the lesson is : do not change what is already working
  lib/js-api/tsconfig.json
Due: none

Rebased to latestp
  package-lock.json
  package.json
Due: none

[MIGRATION] - Fixed package version
  package-lock.json
  package.json
Due: none

Fixed white background issue in sidenav after ng16 upgrade (#10207)
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

Updating dependencies
  package-lock.json
  package.json
Due: none

Removed fallback and starting using simple token
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/testing/noop-auth.module.ts
Due: prettier --write, eslint

Fixed unit tests for insights
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint

[MIGRATION] fix header background color not being read from input prop
  lib/core/src/lib/layout/components/header/header.component.scss
Due: prettier --write, stylelint --fix

Fixed style for collaborators
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.scss
Due: prettier --write, stylelint --fix

Fixed subject complete to avoid calling a reset event when complete
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/search-text/search-text-input.component.ts
Due: prettier --write, eslint

Trying to fix JWT token issue
  lib/core/src/lib/auth/oidc/auth.module.ts
Due: prettier --write, eslint

Fixed unit tests for insights
  lib/insights/src/lib/testing/insights.testing.module.ts
Due: prettier --write, eslint

Added fallback for JWT token
  lib/core/src/lib/auth/oidc/auth.module.ts
Due: prettier --write, eslint

Added fallback for JWT token
  lib/core/src/lib/auth/services/jwt-helper.service.ts
Due: prettier --write, eslint

fixed permission row height
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
Due: prettier --write, eslint, stylelint --fix

Added fallback for injection
  lib/core/src/lib/auth/services/jwt-helper.service.ts
Due: prettier --write, eslint

[ACS-8749] View More tags button no longer shows when all tags are removed from a node (#10285)
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
Due: prettier --write, eslint

AAE-26037 Moved permissions role selector styles to a dedicated file (#10297)
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.scss
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8741] Sidenav text for Process and Task filters is now grey (#10284)
  lib/process-services/src/lib/process-list/components/process-filters/process-filters.component.scss
  lib/process-services/src/lib/task-list/components/task-filters/task-filters.component.scss
Due: prettier --write, stylelint --fix

Fixed unit tests
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/translation/translate-loader.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
Due: prettier --write, eslint

Writing should use the same calss as reading
  lib/core/src/lib/auth/oidc/auth.module.ts
  lib/core/src/lib/translation/translate-loader.spec.ts
Due: prettier --write, eslint

Rebased
  package-lock.json
Due: none

AAE-26163 Fix infinite loop when authentication error event occured (#10272)
  lib/core/src/lib/auth/oidc/auth.module.ts
Due: prettier --write, eslint

Removed fallback and starting using simple token
  lib/core/src/lib/auth/services/jwt-helper.service.ts
Due: prettier --write, eslint

custom theme missing sidenav color
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

Fixed related unit test
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/testing/process-service-cloud.testing.module.ts
Due: prettier --write, eslint

fix filter subscript overlapping dropdown items
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.html
Due: none

Fixed unit tests
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/oidc/oidc-authentication.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/translation/translate-loader.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
Due: prettier --write, eslint

Fixed related unit test
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/oidc/oidc-authentication.service.spec.ts
  lib/core/src/lib/auth/services/jwt-helper.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
Due: prettier --write, eslint

Fix package version after release
  package-lock.json
  package.json
Due: none

Thanks apollo deps
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
Due: none

Fixed build
  lib/process-services-cloud/package-lock.json
  package-lock.json
  package.json
Due: none

Fixes after CR (#10202)
  .github/workflows/release-branch.yml
  docs/release-notes/RelNote410.md
  docs/release-notes/RelNote420.md
  docs/release-notes/RelNote430.md
  e2e/resources/adf/allFileTypes/documents/text/a_vsd_file.vsd
  e2e/resources/adf/allFileTypes/documents/word/a_dotx_file.dotx
  e2e/resources/adf/allFileTypes/documents/word/a_sxw_file.sxw
  package-lock.json
  package.json
Due: none
