Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

Clean up card view text item and select filter
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
Due: prettier --write, stylelint --fix

Review styles after rebase
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
Due: prettier --write, stylelint --fix

fix(eslint): change @typescript-eslint/prefer-optional-chain rule from error to warn
  .eslintrc.js
Due: prettier --write, eslint

fix(eslint): disable no-explicit-any rule and refactor LogicalSearchCondition type
  .eslintrc.js
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.ts
Due: prettier --write, eslint

CSX-204 Update card view components (#11358)
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
Due: prettier --write, stylelint --fix

[ACS-10280]: migrate to conditional aria-hidden
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
Due: prettier --write, eslint

AAE-43710 CR
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.stories.ts
Due: prettier --write, eslint

[ACS-10280]: revert to fix hxp
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[ACS-10280]: sonar fix
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

AAE-43710 Fix form field spacing misalignments (#11763)
  lib/core/src/lib/form/components/widgets/amount/amount.widget.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/decimal/decimal.component.scss
  lib/core/src/lib/form/components/widgets/number/number.widget.scss
  lib/core/src/lib/form/components/widgets/text/text.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.scss
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.stories.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-10242] SR: Personal files: Filter by Size popup announces entire content instead of dialog title
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.html
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.scss
Due: prettier --write, stylelint --fix

[ACS-10280] Use new Angular control flow syntax
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

[ACS-10280] Unit test fix
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

AAE-21162 Add deploymentCompletion property to ApplicationInstance model
  lib/process-services-cloud/src/lib/app/models/application-instance.model.ts
Due: prettier --write, eslint

AAE-21162 Add deploymentCompletion property to ApplicationInstance model (#11784)
  lib/process-services-cloud/src/lib/app/models/application-instance.model.ts
Due: prettier --write, eslint

[MNT-25635] Search filter autocomplete search for tags when input changes
  lib/content-services/src/lib/search/components/search-filter-autocomplete-chips/search-filter-autocomplete-chips.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-autocomplete-chips/search-filter-autocomplete-chips.component.ts
Due: prettier --write, eslint

[MNT-25635] Search filter autocomplete search for tags when input changes (#11780)
  lib/content-services/src/lib/search/components/search-filter-autocomplete-chips/search-filter-autocomplete-chips.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-autocomplete-chips/search-filter-autocomplete-chips.component.ts
Due: prettier --write, eslint

[ACS-10280]: Keyboard Navigation: Search: Unnecessary stops in the results table using the Tab key (#11736)
  lib/content-services/src/lib/document-list/data/share-datatable-adapter.spec.ts
  lib/content-services/src/lib/document-list/data/share-datatable-adapter.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
  lib/core/src/lib/datatable/data/datatable-adapter.ts
  lib/core/src/lib/i18n/en.json
Due: prettier --write, eslint

[ACS-10242] SR: Personal files: Filter by Size popup announces entire content instead of dialog title
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.html
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.spec.ts
Due: prettier --write, eslint

[AAE-43749] pipe use default date format reacting to locale
  lib/core/src/lib/pipes/time-ago.pipe.spec.ts
  lib/core/src/lib/pipes/time-ago.pipe.ts
Due: prettier --write, eslint

[AAE-43749] added date formatting according to locale
  lib/core/src/lib/pipes/time-ago.pipe.spec.ts
  lib/core/src/lib/pipes/time-ago.pipe.ts
Due: prettier --write, eslint

[AAE-43749] applied pr comments
  lib/core/src/lib/pipes/time-ago.pipe.spec.ts
  lib/core/src/lib/pipes/time-ago.pipe.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

AAE-43749 Added date formatting according to locale (#11769)
  lib/core/src/lib/pipes/time-ago.pipe.spec.ts
  lib/core/src/lib/pipes/time-ago.pipe.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action (#11787)
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

[ACS-10242] SR: Personal files: Filter by Size popup announces entire content instead of dialog title (#11782)
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.html
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.scss
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.spec.ts
Due: prettier --write, eslint, stylelint --fix

Apply Copilot review suggestions.
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

AAE-28918 Fix start process button is enabled when required widgets are read only without value
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

revert change made earlier
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

updates after code review comments
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

AAE-28918 Fix for start process button is enabled when required widgets are read only without value (#11781)
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

AAE-40741 Form rule `Validate form` doesn't do anything
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.ts
  lib/core/src/lib/form/components/widgets/widget.component.spec.ts
  lib/core/src/lib/form/components/widgets/widget.component.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.spec.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.ts
Due: prettier --write, eslint

AAE-40741 Addressing Copilot comment
  lib/core/src/lib/form/components/widgets/widget.component.ts
Due: prettier --write, eslint

AAE-40741 Form rule `Validate form` doesn't do anything (#11788)
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.ts
  lib/core/src/lib/form/components/widgets/widget.component.spec.ts
  lib/core/src/lib/form/components/widgets/widget.component.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.spec.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.ts
Due: prettier --write, eslint

AAE-44002 Allow user input for date and datetime fields
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.ts
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
Due: prettier --write, eslint

AAE-44002 Allow user input for date and datetime fields (#11791)
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.ts
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
Due: prettier --write, eslint

AAE-44086 Unify styling and coloring of errors in forms
  lib/core/src/lib/form/components/widgets/error/error.component.scss
Due: prettier --write, stylelint --fix

AAE-44086 Remove fallbacks
  lib/core/src/lib/form/components/widgets/error/error.component.scss
Due: prettier --write, stylelint --fix

AAE-44086 Unify styling and coloring of errors in forms (#11797)
  lib/core/src/lib/form/components/widgets/error/error.component.scss
Due: prettier --write, stylelint --fix

CSX-535 Update background color on readonly for card view selectitem
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
Due: prettier --write, stylelint --fix
