Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Ehi Js-Api should be 7.8 NOT 7.9
  lib/js-api/package.json
Due: none

[ACS-7359] - Angular 15 - Edit aspects modal [ACA] (#9488)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-8026] Fixed task form rendering (#9742)
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/error/error.component.html
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/core/src/lib/styles/material.theme.scss
  lib/process-services/src/lib/form/form.component.html
  lib/process-services/src/lib/form/form.component.scss
  lib/process-services/src/lib/form/form.component.ts
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-folder-widget.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.html
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
Due: prettier --write, eslint, stylelint

Fixed package json
  lib/js-api/package.json
  lib/testing/package-lock.json
Due: none

[affected:*][ci:force] Fixing rebase
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/process-services-cloud/src/lib/form/services/display-mode.service.spec.ts
Due: prettier --write, eslint

Fixed after rebase
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.spec.ts
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint

[ACS-7419] Fix broken styling of notifications, apply pr remarks
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

fixig e2es
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
Due: prettier --write, eslint

Uppercase for tabs - missed some tests
  e2e/process-services-cloud/task-list/task-form-cloud-component-tab.e2e.ts
  e2e/process-services/tasks/task-details-form.e2e.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the return of the fail
  lib/testing/src/lib/protractor/core/pages/form/widgets/dropdown-widget.page.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/form/widget/attach-file-widget-cloud.page.ts
Due: prettier --write, eslint

[ACS-7983] Fixed security controls dialog (#9747)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[ACS-7414] - Manage versions dialog
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.html
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Upgrading material selector class
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata-header.component.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.html
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.scss
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/form/components/widgets/text/text.widget.scss
  lib/core/src/lib/identity-user-info/identity-user-info.component.html
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/login/components/login.component.html
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/extensions/src/lib/components/dynamic-column/dynamic-column.component.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filter-dialog-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filter-dialog/task-filter-dialog-cloud.component.html
  lib/process-services/src/lib/form/start-form/start-form.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/form/widgets/people/people.widget.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
  lib/process-services/src/lib/task-list/components/task-details/task-details.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint, stylelint

Rebased ADF Migration PR
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/core/src/lib/about/about-github-link/about-github-link.component.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
Due: prettier --write, eslint, stylelint

[ACS-7413] Dialog height and spacing issues (#9515)
  lib/content-services/src/lib/dialogs/confirm.dialog.html
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
Due: prettier --write, stylelint

Fixed unit test
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
Due: prettier --write, eslint

Removed wrong version on core package
  lib/core/package.json
Due: none

[ACS-7532] - Click on chip in search gives redundant icon (#9544)
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: none

[AAE-21089] Fix e2e Search - fix checkbox selector
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

[ACS-8042] Fixed styles for inputs in library creation (#9751)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

fixed unit test problem and some other e2e
  e2e/process-services-cloud/form-field/task-visibility-condition.e2e.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.html
  lib/testing/src/lib/protractor/core/pages/form/widgets/dynamic-table-widget.page.ts
Due: prettier --write, eslint

Fixing styles not migrated by material
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/process-user-info/process-user-info.component.scss
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
  lib/process-services/src/lib/task-list/components/task-details/task-details.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
  lib/process-services/src/lib/task-list/components/task-standalone/task-standalone.component.scss
Due: prettier --write, stylelint

[AAE-21085] Fix e2e Search - revert to previous version, text should be written without pressing eneter to show the autocomplete list items
  e2e/search/search-component.e2e.ts
Due: prettier --write, eslint

[ACS-7555] column filters (#9576)
  lib/content-services/src/lib/search/components/search-check-list/search-check-list.component.scss
  lib/content-services/src/lib/search/components/search-filter-container/search-filter-container.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Sync lock
  package-lock.json
Due: none

[affected:*][ci:force] Fixed check on expansion panel filter
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

AAE-22783 Fix form elements label style (#9725)
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
  lib/content-services/src/lib/aspect-list/services/aspect-list.service.spec.ts
  lib/content-services/src/lib/category/services/category-tree-datasource.service.spec.ts
  lib/content-services/src/lib/category/services/category.service.spec.ts
  lib/content-services/src/lib/common/services/content.service.spec.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.spec.ts
  lib/content-services/src/lib/dialogs/category-selector.dialog.spec.ts
  lib/content-services/src/lib/dialogs/download-zip/download-zip.dialog.spec.ts
  lib/content-services/src/lib/directives/check-allowable-operation.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/library-membership.directive.spec.ts
  lib/content-services/src/lib/directives/node-delete.directive.spec.ts
  lib/content-services/src/lib/directives/node-download.directive.spec.ts
  lib/content-services/src/lib/directives/node-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-restore.directive.spec.ts
  lib/content-services/src/lib/document-list/components/file-auto-download/file-auto-download.component.spec.ts
  lib/content-services/src/lib/document-list/services/lock.service.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.service.spec.ts
  lib/content-services/src/lib/node-comments/services/node-comments.service.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
  lib/content-services/src/lib/search/services/search.service.spec.ts
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/content-services/src/lib/tree/services/tree.service.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.directive.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.service.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[ACS-7519] - Login page (#9565)
  lib/core/src/lib/login/components/login/login.component.html
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/login/components/login/login.component.spec.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

Fixing e2e part 2
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
Due: prettier --write, eslint

[ACS-7533] - Advanced search chips dropdowns (#9618)
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range-tabbed.component.ts
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.html
  lib/content-services/src/lib/search/components/search-date-range-tabbed/search-date-range/search-date-range.component.scss
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.html
  lib/content-services/src/lib/search/components/search-facet-field/search-facet-field.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip-tabbed/search-facet-chip-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-menu-card/search-filter-menu-card.component.scss
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.ts
  lib/content-services/src/lib/search/components/search-filter-tabbed/search-filter-tabbed.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.html
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/content-services/src/lib/search/components/search-text/search-text.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

Fixed slider search e2es
  e2e/search/components/search-slider.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/testing/src/lib/protractor/content-services/pages/search/search-categories.page.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-slider.page.ts
Due: prettier --write, eslint

Extra parentesys lint
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

Building testing package
  lib/testing/project.json
Due: none

Updated today date selector
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the eternal fail
  lib/testing/src/lib/protractor/core/pages/form/widgets/dropdown-widget.page.ts
Due: prettier --write, eslint

remaining unit test fixes for the Angular 15 update (#9218)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

[ACS-7534] create/edit folder dialog fixes (#9575)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.ts
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] - Fixed problem after rebase
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/dialogs/folder.dialog.spec.ts
  lib/core/src/lib/directives/infinite-select-scroll.directive.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-mapitem/card-view-mapitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/select-filter-input/select-filter-input.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view/card-view.component.spec.ts
  lib/core/src/lib/clipboard/clipboard.directive.spec.ts
  lib/core/src/lib/clipboard/clipboard.service.spec.ts
  lib/core/src/lib/comments/comment-list/comment-list.component.spec.ts
  lib/core/src/lib/comments/comments.component.spec.ts
  lib/core/src/lib/common/services/directionality-config.service.spec.ts
  lib/core/src/lib/common/services/storage.service.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
  lib/core/src/lib/testing/core.testing.module.ts
Due: prettier --write, eslint, stylelint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
