Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
  lib/content-services/src/lib/aspect-list/services/aspect-list.service.spec.ts
  lib/content-services/src/lib/category/services/category-tree-datasource.service.spec.ts
  lib/content-services/src/lib/category/services/category.service.spec.ts
  lib/content-services/src/lib/common/services/content.service.spec.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.spec.ts
  lib/content-services/src/lib/dialogs/category-selector.dialog.spec.ts
  lib/content-services/src/lib/dialogs/download-zip/download-zip.dialog.spec.ts
  lib/content-services/src/lib/directives/check-allowable-operation.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/library-membership.directive.spec.ts
  lib/content-services/src/lib/directives/node-delete.directive.spec.ts
  lib/content-services/src/lib/directives/node-download.directive.spec.ts
  lib/content-services/src/lib/directives/node-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-restore.directive.spec.ts
  lib/content-services/src/lib/document-list/components/file-auto-download/file-auto-download.component.spec.ts
  lib/content-services/src/lib/document-list/services/lock.service.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.service.spec.ts
  lib/content-services/src/lib/node-comments/services/node-comments.service.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
  lib/content-services/src/lib/search/services/search.service.spec.ts
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/content-services/src/lib/tree/services/tree.service.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.directive.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.service.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed lint after error on important
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixed other e2es
  e2e/process-services/form/people-component.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/people-cloud-component.page.ts
Due: prettier --write, eslint

fix folder-edit license headers
  lib/content-services/src/lib/folder-directive/folder-edit.directive.spec.ts
  lib/content-services/src/lib/folder-directive/folder-edit.directive.ts
Due: prettier --write, eslint

Fixed unit tests after rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.scss
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] - REBASED
  lib/core/api/src/lib/adf-http-client.service.spec.ts
  lib/core/src/lib/about/about-github-link/about-github-link.component.spec.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-sso-role.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard.service.spec.ts
  lib/core/src/lib/auth/services/identity-group.service.spec.ts
  lib/core/src/lib/auth/services/identity-user.service.spec.ts
  lib/core/src/lib/auth/services/user-access.service.spec.ts
  lib/core/src/lib/buttons-menu/buttons-menu.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/process-services-cloud/src/lib/group/services/identity-group.service.spec.ts
Due: prettier --write, eslint

Rebased to latest
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
Due: none

AAE-21697 Fix people form widget style (#9555)
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing rebase
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/process-services-cloud/src/lib/form/services/display-mode.service.spec.ts
Due: prettier --write, eslint

[ACS-7572] link rules dialog fixes (#9607)
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.html
  lib/content-services/src/lib/breadcrumb/dropdown-breadcrumb.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[affected:*][ci:force] - Rebased
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  package-lock.json
Due: prettier --write, stylelint

Fixed last unit tests
  lib/process-services-cloud/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  package.json
Due: prettier --write, eslint

Fixed changed unit test
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

Fixed slider search e2es
  e2e/search/components/search-slider.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/testing/src/lib/protractor/content-services/pages/search/search-categories.page.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-slider.page.ts
Due: prettier --write, eslint

Extra parentesys lint
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
  e2e/process-services/widgets/checkbox-widget.e2e.ts
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

[affected:*][ci:force] Fixing rebase
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/services/display-mode.service.spec.ts
  lib/process-services-cloud/tsconfig.spec.json
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - fixing the last ones
  e2e/process-services-cloud/form-field/dropdown-widget.e2e.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/group-cloud-component.page.ts
Due: prettier --write, eslint

reverted broken rebase
  lib/testing/.browserslistrc
Due: none

[ACS-7373] mat-icon-buttons
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
Due: none

[ACS-7414] - manage versions dialog (#9545)
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
Due: prettier --write, stylelint

[ACS-7998] - Add permissions input (#9704)
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-dialog.component.scss
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.html
  lib/content-services/src/lib/permission-manager/components/add-permission/add-permission-panel.component.scss
Due: prettier --write, stylelint

remaining unit test fixes for the Angular 15 update (#9218)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/src/lib/form/start-form.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process.component.spec.ts
Due: prettier --write, eslint

[ACS-7999] Fix inputs for edit and create folder (#9713)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

rebased and fixed the wrong directive for matList'
  docs/content-services/components/search.component.md
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-control.component.html
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
  lib/content-services/src/lib/upload/components/file-uploading-list-row.component.html
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/insights/src/lib/analytics-process/components/analytics-report-list.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/upload-cloud.widget.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/upload/upload.widget.html
  lib/process-services/src/lib/process-list/components/process-instance-tasks.component.html
Due: prettier --write, eslint

Fix lint issue
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint

Rebased to latest
  package.json
Due: none

[affected:*][ci:force] Added pretheme for core as it is mandatory when publishing and rebuilding
  angular.json
  lib/core/project.json
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
Due: prettier --write, stylelint

Fixed a dependency problem
  package.json
Due: none

Fixed unit tests
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/services/property-descriptors.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/karma.conf.js
  lib/extensions/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

Building testing package
  lib/testing/project.json
Due: none

[ACS-8021] Inputs for comments (#9722)
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
Due: prettier --write, stylelint

readded missing dep
  package-lock.json
  package.json
Due: none

[ACS-7534] create/edit folder dialog fixes (#9575)
  lib/content-services/src/lib/dialogs/folder.dialog.html
  lib/content-services/src/lib/dialogs/folder.dialog.scss
  lib/content-services/src/lib/dialogs/folder.dialog.ts
Due: prettier --write, eslint, stylelint

Fixed prod build
  angular.json
  package.json
Due: none

[AAE-21084] Fix e2e Content: Upload and Versioning - C279992 - fix enable togle selector
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

[ACS-7542] - Upload new version dialog (#9572)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/upload/components/upload-button.component.html
  lib/content-services/src/lib/upload/components/upload-button.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.html
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint
