Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

[ACS-7535][ACS-7537][ACS-7536][ACA] Move/Copy dialogs, Share dialog, Aspects dialog (#9553)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7542] - Upload new version dialog (#9572)
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/upload/components/upload-button.component.html
  lib/content-services/src/lib/upload/components/upload-button.component.scss
  lib/content-services/src/lib/version-manager/version-upload.component.html
  lib/content-services/src/lib/version-manager/version-upload.component.scss
Due: prettier --write, stylelint

[ACS-7532] - Click on chip in search gives redundant icon (#9544)
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: none

[ACS-7528] - Notification and user icons are a bit different (#9540)
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

ACS-7561 - permissions page (#9675)
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
Due: prettier --write, stylelint

Fixed after rebase
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.spec.ts
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint

Fixed changed unit test
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

[ACS-8042] Fixed styles for inputs in library creation (#9751)
  lib/content-services/src/lib/dialogs/library/library.dialog.html
  lib/content-services/src/lib/dialogs/library/library.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed process unit test fail
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] - Rebased
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  package-lock.json
Due: prettier --write, stylelint

Fixed broken unit test after rebase
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

Fixed package and e2e with tabs that now are capital letters?
  e2e/process-services-cloud/form-field/visibility-condition-tabs.e2e.ts
  e2e/resources/forms/tab-visibility-conditions.ts
  lib/testing/src/lib/protractor/process-services-cloud/resources/resources.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

Updated today date selector
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
Due: prettier --write, eslint

Added missing mat selector for mat-list-item-disabled (#9763)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Removed wrong version on core package
  lib/core/package.json
Due: none

[ACS-8157] Used mat chip set instead of mat chip listbox for dynamic chip list to hide tick icon for chips (#9803)
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
Due: none

[ACS-7944] [ADW] Start process page (#9802)
  lib/core/src/lib/login/components/login/login.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget-dialog.component.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
Due: prettier --write, stylelint

[ACS-7974] Adding material selectors for assign security marks dialog (#9755)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

AAE 22837 Move confirm to core (#9750)
  docs/README.md
  docs/core/dialogs/confirm.dialog.md
  docs/release-notes/RelNote320.md
  docs/versionIndex.md
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.ts
  lib/content-services/src/lib/dialogs/dialog.module.ts
  lib/content-services/src/lib/dialogs/public-api.ts
  lib/content-services/src/lib/i18n/ar.json
  lib/content-services/src/lib/i18n/cs.json
  lib/content-services/src/lib/i18n/da.json
  lib/content-services/src/lib/i18n/de.json
  lib/content-services/src/lib/i18n/en.json
  lib/content-services/src/lib/i18n/es.json
  lib/content-services/src/lib/i18n/fi.json
  lib/content-services/src/lib/i18n/fr.json
  lib/content-services/src/lib/i18n/it.json
  lib/content-services/src/lib/i18n/ja.json
  lib/content-services/src/lib/i18n/nb.json
  lib/content-services/src/lib/i18n/nl.json
  lib/content-services/src/lib/i18n/pl.json
  lib/content-services/src/lib/i18n/pt-BR.json
  lib/content-services/src/lib/i18n/ru.json
  lib/content-services/src/lib/i18n/sv.json
  lib/content-services/src/lib/i18n/zh-CN.json
  lib/content-services/src/lib/version-manager/version-list.component.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.html
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.module.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.scss
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.spec.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.ts
  lib/core/src/lib/dialogs/public-api.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint, stylelint

Removing implicitFlow in favor of codeFlow
  demo-shell/src/app/components/settings/host-settings.component.html
  demo-shell/src/app/components/settings/host-settings.component.ts
  lib/core/src/lib/app-config/app-config.service.ts
  lib/testing/package.json
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

[ACS-8066] Style inputs for link rule dialog (#9773)
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.html
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
Due: prettier --write, stylelint

[ACS-8066] Fixed unit tests (#9783)
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.spec.ts
Due: prettier --write, eslint

[ACS-8212] Fixed alignment issue of filters button in sidenav (#9828)
  lib/process-services/src/lib/process-list/components/process-filters/process-filters.component.scss
  lib/process-services/src/lib/task-list/components/task-filters/task-filters.component.scss
Due: prettier --write, stylelint

These dependencies will kill me
  lib/cli/package.json
  lib/content-services/package.json
  lib/core/package.json
  lib/extensions/package.json
  lib/process-services-cloud/package-lock.json
  lib/process-services-cloud/package.json
  lib/process-services/package.json
  lib/testing/package.json
  package-lock.json
  package.json
Due: none

[ACS-8096] Print button in the viewer does not open the print window (#9776) (#9778)
  lib/content-services/src/lib/common/services/rendition.service.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
Due: prettier --write, eslint, stylelint

[ACS-8158] Fixed spacing of tags in ACA (#9808)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint, stylelint

Removed -mdc as it's wrong for mat calendar
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Fixed linting for packages
  lib/content-services/src/lib/version-manager/version-list.component.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.module.ts
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

Fixed issue on focus mat calendar
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7973] [ACC] header layout (#9782)
  docs/core/components/search-text-input.component.md
  lib/core/src/lib/search-text/search-text-input.component.html
  lib/core/src/lib/search-text/search-text-input.component.ts
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

[ACS-7979] Fixed UI for create tags dialog (#9793)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/tag/tag.module.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
Due: prettier --write, eslint, stylelint

[ACS-8069] Updated error-content.component.html to be aligned with the new mat typography classes in angular material v15 (#9762)
  lib/core/src/lib/templates/error-content/error-content.component.html
Due: none

Insight material module has been removed
  lib/insights/src/lib/material.module.ts
Due: prettier --write, eslint

Fixed process unit test after huge rebase
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/material.module.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/process-user-info/process-user-info.module.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

[ACS-8231] [ADW] Processes button styling on hover- edit summary (#9833)
  lib/core/src/lib/form/components/form-renderer.component.scss
Due: prettier --write, stylelint

Disabled failing unit from content
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint

[ACS-7980] fix style (#9798)
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.html
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.scss
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.ts
Due: prettier --write, eslint, stylelint

[ACS-8196] fix style for pagination (#9810)
  lib/core/src/lib/pagination/pagination.component.scss
Due: prettier --write, stylelint

[ACS-7981] UI fixes for create categories dialog (#9754)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, eslint, stylelint

AAE-22965 fix datepicker focused element selector (#9814)
  lib/testing/src/lib/protractor/core/pages/material/date-picker-calendar.page.ts
Due: prettier --write, eslint
