Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

[ACS-8157] Used mat chip set instead of mat chip listbox for dynamic chip list to hide tick icon for chips (#9803)
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
Due: none

Fixed imports for confirm dialog unit tests
  lib/core/src/lib/dialogs/confirm-dialog/confirm.dialog.spec.ts
Due: prettier --write, eslint

Fixed after rebase
  lib/core/feature-flags/src/lib/directives/features.directive.ts
  lib/core/feature-flags/src/lib/directives/not-features.directive.ts
  lib/core/src/lib/auth/guard/auth-guard-bpm.service.spec.ts
  lib/core/src/lib/auth/guard/auth-guard-ecm.service.spec.ts
  lib/core/src/lib/auth/services/authentication.service.spec.ts
  lib/core/src/lib/form/components/widgets/multiline-text/multiline-text.widget.spec.ts
  lib/testing/package-lock.json
Due: prettier --write, eslint

[ACS-8008] - Inputs for properties panel "General info" (#9744)
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.scss
Due: prettier --write, stylelint

Fixed broken unit test after rebase
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[ACS-8066] Fixed unit tests (#9783)
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.spec.ts
Due: prettier --write, eslint

[ACS-8021] Inputs for comments (#9722)
  lib/core/src/lib/comments/comments.component.html
  lib/core/src/lib/comments/comments.component.scss
Due: prettier --write, stylelint

[ACS-7979] Fixed UI for create tags dialog (#9793)
  lib/content-services/src/lib/category/categories-management/categories-management.component.html
  lib/content-services/src/lib/category/categories-management/categories-management.component.scss
  lib/content-services/src/lib/category/categories-management/categories-management.component.ts
  lib/content-services/src/lib/tag/tag.module.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.html
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
Due: prettier --write, eslint, stylelint

Fixed missing locator for content e2e
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
Due: prettier --write, eslint

[ACS-8092] [ACA] testing angular 15 notifications bell is much smaller and is further from the profile page 2 (#9786)
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/core/src/lib/notifications/components/notification-history.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed after rebase
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.html
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.spec.ts
  lib/core/src/lib/context-menu/context-menu-list.component.ts
Due: prettier --write, eslint

fix folder-edit license headers
  lib/content-services/src/lib/folder-directive/folder-edit.directive.spec.ts
  lib/content-services/src/lib/folder-directive/folder-edit.directive.ts
Due: prettier --write, eslint

Fixing unit test and lint issues after merging with storybook latest
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.stories.ts
Due: prettier --write, eslint

AAE-23478 replace nav-list with action-list (#9875)
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filters-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/base-task-filters-cloud.component.html
Due: none

Fixed unit and lint
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/testing/core.story.module.ts
  lib/js-api/package.json
  lib/process-services/src/lib/app-list/apps-list.component.spec.ts
  lib/testing/package.json
Due: prettier --write, eslint

fix FolderEditDirective unit tests
  lib/content-services/src/lib/folder-directive/folder-edit.directive.spec.ts
  lib/content-services/src/lib/folder-directive/folder-edit.directive.ts
Due: prettier --write, eslint

[ACS-8230] Fixed UI for snackbars with long text content and action buttons (#9830)
  lib/core/src/lib/snackbar-content/snackbar-content.component.scss
Due: prettier --write, stylelint

[ACS-8196] fix style for pagination (#9810)
  lib/core/src/lib/pagination/pagination.component.scss
Due: prettier --write, stylelint

[ACS-8069] Updated error-content.component.html to be aligned with the new mat typography classes in angular material v15 (#9762)
  lib/core/src/lib/templates/error-content/error-content.component.html
Due: none

[ACS-8096] Print button in the viewer does not open the print window (#9776) (#9778)
  lib/content-services/src/lib/common/services/rendition.service.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
Due: prettier --write, eslint, stylelint

Fixed changed unit test
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

Removed wrong version on core package
  lib/core/package.json
Due: none

Removed -mdc as it's wrong for mat calendar
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Added missing import for uppercase pipe (#9748)
  lib/core/src/lib/form/components/form-renderer.component.ts
Due: prettier --write, eslint

[ACS-7974] Adding material selectors for assign security marks dialog (#9755)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed wrong package version
  lib/js-api/package.json
Due: none

[ACS-7983] Fixed security controls dialog (#9747)
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

Fixed package json
  lib/js-api/package.json
  lib/testing/package-lock.json
Due: none

[ACS-8272] [ADW] Testing Angular 15 - Misplaced buttons Cancel and Start process (#9869)
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
Due: prettier --write, stylelint

Revert "Removing implicitFlow in favor of codeFlow"
  demo-shell/src/app/components/settings/host-settings.component.html
  demo-shell/src/app/components/settings/host-settings.component.ts
  lib/core/src/lib/app-config/app-config.service.ts
  lib/testing/package.json
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

Fixing unit test
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/core/src/lib/about/about-github-link/about-github-link.component.html
  lib/core/src/lib/about/about-github-link/about-github-link.component.spec.ts
  lib/core/src/lib/about/about-server-settings/about-server-settings.component.spec.ts
  lib/core/src/lib/auth/mock/authentication.service.mock.ts
  lib/core/src/lib/testing/core.testing.module.ts
Due: prettier --write, eslint

[ACS-8275] - [ACA] Testing Angular 15 - Tags are not displayed correctly (#9872)
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
Due: prettier --write, stylelint

Fixing e2e tab label
  e2e/process-services-cloud/task-list/task-form-cloud-component-tab.e2e.ts
  e2e/process-services/tasks/task-details-form.e2e.ts
Due: prettier --write, eslint

[ACS-8113] UX bug - Checkbox selections checked state should be Hyland blue not green- edit summary
  docs/content-services/components/breadcrumb.component.md
  docs/content-services/components/document-list.component.md
  docs/core/components/datatable.component.md
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.html
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.spec.ts
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.ts
  lib/content-services/src/lib/document-list/components/document-list.component.html
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/document-list/components/document-list.component.ts
  lib/content-services/src/lib/i18n/en.json
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint, stylelint

[ACS-8113] UX bug - Checkbox selections checked state should be Hyland blue not green- edit summary (#9861)
  docs/content-services/components/breadcrumb.component.md
  docs/content-services/components/document-list.component.md
  docs/core/components/datatable.component.md
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.html
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.spec.ts
  lib/content-services/src/lib/breadcrumb/breadcrumb.component.ts
  lib/content-services/src/lib/document-list/components/document-list.component.html
  lib/content-services/src/lib/document-list/components/document-list.component.spec.ts
  lib/content-services/src/lib/document-list/components/document-list.component.ts
  lib/content-services/src/lib/i18n/en.json
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint, stylelint

AAE-22947 form-field-validator update
  lib/core/src/lib/form/components/widgets/core/form-field-validator.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
Due: prettier --write, eslint

AAE-22947 Update form.model
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
Due: prettier --write, eslint

AAE-22947 Update form-field.model
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint
