Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

Rebased to latest
  package.json
Due: none

Fixed pointless e2e
  e2e/content-services/metadata/metadata-properties.e2e.ts
Due: prettier --write, eslint

remaining unit test fixes for the Angular 15 update (#9218)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

Fixed unit tests after rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.scss
Due: prettier --write, eslint, stylelint

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

Fixing e2e - part III
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/dialog/start-task-dialog.page.ts
  e2e/process-services/pages/task-details.page.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/core/src/lib/context-menu/animations.ts
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
  lib/testing/src/lib/protractor/core/pages/form/form-fields.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/edit-task-filter-cloud-component.page.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/start-process-cloud-component.page.ts
Due: prettier --write, eslint, stylelint

Fixed unit tests after rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
Due: prettier --write, eslint

Honestly i'm going on just for the challenge now'
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint

Fixed js-api build
  package.json
Due: none

Fixing unit after rebase
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
Due: prettier --write, eslint

Fixed most of unit tests failing
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.html
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment/create-task-attachment.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Wrong setting page
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

[ACS-7532] - Click on chip in search gives redundant icon (#9544)
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.html
Due: none

[affected:*][ci:force] - Fixed problem after rebase
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/dialogs/folder.dialog.spec.ts
  lib/core/src/lib/directives/infinite-select-scroll.directive.spec.ts
Due: prettier --write, eslint

[AAE-21084] Fix e2e Content: Upload and Versioning - C279992 - fix enable togle selector
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Added pretheme for core as it is mandatory when publishing and rebuilding
  angular.json
  lib/core/project.json
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
Due: prettier --write, stylelint

AAE-21697 Fix people form widget style (#9555)
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] - REBASED
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.spec.ts
  lib/content-services/src/lib/aspect-list/services/aspect-list.service.spec.ts
  lib/content-services/src/lib/category/services/category-tree-datasource.service.spec.ts
  lib/content-services/src/lib/category/services/category.service.spec.ts
  lib/content-services/src/lib/common/services/content.service.spec.ts
  lib/content-services/src/lib/common/services/people-content.service.spec.ts
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.spec.ts
  lib/content-services/src/lib/dialogs/category-selector.dialog.spec.ts
  lib/content-services/src/lib/dialogs/download-zip/download-zip.dialog.spec.ts
  lib/content-services/src/lib/directives/check-allowable-operation.directive.spec.ts
  lib/content-services/src/lib/directives/library-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/library-membership.directive.spec.ts
  lib/content-services/src/lib/directives/node-delete.directive.spec.ts
  lib/content-services/src/lib/directives/node-download.directive.spec.ts
  lib/content-services/src/lib/directives/node-favorite.directive.spec.ts
  lib/content-services/src/lib/directives/node-restore.directive.spec.ts
  lib/content-services/src/lib/document-list/components/file-auto-download/file-auto-download.component.spec.ts
  lib/content-services/src/lib/document-list/services/lock.service.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.spec.ts
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.service.spec.ts
  lib/content-services/src/lib/node-comments/services/node-comments.service.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-filter-chips.component.html
  lib/content-services/src/lib/search/services/search.service.spec.ts
  lib/content-services/src/lib/security/services/security-controls-groups-marks-security.service.spec.ts
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/content-services/src/lib/tree/services/tree.service.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.directive.spec.ts
  lib/content-services/src/lib/version-compatibility/version-compatibility.service.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

Fixing unit test after last rebase + lint
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Remove fit
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
Due: prettier --write, eslint

[AAE-21085] Fix e2e Search - add content selector that wrap text
  e2e/search/pages/search-bar.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[AAE-21085] Fix e2e Search - revert to previous version, text should be written without pressing eneter to show the autocomplete list items
  e2e/search/search-component.e2e.ts
Due: prettier --write, eslint

[affected:*][ci:force] [AAE-21070] Fix e2e Content: Components - C587084 - fix class selectors
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[affected:*][ci:force] - Rebased
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.scss
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.scss
  package-lock.json
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
Due: prettier --write, eslint

Re Enabling unit test removed
  lib/content-services/src/lib/infinite-scroll-datasource/infinite-scroll-datasource.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed e2e with new notation
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

[affected:*][ci:force] Upgrading material selector class
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata-header.component.ts
  lib/content-services/src/lib/content-user-info/content-user-info.component.html
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-widget-chip/search-widget-chip.component.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/core/src/lib/card-view/components/card-view-arrayitem/card-view-arrayitem.component.scss
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.ts
  lib/core/src/lib/card-view/components/card-view-selectitem/card-view-selectitem.component.scss
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/form/components/widgets/text/text.widget.scss
  lib/core/src/lib/identity-user-info/identity-user-info.component.html
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/login/components/login.component.html
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/extensions/src/lib/components/dynamic-column/dynamic-column.component.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/process/process-filters/components/process-filter-dialog-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-filters/components/task-filter-dialog/task-filter-dialog-cloud.component.html
  lib/process-services/src/lib/form/start-form/start-form.component.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/form/widgets/people/people.widget.scss
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.scss
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
  lib/process-services/src/lib/task-list/components/task-details/task-details.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint, stylelint

[ACS-7419] Fix broken styling of notifications, apply pr remarks
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/tasks.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

[ACS-7413] Dialog height and spacing issues (#9515)
  lib/content-services/src/lib/dialogs/confirm.dialog.html
  lib/content-services/src/lib/dialogs/confirm.dialog.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixing e2e - the eternal fail
  lib/testing/src/lib/protractor/core/pages/form/widgets/dropdown-widget.page.ts
Due: prettier --write, eslint

[ACS-7528] - Notification and user icons are a bit different (#9540)
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

Fixing unit test after last rebase + lint
  lib/process-services-cloud/src/lib/common/date-range-filter/date-range-filter.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.html
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

[affected:*][ci:force] - Rebased and added an extra fix for after
  lib/process-services-cloud/src/lib/process/process-header/components/process-header-cloud.component.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the lord of E2E
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
  e2e/process-services/widgets/checkbox-widget.e2e.ts
  lib/testing/src/lib/protractor/core/pages/form/widgets/checkbox-widget.page.ts
Due: prettier --write, eslint

[ACS-7359] - Angular 15 - Edit aspects modal [ACA] (#9488)
  lib/content-services/src/lib/aspect-list/aspect-list-dialog.component.scss
  lib/content-services/src/lib/aspect-list/aspect-list.component.scss
  lib/core/src/lib/styles/_mat-selectors.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixed lint after error on important
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

[ACS-7414] - Manage versions dialog
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.html
  lib/content-services/src/lib/new-version-uploader/new-version-uploader.dialog.scss
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/content-services/src/lib/version-manager/version-list.component.scss
  lib/core/src/lib/notifications/components/notification-history.component.scss
Due: prettier --write, stylelint

Fix lint issue
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint
