Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

AAE-30168 Form Display Value does not show date variable (#10593)
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
Due: prettier --write, eslint

AAE-30170 added : to readme
  README.md
Due: none

updated simpleapp for AAE-30170
  e2e/resources/activiti7/simpleapp.zip
Due: none

30170 - update simpleapp for XAT-1209 - adding process and form
  e2e/resources/activiti7/simpleapp.zip
Due: none

AAE-30170 uploading simpleapp version 62
  e2e/resources/activiti7/simpleapp.zip
Due: none

[ACS-9119] Added margin-right 0 to mat-sidenav-content
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

AAE-25579 Toggle logs for skipped karma unit tests
  lib/content-services/karma.conf.js
  lib/core/karma.conf.js
  lib/extensions/karma.conf.js
  lib/insights/karma.conf.js
  lib/process-services-cloud/karma.conf.js
  lib/process-services/karma.conf.js
Due: prettier --write, eslint

AAE-30141 Fix broken amount field (#10588)
  lib/core/src/lib/form/components/widgets/amount/amount.widget.html
Due: none

[ACS-9119] Fixed textOrientation getting reset on arabic after browser refresh (#10591)
  lib/core/src/lib/common/index.ts
  lib/core/src/lib/common/models/default-languages.model.ts
  lib/core/src/lib/common/services/user-preferences.service.spec.ts
  lib/core/src/lib/common/services/user-preferences.service.ts
  lib/core/src/lib/language-menu/service/language.service.ts
  lib/core/src/lib/layout/components/layout-container/layout-container.component.html
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, eslint, stylelint --fix

AAE-30771 Show username on hover in people component
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint

AAE-30771 Show username on hover in people component (#10603)
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint

[ACS-8223] - Remove MomentDateTimePipe [ACS-8222] - Remove MomentDatePipe
  lib/core/src/lib/pipes/moment-date.pipe.ts
  lib/core/src/lib/pipes/moment-datetime.pipe.ts
  lib/core/src/lib/pipes/pipe.module.ts
  lib/core/src/lib/pipes/public-api.ts
Due: prettier --write, eslint

[ACS-8223] - Remove MomentDateTimePipe (#10602)
  lib/core/src/lib/pipes/moment-date.pipe.ts
  lib/core/src/lib/pipes/moment-datetime.pipe.ts
  lib/core/src/lib/pipes/pipe.module.ts
  lib/core/src/lib/pipes/public-api.ts
Due: prettier --write, eslint

AAE-28655 Fix for datatable not scrolling back up after paginations
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
Due: none

AAE-30563 Required Form Drop down with default selection
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/validators.ts
Due: prettier --write, eslint

AAE-30563 Required Form Drop down with default selection (#10614)
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/validators.ts
Due: prettier --write, eslint

AAE-27984 Fix fieldValueChanged rule for date widget
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.html
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.html
  lib/core/src/lib/form/components/widgets/date/date.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
Due: prettier --write, eslint

AAE-30563 Fix for dropdown IsRequired validator
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
Due: prettier --write, eslint

AAE-30563 Fix for dropdown IsRequired validator (#10616)
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
Due: prettier --write, eslint

[ACS-5184] show progress spinner on file navigation
  lib/core/src/lib/viewer/components/viewer.component.spec.ts
  lib/core/src/lib/viewer/components/viewer.component.ts
Due: prettier --write, eslint

[ACS-5184] show spinner unitl content is ready
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.html
  lib/core/src/lib/viewer/components/img-viewer/img-viewer.component.ts
  lib/core/src/lib/viewer/components/media-player/media-player.component.html
  lib/core/src/lib/viewer/components/media-player/media-player.component.ts
  lib/core/src/lib/viewer/components/pdf-viewer/pdf-viewer.component.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.html
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.scss
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-5184] unit test fix
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
Due: prettier --write, eslint

[ACS-5184] cr fix
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
Due: prettier --write, eslint

[ACS-5184] spelling error fix
  lib/core/src/lib/viewer/components/viewer-render/viewer-render.component.spec.ts
Due: prettier --write, eslint

Move section to separate component
  lib/core/src/lib/form/components/form-field/form-field.component.html
  lib/core/src/lib/form/components/form-field/form-field.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/form/components/form-section/form-section.component.html
  lib/core/src/lib/form/components/form-section/form-section.component.spec.ts
  lib/core/src/lib/form/components/form-section/form-section.component.ts
  lib/core/src/lib/form/components/mock/form-renderer.component.mock.ts
Due: prettier --write, eslint

AAE-30110 Render sections in runtime
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/form/components/mock/form-renderer.component.mock.ts
  lib/core/src/lib/form/components/mock/form.mock.ts
  lib/core/src/lib/form/components/widgets/core/container-column.model.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
  lib/core/src/lib/form/components/widgets/core/form.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form.model.ts
Due: prettier --write, eslint, stylelint --fix

Improve sections styles
  lib/core/src/lib/form/components/form-renderer.component.html
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/form-section/form-section.component.scss
  lib/core/src/lib/form/components/form-section/form-section.component.spec.ts
  lib/core/src/lib/form/components/form-section/form-section.component.ts
  lib/core/src/lib/form/components/widgets/display-text/display-text.widget.scss
Due: prettier --write, eslint, stylelint --fix

added early return improvement
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

[AAE-30879] - removed unsupported minimatch version in favor or a ESM compatible one
  lib/process-services-cloud/package-lock.json
Due: none

[ci:force] - removed unsupported minimatch version in favor or a ESM compatible one
  lib/core/package.json
  package-lock.json
  package.json
Due: none

[ci:force] - sync package-lock
  package-lock.json
Due: none

fix process services unit tests
  lib/process-services/src/lib/form/form.component.visibility.spec.ts
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.spec.ts
Due: prettier --write, eslint

use testingUtils
  lib/core/src/lib/form/components/form-section/form-section.component.spec.ts
Due: prettier --write, eslint

AAE-30141 add title column
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/attach-file-cloud-widget.component.ts
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table/file-properties-table-cloud.component.spec.ts
Due: prettier --write, eslint

AAE-27984 Fix fieldValueChanged called on init and blur for date widgets
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.html
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.html
  lib/core/src/lib/form/components/widgets/date/date.widget.spec.ts
  lib/core/src/lib/form/components/widgets/date/date.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.ts
Due: prettier --write, eslint
