Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

feat: adjust buttons based on ux mockups
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

fix: rename property to showBottomTabNavButtons for clarity
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
Due: prettier --write, eslint

feat: better strings and button positioning
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

feat: enable tab navigation buttons
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix

fix: build error
  lib/core/src/lib/form/components/form-renderer.component.ts
Due: prettier --write, eslint

feat: simplify changes
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.html
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/task-form-cloud/task-form-cloud.component.ts
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.html
  lib/process-services-cloud/src/lib/task/task-form/components/user-task-cloud/user-task-cloud.component.ts
Due: prettier --write, eslint

test: copilot suggestion
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint

AAE-44098 Bottom Tab nav buttons (#11801)
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-11350] Unit tests
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
  lib/core/src/lib/testing/unit-testing-utils.ts
Due: prettier --write, eslint

[ACS-11472] Fix file icon is not updated for version renditions (#11807)
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.spec.ts
  lib/content-services/src/lib/viewer/components/alfresco-viewer.component.ts
Due: prettier --write, eslint

Revert "AAE-44098 Bottom Tab nav buttons (#11801)"
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix

Revert "AAE-44098 Bottom Tab nav buttons (#11801)" (#11832)
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/core/src/lib/i18n/en.json
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-11350] Addressed copilot comments
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
Due: prettier --write, eslint

[ACS-11350] Addressed copilot comment
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
Due: prettier --write, eslint

[ACS-11350] keyboard navigation user incorrect focus order after collapsing the left navigation menu (#11835)
  lib/core/src/lib/layout/components/layout-container/layout-container.component.html
  lib/core/src/lib/layout/components/layout-container/layout-container.component.spec.ts
  lib/core/src/lib/layout/components/layout-container/layout-container.component.ts
  lib/core/src/lib/testing/unit-testing-utils.ts
Due: prettier --write, eslint

[ACS-11317] Fix a11y: Delete button in create tags popup is not focusable via keyboard
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.scss
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
  lib/core/src/lib/i18n/en.json
Due: prettier --write, eslint, stylelint --fix

[ACS-11317] use UnitTestingUtils
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.spec.ts
Due: prettier --write, eslint

[ACS-11317] cr fixes
  lib/content-services/src/lib/tag/tags-creator/tags-creator.component.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.html
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.scss
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.ts
Due: prettier --write, eslint, stylelint --fix

AAE-44987 Applying color and background to sidenav
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

AAE-44987 Applying color and background to sidenav (#11846)
  lib/core/src/lib/layout/components/layout-container/layout-container.component.scss
Due: prettier --write, stylelint --fix

AAE-44752 Add type to ProcessInstanceCloud
  lib/process-services-cloud/src/lib/process/start-process/models/process-instance-cloud.model.ts
Due: prettier --write, eslint

AAE-44752 Add type to ProcessInstanceCloud (#11847)
  lib/process-services-cloud/src/lib/process/start-process/models/process-instance-cloud.model.ts
Due: prettier --write, eslint

AAE-44946 - Sending also previous value to allow valuation and validation
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
  lib/core/src/lib/card-view/interfaces/card-view-update-options.interface.ts
  lib/core/src/lib/card-view/interfaces/card-view.interfaces.ts
  lib/core/src/lib/card-view/services/card-view-update.service.spec.ts
  lib/core/src/lib/card-view/services/card-view-update.service.ts
Due: prettier --write, eslint

AAE-44946 - Sending also previous value to allow valuation and validation
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
  lib/core/src/lib/card-view/interfaces/base-card-view-update.interface.ts
  lib/core/src/lib/card-view/interfaces/update-notification.interface.ts
  lib/core/src/lib/card-view/services/card-view-update.service.spec.ts
  lib/core/src/lib/card-view/services/card-view-update.service.ts
Due: prettier --write, eslint

AAE-44749 - Fixed wrong subscribe in test
  lib/core/src/lib/card-view/services/card-view-update.service.spec.ts
Due: prettier --write, eslint

AAE-45038 - Fixing logs and unit tests
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
Due: prettier --write, eslint

AAE-44946 - Sending also previous value to allow valuation and valida… (#11836)
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.ts
  lib/core/src/lib/card-view/interfaces/card-view-update-options.interface.ts
  lib/core/src/lib/card-view/interfaces/card-view.interfaces.ts
  lib/core/src/lib/card-view/services/card-view-update.service.spec.ts
  lib/core/src/lib/card-view/services/card-view-update.service.ts
Due: prettier --write, eslint

New Crowdin translations by GitHub Action
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

New Crowdin translations by GitHub Action (#11831)
  lib/core/src/lib/i18n/de.json
  lib/core/src/lib/i18n/es.json
  lib/core/src/lib/i18n/fr.json
  lib/core/src/lib/i18n/it.json
  lib/core/src/lib/i18n/pl.json
  lib/core/src/lib/i18n/pt.json
Due: none

AAE-45076 Fix svg icon style
  lib/core/src/lib/templates/empty-content/empty-content.component.scss
Due: prettier --write, stylelint --fix

AAE-45076 Fix svg icon style (#11849)
  lib/core/src/lib/templates/empty-content/empty-content.component.scss
Due: prettier --write, stylelint --fix

fix: height change
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

test: add some tests
  lib/core/src/lib/form/components/form-renderer.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
Due: prettier --write, eslint, stylelint --fix

feat: reduce overall padding
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint --fix

fix: copilot suggestions
  lib/core/src/lib/form/components/form-renderer.component.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.ts
Due: prettier --write, eslint, stylelint --fix
