Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

Fixed last unit tests
  lib/process-services-cloud/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.html
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  package.json
Due: prettier --write, eslint

Fixed package.json
  lib/cli/package.json
  package.json
Due: none

Fixing styles not migrated by material
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/card-view/components/card-view/card-view.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/form/components/form-renderer.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.scss
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
  lib/core/src/lib/info-drawer/info-drawer.component.scss
  lib/core/src/lib/search-text/search-text-input.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.scss
  lib/process-services/src/lib/process-user-info/process-user-info.component.scss
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
  lib/process-services/src/lib/task-list/components/task-details/task-details.component.scss
  lib/process-services/src/lib/task-list/components/task-form/task-form.component.scss
  lib/process-services/src/lib/task-list/components/task-standalone/task-standalone.component.scss
Due: prettier --write, stylelint

Fixed prod build
  angular.json
  package.json
Due: none

Fixing e2e - part III
  e2e/process-services/pages/dialog/create-checklist-dialog.page.ts
  e2e/process-services/pages/dialog/start-task-dialog.page.ts
  e2e/process-services/pages/task-details.page.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/core/src/lib/context-menu/animations.ts
  lib/core/src/lib/form/components/widgets/form.theme.scss
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.scss
  lib/testing/src/lib/protractor/content-services/pages/search/search-sorting-picker.page.ts
  lib/testing/src/lib/protractor/core/pages/form/form-fields.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/edit-task-filter-cloud-component.page.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/start-process-cloud-component.page.ts
Due: prettier --write, eslint, stylelint

Revert "Fixed a dependency problem"
  package.json
Due: none

Fixed unit tests after rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-boolitem/card-view-boolitem.component.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-keyvaluepairsitem/card-view-keyvaluepairsitem.component.scss
Due: prettier --write, eslint, stylelint

Fixed search e2es
  e2e/process-services-cloud/form-field/task-visibility-condition.e2e.ts
  e2e/process-services-cloud/task-list/task-header-cloud.e2e.ts
  e2e/search/components/search-number-range.e2e.ts
  e2e/search/search-filters.e2e.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-check-list.page.ts
Due: prettier --write, eslint

Fixed linting
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
Due: prettier --write, eslint, stylelint

E2E - fixing
  angular.json
  demo-shell/project.json
Due: none

Fixed a dependency problem
  package.json
Due: none

unit test fixes for migration (#9217)
  lib/js-api/test/upload.spec.ts
Due: prettier --write, eslint

Readded method removed
  e2e/core/pages/metadata-view.page.ts
Due: prettier --write, eslint

wrong xdescribe
  e2e/core/login/login-sso/login-sso.e2e.ts
Due: prettier --write, eslint

Fixed code flow switch setting
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

Fixed lint files and exclude some needing migration
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.scss
  lib/content-services/src/lib/site-dropdown/sites-dropdown.component.scss
  lib/content-services/src/lib/version-manager/version-list.component.scss
  lib/core/src/lib/form/components/inplace-form-input/inplace-form-input.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
Due: prettier --write, stylelint

[AAE-18267] change unit test setup for auth service (#9216)
  lib/core/src/lib/auth/services/authentication.service.spec.ts
Due: prettier --write, eslint

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

fixig e2es
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
Due: prettier --write, eslint

rebased and fixed the wrong directive for matList'
  docs/content-services/components/search.component.md
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-control.component.html
  lib/content-services/src/lib/upload/components/file-uploading-dialog.component.html
  lib/content-services/src/lib/upload/components/file-uploading-list-row.component.html
  lib/content-services/src/lib/version-manager/version-list.component.html
  lib/core/src/lib/notifications/components/notification-history.component.html
  lib/insights/src/lib/analytics-process/components/analytics-report-list.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/file-properties-table-cloud.component.html
  lib/process-services-cloud/src/lib/form/components/widgets/attach-file/upload-cloud.widget.html
  lib/process-services/src/lib/form/widgets/content-widget/attach-file-widget.component.html
  lib/process-services/src/lib/form/widgets/upload/upload.widget.html
  lib/process-services/src/lib/process-list/components/process-instance-tasks/process-instance-tasks.component.html
Due: prettier --write, eslint

Fixed linting and js-api tests
  lib/core/src/lib/pipes/date-time.pipe.spec.ts
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.spec.ts
  package.json
Due: prettier --write, eslint

Fixed unit tests
  lib/content-services/src/lib/common/services/upload.service.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata-card/content-metadata-card.component.spec.ts
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/content-services/src/lib/content-metadata/services/property-descriptors.service.spec.ts
  lib/content-services/src/lib/content-node-selector/content-node-selector.component.spec.ts
  lib/content-services/src/lib/content-type/content-type-dialog.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter-chips/search-facet-chip/search-facet-chip.component.spec.ts
  lib/content-services/src/lib/search/components/search-filter/search-filter.component.spec.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.ts
  lib/content-services/src/lib/search/components/search-text/search-text.component.html
  lib/content-services/src/lib/tree/components/tree.component.spec.ts
  lib/core/karma.conf.js
  lib/extensions/karma.conf.js
  lib/process-services-cloud/src/lib/group/components/group-cloud.component.spec.ts
Due: prettier --write, eslint

Fixing e2e - changing toggles
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

Fixed unit tests after rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/card-view/components/card-view-dateitem/card-view-dateitem.component.html
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.html
Due: prettier --write, eslint

Fixed slider search e2es
  e2e/search/components/search-slider.e2e.ts
  e2e/search/search-component.e2e.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/testing/src/lib/protractor/content-services/pages/search/search-categories.page.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-slider.page.ts
Due: prettier --write, eslint

fixed unit test problem and some other e2e
  e2e/process-services-cloud/form-field/task-visibility-condition.e2e.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services/src/lib/form/widgets/dynamic-table/dynamic-table.widget.html
  lib/testing/src/lib/protractor/core/pages/form/widgets/dynamic-table-widget.page.ts
Due: prettier --write, eslint

Fixing unit after rebase
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
Due: prettier --write, eslint

Fixed js-api build
  package.json
Due: none

Fixed the last e2es?
  e2e/process-services-cloud/task-list/task-header-cloud.e2e.ts
  lib/testing/src/lib/protractor/process-services-cloud/pages/start-process-cloud-component.page.ts
Due: prettier --write, eslint

fixig e2es - task and version
  e2e/process-services/pages/task-filters-demo.page.ts
  e2e/process-services/pages/tasks-list.page.ts
  e2e/process-services/tasks/task-filters-sorting.e2e.ts
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.html
  lib/process-services/src/lib/task-list/components/start-task/start-task.component.scss
Due: prettier --write, eslint, stylelint

remaining unit test fixes for the Angular 15 update (#9218)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
Due: prettier --write, eslint

Honestly i'm going on just for the challenge now'
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint

Attempt to fix the e2e run'
  angular.json
  package.json
Due: none

Fixed unit test failing
  lib/core/src/lib/info-drawer/info-drawer.component.scss
Due: prettier --write, stylelint

Fixed unit test
  lib/extensions/src/lib/services/extension-loader.service.spec.ts
Due: prettier --write, eslint

reverted broken rebase
  lib/testing/.browserslistrc
Due: none

Rebased to latest
  lib/content-services/src/lib/content-node-share/content-node-share.dialog.html
Due: none

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

Fixed most of unit tests failing
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.html
  lib/process-services/src/lib/attachment/create-process-attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment/create-task-attachment.component.html
  lib/process-services/src/lib/attachment/task-attachment-list/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/start-form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list/task-list.component.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{css,scss})
  eslint: any of: *.{ts,js}
  stylelint: any of: *.{css,scss}
