Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

[ACS-7381] tests fixes
  lib/testing/src/lib/protractor/core/pages/data-table-component.page.ts
  lib/testing/src/lib/protractor/core/pages/data-table/column.ts
Due: prettier --write, eslint

Modifying the CSS selector to exclude columns associated with multiselect functionality restores the resizing capability (#9660)
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

[ACS-6953] - Empty space when resizing browser to small window or opening it in mobile mode
  lib/core/src/lib/layout/components/sidenav-layout/sidenav-layout.component.scss
Due: prettier --write, stylelint

[ACS-7561] - Permissions page
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.html
  lib/content-services/src/lib/permission-manager/components/permission-list/permission-list.component.scss
Due: prettier --write, stylelint

[ACS-6953] - Empty space when resizing browser to small window or opening it in mobile mode (#9661)
  lib/core/src/lib/layout/components/sidenav-layout/sidenav-layout.component.scss
Due: prettier --write, stylelint

AAE-22345 Update date table parser
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-path-parser.helper.mock.ts
Due: prettier --write, eslint

AAE-22345 Update data table adapter
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table-adapter.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/data-table-adapter.widget.ts
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/mocks/data-table-adapter.mock.ts
Due: prettier --write, eslint

AAE-22345 Update
  lib/process-services-cloud/src/lib/form/components/widgets/data-table/helpers/data-table-path-parser.helper.ts
Due: prettier --write, eslint

Fixed linting
  lib/content-services/src/lib/material.module.ts
  lib/content-services/src/lib/search/components/search-properties/search-properties.component.scss
  lib/core/src/lib/material.module.ts
  lib/insights/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/form/components/widgets/date/date-cloud.widget.scss
  lib/process-services-cloud/src/lib/material.module.ts
  lib/process-services-cloud/src/lib/process/start-process/components/start-process-cloud.component.spec.ts
  lib/process-services/src/lib/material.module.ts
Due: prettier --write, eslint, stylelint

Make all the part build
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  migrations.json
  package.json
Due: prettier --write, eslint

Fixed storybook with migration to WP5
  .eslintrc.js
  .storybook/main.js
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/content-services/.storybook/main.js
  lib/process-services-cloud/.storybook/main.js
  package.json
Due: prettier --write, eslint, stylelint

Rebased with the latest develop
  lib/core/src/lib/form/components/widgets/amount/amount.widget.spec.ts
  lib/core/src/lib/form/components/widgets/text/text.widget.spec.ts
Due: prettier --write, eslint

Fixed most of unit tests failing
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/people/people-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/karma.conf.js
  lib/process-services/src/lib/attachment/create-process-attachment.component.html
  lib/process-services/src/lib/attachment/create-process-attachment.component.spec.ts
  lib/process-services/src/lib/attachment/create-task-attachment.component.html
  lib/process-services/src/lib/attachment/task-attachment-list.component.spec.ts
  lib/process-services/src/lib/form/start-form.component.spec.ts
  lib/process-services/src/lib/form/widgets/file-viewer/file-viewer.widget.spec.ts
  lib/process-services/src/lib/form/widgets/radio-buttons/radio-buttons.widget.spec.ts
  lib/process-services/src/lib/people/components/people-search-field/people-search-field.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process.component.spec.ts
  lib/process-services/src/lib/task-list/components/task-list.component.spec.ts
Due: prettier --write, eslint

Demo shell builds
  demo-shell/src/custom-style-dev.scss
  demo-shell/src/custom-style.scss
  lib/core/custom-theme/theme/typography.scss
  lib/core/src/lib/styles/_index.scss
Due: prettier --write, stylelint

Building testing package
  lib/testing/project.json
Due: none

[affected:*][ci:force] Fixing rebase
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.html
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
  lib/core/src/lib/dynamic-chip-list/dynamic-chip-list.component.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
Due: prettier --write, eslint

Fix lint issue
  lib/process-services-cloud/src/lib/form/components/form-cloud.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Remove fit
  e2e/process-services-cloud/start-task/start-task-group-cloud.e2e.ts
Due: prettier --write, eslint

[AAE-21084] Fix e2e Content: Upload and Versioning - C279992 - fix enable togle selector
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

Fixed dependency to allow greater versions
  lib/process-services-cloud/package.json
Due: none

Attempt to fix the e2e run'
  angular.json
  package.json
Due: none

[affected:*][ci:force] Fixing rebase
  lib/core/src/lib/card-view/components/card-view-textitem/card-view-textitem.component.spec.ts
  lib/process-services-cloud/src/lib/form/services/display-mode.service.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixing e2e - the long painful journey
  demo-shell/src/app.config.json
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/core/pages/metadata-view.page.ts
  e2e/process-services/pages/process-service-tab-bar.page.ts
  e2e/search/components/search-slider.e2e.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.html
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.spec.ts
  lib/content-services/src/lib/search/components/search-slider/search-slider.component.ts
  lib/testing/src/lib/protractor/content-services/pages/search/search-slider.page.ts
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
  lib/testing/src/lib/protractor/core/pages/material/toggle.page.ts
Due: prettier --write, eslint

fixig e2es
  e2e/content-services/metadata/metadata-properties.e2e.ts
  e2e/process-services/form/checklist-component.e2e.ts
  scripts/webdriver-update-newest/chrome_xml_schema.js
  scripts/webdriver-update-newest/update-to-newest-webdriver.sh
Due: prettier --write, eslint

readded missing dep
  package-lock.json
  package.json
Due: none

[affected:*][ci:force] Fixed check on expansion panel filter
  lib/testing/src/lib/protractor/core/pages/material/material-locators.ts
Due: prettier --write, eslint

Fixed code flow switch setting
  e2e/core/login/login-sso/login-sso.e2e.ts
  lib/testing/src/lib/protractor/core/pages/settings.page.ts
Due: prettier --write, eslint

remaining unit test fixes for the Angular 15 update (#9218)
  lib/content-services/src/lib/category/categories-management/categories-management.component.spec.ts
  lib/core/src/lib/datatable/components/date-cell/date-cell.component.spec.ts
  lib/core/src/lib/form/components/widgets/date-time/date-time.widget.spec.ts
  lib/process-services-cloud/src/lib/rich-text-editor/rich-text-editor.component.spec.ts
  lib/process-services-cloud/src/lib/task/task-header/components/task-header-cloud.component.spec.ts
  lib/process-services/src/lib/form/start-form.component.spec.ts
  lib/process-services/src/lib/process-list/components/start-process.component.spec.ts
Due: prettier --write, eslint

[affected:*][ci:force] Fixed lint
  lib/content-services/src/lib/permission-manager/components/user-role-column/user-role-column.component.ts
Due: prettier --write, eslint

Fixed js-api build
  package.json
Due: none

[affected:*][ci:force] Fixed lint after error on important
  lib/content-services/src/lib/content-node-selector/content-node-selector-panel.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Added pretheme for core as it is mandatory when publishing and rebuilding
  angular.json
  lib/core/project.json
  lib/core/src/lib/info-drawer/info-drawer-layout.component.scss
Due: prettier --write, stylelint

[affected:*][ci:force] Fixed lint
  lib/content-services/src/lib/version-manager/version-list.component.spec.ts
Due: prettier --write, eslint

Honestly i'm going on just for the challenge now'
  lib/content-services/src/lib/content-metadata/components/content-metadata/content-metadata.component.spec.ts
Due: prettier --write, eslint
