Repository Alfresco/alfresco-ng2-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint"],
  "*.{css,scss}": ["prettier --write", "stylelint --fix"]
}

[ACS-7363] Search - Advanced Filters - visual bugs in Logic and Properties filters (#9914)
  lib/content-services/src/lib/search/components/search-chip-autocomplete-input/search-chip-autocomplete-input.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.html
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.spec.ts
  lib/content-services/src/lib/search/components/search-logical-filter/search-logical-filter.component.ts
Due: prettier --write, eslint

Fixing build and tooling for cli:
  lib/cli/index.ts
  lib/cli/project.json
  lib/cli/scripts/index.ts
  lib/cli/scripts/plugins/index.ts
Due: prettier --write, eslint

Changing build for cli
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/cli/project.json
Due: none

Aae 0000 change cli build (#10031)
  lib/cli/index.ts
  lib/cli/package-lock.json
  lib/cli/package.json
  lib/cli/project.json
  lib/cli/scripts/index.ts
  lib/cli/scripts/plugins/index.ts
Due: prettier --write, eslint

AAE-24007 Update dropdown-cloud.widget
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
Due: prettier --write, eslint

AAE-24007 Update form-field.moel
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

AAE-24007 Dropdown aligment (undefined value should be reserved for empty option)
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
  lib/core/src/lib/form/components/widgets/core/form-field.model.ts
Due: prettier --write, eslint

AAE-24007 Update radio-buttons-cloud.widget
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.ts
Due: prettier --write, eslint

AAE-24007 Update tests
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
Due: prettier --write, eslint

AAE-24007 Minor update
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
Due: prettier --write, eslint

AAE-24007 Update
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
Due: prettier --write, eslint

AAE-23521 Fix improve datepicker reactive form
  lib/core/src/lib/form/components/widgets/core/form-field-types.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/form-cloud.module.ts
Due: prettier --write, eslint, stylelint --fix

AAE-23521 Fix improve dropdown reactive form
  lib/core/src/lib/form/components/widgets/core/form-field-types.ts
  lib/core/src/lib/form/components/widgets/core/form-field-validator.ts
  lib/core/src/lib/form/components/widgets/error/error.component.scss
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.scss
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
  lib/process-services-cloud/src/lib/form/form-cloud.module.ts
Due: prettier --write, eslint, stylelint --fix

[ACS-8349] Update init-aps-env scripts with new api endpoints
  lib/cli/scripts/init-aps-env.ts
Due: prettier --write, eslint

[ACS-8349] Update init-aps-env scripts with new api endpoints (#10042)
  lib/cli/scripts/init-aps-env.ts
Due: prettier --write, eslint

[ACS-8247] fixed empty context menu of datatable row
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.scss
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint, stylelint --fix

AAE-23830 @ehsan-2019 comments fixes
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.html
Due: prettier --write, eslint

AAE-23830 added condition to avoid enabling formControl when unnecessary
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint

AAE-23830 fix failures in process filters
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.ts
Due: prettier --write, eslint

AAE-23830 move the input back to the chip grid
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
Due: none

AAE-23830 convert readonly detection to if else
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
Due: prettier --write, eslint

AAE-23830 Fix labels and chips positioning in workspace process filters
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.ts
Due: prettier --write, eslint

AAE-23830 fix tests and add a loop tracker
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.ts
Due: prettier --write, eslint

AAE-24007 Fix units
  lib/core/src/lib/form/components/widgets/core/form-field.model.spec.ts
Due: prettier --write, eslint

AAE-23521 Update process services dropdown
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.html
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.spec.ts
  lib/process-services/src/lib/form/widgets/dropdown/dropdown.widget.ts
Due: prettier --write, eslint

AAE-23521 pr suggestions
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.html
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.ts
Due: prettier --write, eslint

[ACS-8247] replace selector on attribute
  lib/core/src/lib/datatable/components/datatable/datatable.component.html
  lib/core/src/lib/datatable/components/datatable/datatable.component.spec.ts
  lib/core/src/lib/datatable/components/datatable/datatable.component.ts
Due: prettier --write, eslint

AAE-24980 Fix ADF release warning username message
  .github/workflows/pull-request.yml
Due: none

AAE-23830 Fix chips positioning and filter render logic in process filters (#10015)
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.html
  lib/process-services-cloud/src/lib/people/components/people-cloud.component.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.html
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.spec.ts
  lib/process-services-cloud/src/lib/process/process-filters/components/edit-process-filter-cloud.component.ts
Due: prettier --write, eslint

AAE-24007 Fix
  lib/process-services-cloud/src/lib/form/components/widgets/radio-buttons/radio-buttons-cloud.widget.ts
Due: prettier --write, eslint

ACS-7600 fix documentation and method name
  docs/content-services/services/legal-hold.service.md
  docs/core/services/nodes-api.service.md
  lib/content-services/src/lib/common/services/nodes-api.service.ts
  lib/content-services/src/lib/legal-hold/services/legal-hold.service.ts
  lib/js-api/src/api/gs-core-rest-api/README.md
Due: prettier --write, eslint

fix real workflow
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

remove not needed @
  .github/workflows/release.yml
Due: none

AAE-23521 move tests
  lib/core/src/lib/form/components/widgets/core/form-field-validator.spec.ts
  lib/process-services-cloud/src/lib/form/components/widgets/dropdown/dropdown-cloud.widget.spec.ts
Due: prettier --write, eslint

fix context
  .github/workflows/release.yml
Due: none

AAE-24980 Fix ADF release warning username message (#10043)
  .github/workflows/release.yml
Due: none

AAE-25053 Remove wrong if statements from release ADF workflow
  .github/workflows/release.yml
Due: none

roll back workflow call inputs dry-run-flag
  .github/workflows/release.yml
Due: none
